#zamba_associated_documents_WF th {
    color: White;
    font-size: x-small;
	font-family: arial;
    background-color: #507CD1;
} #zamba_associated_documents_WF tr {
    color: black;
	font-family: arial;
    font-size: x-small; width:100%; 
    
} #zamba_associated_documents_WF zamba_associated_documents {
                color: #333333;
				font-family: arial;
                font-size: x-small;
                font-weight: lighter;
                border-collapse: collapse;
                border-style: dashed;
            }
#PolizasanterioresN th {
    color: White;
	font-family: arial;
    font-size: x-small;
    background-color: #507CD1;
} #PolizasanterioresN tr {
    color: black;
	font-family: arial;
    font-size: x-small;
    
} #PolizasanterioresN zamba_associated_documents {
                color: #333333;
				font-family: arial;
                font-size: x-small;
                font-weight: lighter;
                border-collapse: collapse;
                border-style: dashed;
            }
            
            

