.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	text-align: left;
}
.tablesorter tr th {
	background-color: #DDDDEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 3px;
}
.tablesorter  td {
	color: #3D3D3D;
	padding: 3px;
	vertical-align: top;
	font-size: 8pt;
	border: 1px solid #FFF;
}
.tablesorter  tr td {
	background-color:#F0F0F6;
}
.attributes_table {
	cellspacing:2;
	cellpadding:1;
	border:0;
}