#zamba_associated_documents {
    color: #333333;
    font-weight: normal;
	font-family: arial;
    border-collapse: collapse;
    font-size: x-small;
} #zamba_associated_documents th {
    color: White;
	font-family: arial;
    background-color: #507CD1;
    font-weight: bold;
	font-family: arial;
    font-size: x-small;
} #zamba_associated_documents tr {
    color: black;
	font-family: arial;
    
}

