td, th {
    white-space: nowrap;
    overflow: hidden;
    }
#zamba_associated_documents_1014 th {
    color: White;
    background-color: #507CD1;
    font-weight: bold;
font-family: arial;
    font-size: x-small;
} #zamba_associated_documents_1014 tr {
    color: black;
	font-family: arial;
    
    font-size: x-small;
} #zamba_associated_documents_1014 zamba_associated_documents {
                color: #333333;
				font-family: arial;
                font-size: xx-small;
                font-weight: normal;
                border-collapse: collapse;
                border-style: dashed;
            }

