<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>

<body>
    <h1 style="text-align: center;"><span style="color: #3366ff;"><strong>Bienvenido/a a Zamba RR.HH.</strong></span></h1>

    <p style="text-align: center;">Gestione sus graficos y operaciones de oficina de forma agil, sensilla e inteligente con Zamba RR.HH.</p>

    <h3 style="text-align: center;"><a title="Empezar" href="http://localhost:4200/#/passport/login" target="_blank" rel="noopener">Ir a Zamba RR.HH.</a></h3>
</body>

</html>
