<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>

<body>
    <h1 style="text-align: center;"><span style="color: #3366ff;"><strong>Bienvenido/a a Zamba RR.HH.</strong></span></h1>

    <p style="text-align: center;">Gestione sus graficos y operaciones de oficina de forma agil, sensilla e inteligente con Zamba RR.HH. Sientase comodo/a con nuestras multiples funciones que le facilitaran el trabajo, con Zamba RR.HH. haga mas, en menos tiempo.<br /><br />Para comenzar a navegar y utilizar Zamba RR.HH. haga clic en "Empezar"</p>

    <h3 style="text-align: center;"><a title="Empezar" href="http://localhost:4200/#/passport/login" target="_blank" rel="noopener">Empezar</a></h3>
</body>

</html>
