<!DOCTYPE html>
<html>

<body style="margin: 0;">
    <p>&nbsp;</p>
    <table style="width: 97%; font-family: Arial, sans-serif; padding: 0px 20px 10px 20px;" width="100%">
        <tbody>
            <tr>
                <td style="color: white; background-color: #b4b4b4; text-align: center; padding: 10px; border-radius: 10px;">
                    <h3>RECUPERACI&Oacute;N DE CONTRASE&Ntilde;A</h3>
                </td>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <br />
                    <p>Hemos recibido una solicitud para restablecer tu contrase&ntilde;a. Si no hiciste esta solicitud, puedes ignorar este correo electr&oacute;nico. De lo contrario, puedes restablecer tu contrase&ntilde;a usando el bot&oacute;n de abajo:</p>
                    <a style="display: inline-block; padding: 10px 20px; margin: 20px 0; color: #fff; background-color: #1890ff; text-decoration: none; border-radius: 5px;" href="#reset">Restablecer contrase&ntilde;a</a>
                    <p>Gracias, El equipo de soporte de Stardoc.</p>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>