.chico {
	FONT-SIZE: 7pt; COLOR: #1a4a7a; FONT-FAMILY: Arial, sans-serif
}
.lineaizq {
	BORDER-LEFT: #e1e1e1 1px solid
}
.cpo8 {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, sans-serif
}
.bordeazul {
	BORDER-RIGHT: #1a4a7a 1px solid; BORDER-TOP: #1a4a7a 1px solid; BORDER-LEFT: #1a4a7a 1px solid; BORDER-BOTTOM: #1a4a7a 1px solid
}
.titulonovedad {
	FONT-SIZE: 12pt; COLOR: #1a4a7a; FONT-FAMILY: Arial, sans-serif
}
.texto {
	FONT-SIZE: 10pt; LINE-HEIGHT: 18px; FONT-FAMILY: "Trebuchet MS", Arial, sans-serif
}
A {
	FONT-SIZE: 7pt; COLOR: #1a4a7a; FONT-FAMILY: "Trebuchet MS", Arial, sans-serif; TEXT-DECORATION: none
}
A:link {
	FONT-SIZE: 7pt; COLOR: #1a4a7a; FONT-FAMILY: "Trebuchet MS", Arial, sans-serif; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 7pt; COLOR: #1a4a7a; FONT-FAMILY: "Trebuchet MS", Arial, sans-serif; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 7pt; COLOR: #3399cc; FONT-FAMILY: "Trebuchet MS", Arial, sans-serif; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 7pt; COLOR: #1a4a7a; FONT-FAMILY: "Trebuchet MS", Arial, sans-serif; TEXT-DECORATION: none
}
.titulo {
	FONT-WEIGHT: normal; FONT-SIZE: 13pt; TEXT-TRANSFORM: none; COLOR: #3399cc; LINE-HEIGHT: 16pt; FONT-FAMILY: "Trebuchet MS", Arial, sans-serif; FONT-VARIANT: normal
}
.copete {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; LINE-HEIGHT: 18pt; FONT-FAMILY: "Trebuchet MS", Arial, sans-serif
}
