<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="libretas" value="Global Address List|All Users|Contacts"/>
    <add key="max_contactos" value="0"/>
    <add key="use_transaction" value="false"/>
    <add key="debug" value="false"/>
    <add key="log_query" value="false"/>
    <add key="zlevel" value="4"/>
    <add key="libretas_procesadas" value=""/>
    <add key="last_id_inserted" value="0"/>
    <add key="hora_ini" value="0"/>
    <add key="hora_fin" value="24"/>
    <add key="min_espera" value="10"/>
    <add key="cant_items_ciclo_work" value="25"/>
  </appSettings>
</configuration>