<nz-layout class="full-height-layout">
    <!-- Sidebar con lista de grupos y barra de búsqueda -->
    <nz-sider class="nz-sider-bg padding-right-10 " nzWidth="400px">
        <div class="card-container sidebar-card">
            <nz-tabset nzType="card" [(nzSelectedIndex)]="selectedTabIndex">
                <nz-tab nzTitle="Grupos">
                    <div class="sidebar-sticky-header">
                        <div class="column-header">Grupos</div>
                        <nz-input-group class="full-width-input" nzSearch [nzAddOnAfter]="suffixIconButton">
                            <input type="text" nz-input placeholder="Buscar grupos" [(ngModel)]="searchText"
                                (input)="filterGroups()" />
                        </nz-input-group>
                    </div>

                    <ng-template #suffixIconButton>
                        <button nz-button nzType="primary" nzSearch><span nz-icon nzType="search"></span></button>
                    </ng-template>
                    <nz-list nzItemLayout="horizontal">
                        <nz-list-item *ngFor="let item of filteredData" (click)="selectItem(item)"
                            [class.selected]="item === selectedItem" class="fz-item">
                            <div style="display: flex; align-items: center;">
                                <span nz-icon nzType="group" nzTheme="outline" style="margin-right: 8px;"></span>
                                <span>{{ item.title }}</span>
                            </div>

                        </nz-list-item>
                        <nz-list-empty *ngIf="filteredData.length === 0"></nz-list-empty>
                    </nz-list>
                </nz-tab>
                <nz-tab nzTitle="Usuarios">
                    <p>Contenido de Usuarios</p>
                </nz-tab>
            </nz-tabset>
        </div>
    </nz-sider>
    <!-- FIN: Sidebar con lista de grupos y barra de búsqueda -->
    <nz-content>
        <span class="selected-group-title">{{ selectedItem?.title }}</span>
        <div *ngIf="selectedTabIndex === 0">
            <div class="card-container height-80">
                <nz-tabset nzType="card">
                    <nz-tab nzTitle="Usuarios">
                        <div class="lists-container">
                            <div class="list-column">
                                <div class="sticky-header">
                                    <div class="column-header">Todos los usuarios</div>
                                    <nz-input-group class="full-width-input" nzSearch [nzAddOnAfter]="suffixIconButton">
                                        <input type="text" nz-input placeholder="Buscar usuarios"
                                            [(ngModel)]="searchTextUsers" (input)="filterUsers()" />
                                    </nz-input-group>
                                </div>
                                <nz-list nzItemLayout="horizontal">
                                    <nz-list-item *ngFor="let item of filteredUsers" class="fz-item-small"
                                        (dblclick)="moveToGroup(item)">
                                        <div style="display: flex; align-items: center;">
                                            <span nz-icon nzType="user" nzTheme="outline"
                                                style="margin-right: 8px;"></span>
                                            <span>{{ item.username }}</span>
                                        </div>
                                    </nz-list-item>
                                    <nz-list-empty *ngIf="filteredUsers.length === 0"></nz-list-empty>
                                </nz-list>
                            </div>
                            <div class="list-column">
                                <div class="sticky-header">
                                    <div class="column-header">Usuarios que pertenecen al grupo</div>
                                    <nz-input-group class="full-width-input" nzSearch [nzAddOnAfter]="suffixIconButton">
                                        <input type="text" nz-input placeholder="Buscar usuarios"
                                            [(ngModel)]="searchTextUsers" (input)="filterUsers()" />
                                    </nz-input-group>
                                </div>
                                <nz-list nzItemLayout="horizontal">
                                    <nz-list-item *ngFor="let item of perros" class="fz-item-small"
                                        (dblclick)="removeFromGroup(item)">
                                        <div style="display: flex; align-items: center;">
                                            <span nz-icon nzType="user" nzTheme="outline"
                                                style="margin-right: 8px;"></span>
                                            <span>{{ item.username }}</span>
                                        </div>
                                    </nz-list-item>
                                    <nz-list-empty *ngIf="perros.length === 0"></nz-list-empty>
                                </nz-list>
                            </div>
                        </div>
                    </nz-tab>
                    <nz-tab nzTitle="Grupos">
                        <p>Contenido de Grupos</p>
                    </nz-tab>
                </nz-tabset>
            </div>
        </div>
        <div *ngIf="selectedTabIndex === 1">
            <!-- Contenido para la pestaña Usuarios -->
        </div>
    </nz-content>
</nz-layout>