<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <runtime>
      <loadFromRemoteSources enabled="true" />
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
          <dependentAssembly>
             <assemblyIdentity name="Telerik.WinControls" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
             <bindingRedirect oldVersion="0.0.0.0-2017.1.221.40" newVersion="2017.1.221.40" />
          </dependentAssembly>
       </assemblyBinding>
    </runtime>
  <configSections>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <connectionStrings>
    <add name="ZOPTEntities" connectionString="metadata=res://*/ZOPTModel.csdl|res://*/ZOPTModel.ssdl|res://*/ZOPTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MARTIN-PC;initial catalog=ZambaDes13122012;persist security info=True;user id=sa;password=mar1234star;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ZambaEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MARTIN-PC;initial catalog=ZambaDes13122012;persist security info=True;user id=sa;password=mar1234star;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Zamba.AdminControls.My.MySettings.HDIZambaDes_15052014ConnectionString" connectionString="Data Source=server2008,1437;Initial Catalog=HDIZambaDes_15052014;Persist Security Info=True;User ID=sa;Password=doc" providerName="System.Data.SqlClient" />
    <add name="Zamba.AdminControls.MySettings.HDIZambaDes_15052014ConnectionString" connectionString="Data Source=server2008,1437;Initial Catalog=HDIZambaDes_15052014;Persist Security Info=True;User ID=sa;Password=doc" providerName="System.Data.SqlClient" />
    <add name="Zamba.AdminControls.MySettings.DemoSiniestrosConnectionString" connectionString="Data Source=server2008,1437;Initial Catalog=DemoSiniestros;Persist Security Info=True;User ID=sa;Password=doc" providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup></configuration>
