.grid {
    
  width: 553px;
  height: 370px;
  padding:0px;
}
/*primera tabla de zmachine*/

.navbar-brand {
    color: #3a9dfd !important;
    position:relative;
    right:45px;
    font-size:18px;
}

.MainPanel{

    margin-top:40px;
}



.SubNavbar{

    position:relative;
    top:40px;
    left:50px;
}

.Images
{
    width:50px;
    height:50px;
}


.BtnColors {
    /*color: #3a9dfd !important;
    background-color: #f9f9f9 !important;
    border-color: #f2f2f2 !important;*/
}


/*Se pisa el color de la grilla que asigna el framework*/

.ui-grid-top-panel{

   background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffffff), color-stop(1, #ffffff)) !important;
}