<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpsBinding>
                <binding name="wDigDepFielSoap"/>             
            </basicHttpsBinding>
        </bindings>
        <client>
            <endpoint address="https://testdia.afip.gov.ar/Dia/Ws/wDigDepFiel/wDigDepFiel.asmx" binding="basicHttpsBinding" bindingConfiguration="wDigDepFielSoap" contract="wDigDepFiel.wDigDepFielSoap" name="wDigDepFielSoap"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
