<div class="firstDiv" [style.height.px]="height">
    <nz-layout>
        <nz-sider [nzWidth]="400">
            <div class="search-anchor" nz-row [nzGutter]="4">

                <div nz-col nzXs="16" nzFlex="auto">
                    <nz-input-group [nzPrefix]="prefixTemplateUser" class="btnSearch" style="width: 100%;">
                        <input type="text" nz-input placeholder="Buscar" [(ngModel)]="searchValue"
                            (ngModelChange)="search($event)" />
                    </nz-input-group>

                    <ng-template #prefixTemplateUser>
                        <i nz-icon class="iconSetting" nzType="search"></i>
                    </ng-template>
                </div>

                <div nz-col nzXs="8">
                    <button nz-button nzType="primary" nzBlock [disabled]="!CreatePermission"
                        (click)="navigateToCreate()" routerLinkActive="active">
                        <i nz-icon nzType="plus"></i> Crear
                    </button>
                </div>
            </div>

            <div>
                <ul class="ulContainer-menu" nz-menu nzMode="inline">
                    <li #itemTree *ngFor="let itemTree of TREE_DATA" nz-submenu nzTitle="{{itemTree.name}}" nzOpen
                        nzIcon="file">

                        <ul class="ulContainer-menu" nz-menu nzMode="inline">

                            <div *ngFor="let itemLeaf of (itemTree.currentReport | filter:searchValue)">
                                <div nz-row>

                                    <div nz-col nzSpan="21">
                                        <li #itemLeaf class="li-line-height move-up " nz-menu-item
                                            routerLinkActive="active"
                                            (click)="switchView('viewer');navigateToView(itemLeaf.ID)">

                                            <div nz-row>
                                                <div nz-col>
                                                    <span class="ellipsis">{{ itemLeaf.Name }}</span>
                                                    <br>
                                                    <span nz-typography nzType="secondary" class="ellipsis">
                                                        {{itemLeaf.Description}}
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                    </div>

                                    <div nz-col nzSpan="3">
                                        <div>
                                            <button class="right-align btnSetting" nz-button nzShape="circle"
                                                nzSize="small">
                                                <i nz-icon class="iconSetting" nzType="menu" nzSize="small" nz-dropdown
                                                    nzTrigger="click" [nzDropdownMenu]="menu"> </i>
                                            </button>
                                        </div>

                                        <nz-dropdown-menu #menu="nzDropdownMenu">
                                            <ul nz-menu>
                                                <li nz-menu-item (click)="navigateToEdit(itemLeaf.ID)"
                                                    [nzDisabled]="!UpdatePermission">
                                                    <i nz-icon nzType="edit"></i> Editar
                                                </li>
                                                <li nz-menu-item (click)="exportToExcel(itemLeaf)" [nzDisabled]="">
                                                    <i nz-icon nzType="arrow-down" nzTheme="outline"></i> Exportar excel
                                                </li>

                                                <li nz-menu-item (click)="viewCharts(itemLeaf.ID)" [nzDisabled]="">
                                                    <i nz-icon nzType="bar-chart" nzTheme="outline"></i> Ver gráficos
                                                </li>

                                                <li nz-menu-divider></li>
                                                <li nz-menu-item (click)="deleteReport(itemLeaf)"
                                                    [nzDisabled]="!DeletePermission"
                                                    [ngClass]="{'greycolor': !DeletePermission,'redcolor': DeletePermission }">
                                                    <i nz-icon nzType="delete"></i> Eliminar
                                                </li>
                                            </ul>
                                        </nz-dropdown-menu>
                                    </div>
                                </div>

                            </div>
                        </ul>
                    </li>
                </ul>
            </div>

        </nz-sider>

        <nz-layout>
            <nz-content [style.height.px]="height" class="content-container">
                <router-outlet #outlet="outlet"></router-outlet>
            </nz-content>
        </nz-layout>

    </nz-layout>
</div>