<div class="firstDiv">
    <nz-layout class="nzLayoutHeight100percent">
        <nz-sider>
            <div class="search-container">
                <div nz-row>

                    <div nz-col nzFlex="auto">
                        <nz-input-group class="btnSearch" style="width: 100%;">
                            <input type="text" nz-input placeholder="Search" [(ngModel)]="searchValue"
                                (ngModelChange)="search($event)" />
                        </nz-input-group>
                    </div>

                    <div nz-col nzFlex="100px" *ngIf="CreatePermission">
                        <button nz-button class="btnCreateReport" nzType="primary" nzBlock
                            routerLink="/dashboard/report/create" routerLinkActive="active">
                            <i nz-icon class="iconSetting" nzType="plus" nzSize="small"> Create </i>
                        </button>
                    </div>
                </div>
            </div>


            <ul nz-menu nzMode="inline">
                <li *ngFor="let itemTree of TREE_DATA" nz-submenu nzOpen nzTitle="{{itemTree.name}}" nzIcon="file">
                    <ul>
                        <li nz-menu-item *ngFor="let itemLeaf of (itemTree.currentReport | filter:searchValue)"
                            routerLink="/dashboard/report/{{itemLeaf.ID}}" routerLinkActive="active">

                            {{ itemLeaf.Name }}

                            <button class="right-align btnSetting" nz-button nzShape="circle" nzSize="small">
                                <i nz-icon class="iconSetting" nzType="setting" nzSize="small" nz-dropdown
                                    nzTrigger="click" [nzDropdownMenu]="menu"> </i>
                            </button>

                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                <ul nz-menu>
                                    <li nz-menu-item routerLink="/dashboard/report/edit/{{itemLeaf.ID}}">
                                        <i nz-icon nzType="edit"></i> Editar
                                    </li>

                                    <li nz-menu-divider></li>
                                    <li nz-menu-item style="color: red;" (click)="deleteReport(itemLeaf)">
                                        <i nz-icon nzType="delete"></i> Eliminar
                                    </li>
                                </ul>
                            </nz-dropdown-menu>

                        </li>
                    </ul>
                </li>
            </ul>
        </nz-sider>

        <nz-content>
            <router-outlet></router-outlet>
        </nz-content>
    </nz-layout>
</div>