:host {
    // text-align: center;
}

nz-header,
nz-footer {
    background: #7dbcea;
    color: #fff;
}

.ant-layout-sider {
    position: relative;
    min-width: 0;
    background: #ffffff;
    transition: all 0.2s;
}

nz-sider {
    flex: 0 0 33% !important;
    line-height: 10px !important;
    min-width: 100px !important;
    max-width: 700px !important;
    color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;

    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #7dbcea;
        border-radius: 10px;
        border: 3px solid #f1f1f1;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #ff0000;
    }

}

nz-content {
    min-height: 10px !important;
    line-height: 10px !important;
}

nz-layout nz-layout,
nz-layout:last-child {
    margin: 0;
}

.firstDiv {
    height: 500px !important;
}

.nzLayoutHeight100percent {
    height: 100% !important;
}

.reportList {
    list-style-type: none;
    padding: 0;
}

.reportsContainer {
    border-right: 1px solid #ccc;
    padding: 10px;
}

.reportName {
    margin-bottom: 0px !important;
}

.reportName:hover {
    cursor: pointer;
}

nz-tree-view {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    padding-right: 7px !important;
}

.nztreeview {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    padding-right: 7px !important;
}

.reportList a {
    color: black;
}

nz-input-group {
    margin-bottom: 8px;
}

::ng-deep .highlight {
    color: #f50;
}

.right-align {
    position: absolute;
    right: 10px;
}

.tree-node-container {
    position: relative;
}

nz-divider {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.right-align {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

li[nz-menu-item] {
    position: relative;
}