<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebServiceTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebServiceTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WebServiceTest.Properties.Settings>
            <setting name="WSGet" serializeAs="String">
                <value>http://www.stardoc.com.ar/webservice1/Service.asmx</value>
            </setting>
            <setting name="WebServiceTest_localhost_Service" serializeAs="String">
                <value>http://www.stardoc.com.ar/webservice1/Service.asmx</value>
            </setting>
        </WebServiceTest.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <WebServiceTest.Properties.Settings>
            <setting name="WebServiceTest_ar_com_stardoc_www_Service" serializeAs="String">
                <value>http://localhost:4173/Zamba.WebServices/Service.asmx</value>
            </setting>
            <setting name="WebServiceTest_DocTypesWebService_Service" serializeAs="String">
                <value>http://localhost:4175/RemoteDocumentInsert/Service.asmx</value>
            </setting>
        </WebServiceTest.Properties.Settings>
    </applicationSettings>
</configuration>