.ClaseGenerica_1 {margin-top:10%;margin-bottom:20px}
.ClaseGenerica_2 {width: 83%;margin-top: 10px;}
.ClaseGenerica_3 {width: 83%;}
.ClaseGenerica_4 {text-align:center;font-weight:800;margin-top:15px}
.mensajeLegal_5 {font-size:medium}
.ClaseGenerica_6 {text-align:center}
.ingresar_7 {display:none}

body {
    background-image: url('Resources/Fondo-Okta-Zamba.png');
    background-size: cover;
}

.hide {
    display: none;
}