.titulo {
	font-family: Verdana;
	color: #33ccff;
	font-size: 24px;
	font-weight:normal;
	line-height:15px
}

.titulo2 {
	font-family: Verdana;
	color: #003669;
	font-size: 10px;
	font-weight:bold;
	line-height:14px;
}

.titulo3 {
	font-family: Verdana;
	color: #0099cc;
	font-size: 12px;
	font-weight:normal;
}


.texto {
	font-family: Verdana;
	font-size: 10px;
	color: #000000;
	font-weight:normal;
}

.textonoticia {
	font-family: Verdana;
	font-size: 10px;
	color: #3399ff;
	font-weight:normal;
}

.textoformulario {
	font-family: Verdana;
	font-size: 9px;
	color: #3399ff;
	font-weight:normal;   
}

.lineadivision{
	font-family: Verdana;
	font-size: 9px;
	color: #3399ff;
	font-weight:normal;
    line-height:19px;
}


.link{font-family:Verdana;color:#000066;font-size:12px;font-weight:bold;letter-spacing:0;text-decoration:none;line-height:5px}
.link:hover{font-family:Verdana;color:#0000FF;font-size:12px;font-weight:bold;letter-spacing:0;text-decoration:underline}

.linktitnoticia{font-family:Verdana;color:#0099cc;font-size:11px;font-weight:bold;letter-spacing:0;text-decoration:none;line-height:22px}
.linktitnoticia:hover{font-family:Verdana;color:#000000;font-size:11px;font-weight:bold;letter-spacing:0;text-decoration:underline}

.linktitnoticiaprincipal{font-family:Verdana;color:#0099cc;font-size:16px;font-weight:bold;letter-spacing:0;text-decoration:none;line-height:25px}
.linktitnoticiaprincipal:hover{font-family:Verdana;color:#000000;font-size:16px;font-weight:bold;letter-spacing:0;text-decoration:underline}

.linkmenu_cab{font-family:Verdana;color:#ffffff;font-size:10px;font-weight:bold;letter-spacing:0;text-decoration:none;line-height:0px}
.linkmenu_cab:hover{font-family:Verdana;color:#000000;font-size:10px;font-weight:bold;letter-spacing:0;text-decoration:underline}

.linkmenu_izq{font-family:Verdana;color:#000066;font-size:10px;font-weight:bold;letter-spacing:0;text-decoration:none;line-height:16px}
.linkmenu_izq:hover{font-family:Verdana;color:#0000FF;font-size:10px;font-weight:bold;letter-spacing:0;text-decoration:underline}

.linkmenu_izq1{font-family:Verdana;color:#000066;font-size:10px;font-weight:none;letter-spacing:0;text-decoration:none;line-height:12px}
.linkmenu_izq1:hover{font-family:Verdana;color:#0000FF;font-size:10px;font-weight:none;letter-spacing:0;text-decoration:underline}
