#zamba_associated_documents {
	color: #333333;
	font-weight: normal;
	border-collapse: collapse;
} #zamba_associated_documents th {
	color: White;
	background-color: #507CD1;
	font-weight: bold;
} #zamba_associated_documents tr {
	color: black;
	
}
#input[type=submit]
		{ 
			color: #000000; 
			font: bold 84% 'trebuchet ms',helvetica,sans-serif; 
			background-color: #D8D8E8; 
			cursor: hand;
			border-color: #D8D8E8; 
			width: auto;
		} 	

