.Label{
	font-family: Arial;
	font-size: xx-small;
	text-align: left;
	color: Navy;
}
.TextBox{
	font-family: Arial;
	font-style: italic; 
	font-size: small;
	font-variant: normal;
}
.Button{
	background-color: #EFF3FB;
	border-color: #CCCCCC; 
	border-style: solid;
	border-width: thin;
	font-family: Arial;
	font-size: xx-small;
	color: #284775;
}
.ToogleButton{
	background-color: Black;
	width: 20px;
	height: 20px;
	vertical-align : middle;
	text-align: center;
	border-style: solid;
	border-width: thin;
	font-family: Arial;
	font-size: xx-small;
	color: White; 
	background-color: Olive; 
}

.Required	Validator{
	font-family: Arial;
	font-size: small;
	text-align: left;
	color: Red;
}

.ErrorMessage{
	font-family: Arial;
	font-size: medium ; 
	color: Red;
}
.Message{
	 font-family: Arial;
	 font-size: medium;
	 color: Navy;
}
.FieldSet
{
	font-family: Arial;
	font: caption; 
	font-size: medium; 
	color: navy
}
.Legend
{	font-family: Arial;
	font: caption; 
	font-size: medium; 
	color: navy
}

table{
	font-family: Arial;
	font-size: small;
	text-align: left;
	background-color:Transparent; 
}
.tableCentered
{
	font-family: Arial;
	font-size: small;
	background-color:Transparent; 
	text-align:center;
}
.Table {
	border-width: thin thin thin thin;
	border-spacing: 2px;
	border-style: none none none none;
	border-color: black black black black;
	border-collapse: separate;
}
.Table td {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: inset inset inset inset;
	border-color: gray gray gray gray;
	font-size:xx-small;
}
div.Error 
{
	color:Red;
}

div.Request 
{
	text-align:center;
}
div.Tasks
{
	text-align:center; 
	height: 200px; 
}
div.NeededValues
{
	text-align:center; 
}
div.Actions
{
text-align: right;	
}

body
{
	font-size:xx-small;
}