<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAgentService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.stardoc.com.ar/Zamba.ControlPanel/WS/AgentService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAgentService"
                contract="AgentServiceReference.IAgentService" name="BasicHttpBinding_IAgentService" />
        </client>
    </system.serviceModel>
</configuration>