.grid-config {
    height: 120px;
    font-size: 14px;
    line-height: 120px;
    background: #0092ff;
    border-radius: 4px;
}

// table {
//     border-collapse: collapse;
// }

// td.cell {
//     border: 1px solid #00000044;
//     height: 200px;
//     text-align: center;
//     vertical-align: middle;
// }

table {
    border-collapse: collapse;
    table-layout: fixed;
    /* evita que se deforme */
    width: 100%;
}

td.cell {
    border: 1px solid #000;
    text-align: center;
}