<table class="grid-table" height="100%" width="100%">
    <tr *ngFor="let r of [].constructor(DimY); let rowY = index">
        <ng-container *ngFor="let c of [].constructor(DimX); let colX = index">

            <!-- solo dibujar si no está cubierta -->
            <ng-container *ngIf="!isCellCovered(rowY+1, colX+1)">

                <!-- ocupado -->
                <td class="cell" *ngIf="getChartAt(rowY+1, colX+1) as chart" [attr.rowspan]="chart.DimY"
                    [attr.colspan]="chart.DimX">

                    <app-chart-component [ReportData]="ReportData" [chartType]="chart.ChartTypeDescripcion"
                        [AttrSelected]="chart.AttrSelected" [title]="chart.ChartTitle">
                    </app-chart-component>
                </td>

                <!-- libre -->
                <td class="cell" *ngIf="!getChartAt(rowY+1, colX+1) as chart">
                    LIBRE {{rowY+1}}, {{colX+1}} {{chart}}
                </td>

            </ng-container>
        </ng-container>
    </tr>
</table>