.grid-config {
    height: 120px;
    font-size: 14px;
    line-height: 120px;
    background: #0092ff;
    border-radius: 4px;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    /* evita que se deforme */
    width: 100%;
}

td.cell {
    // border: 1px solid #000;
    text-align: center;
}

.container {
    flex-grow: 1;
    padding-left: 10px;
}

// Alinear apariencia de botones con report-viewer
::ng-deep .anchorBtn {
    position: absolute !important;
}

.spinner-overlay {
    top: 0;
    left: 0;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}