   .slider {
       width: 50%;
   }

   .slider-container {
       margin-bottom: 16px;
   }

   .grid {
       display: flex;
       flex-wrap: wrap;
       width: 100%;
       height: 80%;
       /* alto total de la grilla */
   }

   .cell {
       flex: 0 0 50%;
       height: 50%;
       display: flex;
       align-items: center;
       justify-content: center;
       border: 1px solid #0000001a;
       box-sizing: border-box;
   }

   .grid-config {
       height: 120px;
       font-size: 14px;
       line-height: 120px;
       background: #0092ff;
       border-radius: 4px;
   }