body {
}


#FormNewUser{

    margin-top:2%;

}


.inputs{

    margin-bottom:10px;
}

.ImageZone{
   
    height:310px;
    border:1px solid #ccc;
    margin-top:20px;
}

.btnRegistro{

    position:relative;
    bottom:55px;
}