body {

    background-color:rgb(239, 239, 239) !important;
}


.inputs{

    margin-bottom:2px;
}

.ImageZone{
    height:295px;
    /*border:1px solid #ccc;*/
    margin-top:20px;
}

.inputs{

    width:98% !important;
}

#FormNewUser{

    background-color:white !important;
    border-radius:1%;
 
}

#imgupload:hover{

-webkit-box-shadow: 4px 6px 42px -1px rgba(153,153,153,1);
-moz-box-shadow: 4px 6px 42px -1px rgba(153,153,153,1);
box-shadow: 4px 6px 42px -1px rgba(153,153,153,1);
}

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}