<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebDavMail.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WebDavMail.Properties.Settings>
            <setting name="ExchangeServer" serializeAs="String">
                <value></value>
            </setting>
            <setting name="InboxName" serializeAs="String">
                <value>inbox</value>
            </setting>
            <setting name="DraftsName" serializeAs="String">
                <value>drafts</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="UserNameAlias" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </WebDavMail.Properties.Settings>
    </userSettings>
</configuration>