/*****Formulario Search******/
.Fielset-Frm-Search
{
    background-color:#F7FAFC;
}

#Table-Principal-Search
{
    width: 100%;
    background-color:#F7FAFC;
}

.Fielset-Control-DocTypesIndex
{

	PADDING-BOTTOM: 2px; 
	PADDING-LEFT: 2px; 
	PADDING-RIGHT: 10px; 

	PADDING-TOP: 2px;

}

.Legend-Control-DocTypesIndex
{
    border-style: none; color:#0045D6; margin-left: 5px;
}

#Table-Footer-Search
{
    background-color:#D1E5F5;
}

.chkBuscar-footer-search
{
    color:Black;
}

.Legend-search
{
    border-style: none;
    color:#0045D6;
    margin-left:5px
}

.searchButton
{
    height:22px;
    width:132px;
    cursor:pointer;
}
/***********Master Blank*******************/
.Table-Principal-MasterBlank
{
   background-color:#F7FAFC;
   width:100%;
   
}

.Div-principal-MasterBlank
{
    background-color:#F7FAFC;
    height:100%
}


/*******************Frm TaskDetail***************/
.Table-Task-Detail
{
    background-color:White;
}

.TabDoc-Task-Detail
{
}

.TabAsociate-Task-Detail
{
    overflow-y:visible;    
}

.TabForum-Task-Detail
{
    overflow-y:visible;
}

.TabHistory-Task-Detail
{
    overflow-y:visible;
}

.TabMails-Task-Detail
{
    overflow-y:visible;
}

/*****************Frm TaskHistory**********/
.Frm-Task-History
{
    background-color:White;    
}

.pnlRespuesta-Frm-Forum
{
    background-color:White;
}

/*****************/
.NewsTab .ajax__tab_header {font-family:verdana,tahoma,helvetica;background:url(images/tabs/tab-line.gif) repeat-x bottom;}
.NewsTab .ajax__tab_outer {height:2em;padding-right:4px;background:url(images/tabs/tab-right.gif) no-repeat right top;}
.NewsTab .ajax__tab_inner {padding-left:3px;background:url(images/tabs/tab-left.gif) no-repeat;}
.NewsTab .ajax__tab_tab {height:2em;line-height:1.8em;padding:0 4px;margin:0!important;background:url(images/tabs/tab.gif) repeat-x;}
.NewsTab .ajax__tab_hover .ajax__tab_outer {background:url(images/tabs/tab-hover-right.gif) no-repeat right top;}
.NewsTab .ajax__tab_hover .ajax__tab_inner {background:url(images/tabs/tab-hover-left.gif) no-repeat;cursor:pointer;}
.NewsTab .ajax__tab_hover .ajax__tab_tab {background:url(images/tabs/tab-hover.gif) repeat-x;}
.NewsTab .ajax__tab_active .ajax__tab_outer {background:url(images/tabs/tab-active-right.gif) no-repeat right top;}
.NewsTab .ajax__tab_active .ajax__tab_inner {background:url(images/tabs/tab-active-left.gif) no-repeat;}
.NewsTab .ajax__tab_active .ajax__tab_tab {background:url(images/tabs/tab-active.gif) repeat-x;}
.NewsTab .ajax__tab_body {font-family:verdana,tahoma,helvetica;border:0px solid #A3CEE0;border-top:0;padding:8px;background-color:#fff;}
.NewsTab .ajax__tab_body ul {list-style-type:disc;line-height:1.5em;padding-left:1em;}
.NewsTab .ajax__tab_body ul ul {list-style-type:square;}
.NewsTab .ajax__tab_body p {text-indent:1em;line-height:1.3em;margin-bottom:1em;}

/*****Frm TaskForm******/

.Body-Task-Forum
{
    background-color:White;
}

/********Frm Default**********/
.tabresults-Frm-Default
{

}


/***********Controles****************/
.Fielset-controles-UC
{
    background-color: #EFEFEF;
}

/**********Frm Views - Insert****************/
.div-Frm-Views-Insert
{
    background-color: #EFEFEF;
}

.body-Frm-Views-Insert
{
    background-color: #EFEFEF;
}

/*************Master Blank******************/
.Body-Master-Blanck
{
    background-color:#F7FAFC;
}

/*************Pagina TaskHistory*******************/
.body-TaskHistory
{
    background-color:#FFFFFF;
}

/*************InsertControl*******************/
.insertFormButton
{
    width:130px;
    height:30px;
    cursor:pointer;
}

/*************Indexs*******************/
.popupButton
{
    cursor:pointer;
}

.OverflowAuto
{
    overflow:auto;
}

/*****************Master Page*******************/

.div-presentation-Main{  
     position: absolute;
     z-index: 0;
     width:100%;
     background:#0E2B8D;
}

.div-tabl-principal-master{
     position: absolute;
     z-index: -10;
     left: 0;
     display:none;
 }

.second-div-presentation-Main
{
    padding-top:10px; 
    text-align: center; 
    background-image: url('Images/BackGround.jpg'); 
    background-color:white;
    background-position:center; 
    background-repeat:no-repeat; 
    height: 460px;
}

body
{
 font-family: "Microsoft Sans Serif",Arial, Helvetica, Sans-Serif;
 color: Black;
}

/****************Botones******************************/
#btnBusqueda-Aysa
{
 background-image: url("Images/Busqueda.png");
 width:150px;
 height:20px;
 border:none;
 margin-right:5px;
 cursor:pointer;
}


#btnListados-Aysa
{
 background-image: url("Images/Listados.png");
 width:150px;
 height:20px;
 border:none;
 margin-right:5px;
 cursor:pointer;
}

#btnInsertar
{
 background-image: url("Images/Insertar.png");
 width:150px;
 height:20px;
 border:none;
 margin-right:5px;
 cursor:pointer;
}