#Polizasanteriores th {
    color: White;
    background-color: #507CD1;
    font-weight: bold;
	font-family: arial;
} #Polizasanteriores tr {
    color: black;
	font-family: arial;
    background-color: rgb(239, 243, 251);
} #Polizasanteriores zamba_associated_documents {
                color: #333333;
				font-family: arial;
                font-size: xx-small;
                font-weight: normal;
                border-collapse: collapse;
                border-style: dashed;
            }

