td, th {
    white-space: nowrap;
    overflow: hidden;
    }
#zamba_associated_documents {
    color: #333333;
    font-weight: normal;
	font-family: arial;
    border-collapse: collapse;
} #zamba_associated_documents th {
    color: White;
    background-color: #507CD1;
    font-weight: bold;
	font-family: arial;
} #zamba_associated_documents tr {
    color: black;
	font-family: arial;
    background-color: rgb(239, 243, 251);
}

