:-webkit-full-screen {
    background: #fff;
}

:-moz-full-screen {
    background: #fff;
}

.m-md {
    margin-top: 20px;
}

.fullscreen {
    width: 500px;
    height: 500px;
}

/*
 * If you want to force the element that your have as a target to to be 100%
 * https://developer.mozilla.org/en-US/docs/Web/Guide/API/DOM/Using_full_screen_mode
:-webkit-full-screen .fullscreen {
  width: 100%;
  height: 100%;
}*/
