CREATE TABLE [dbo].[Action_Param] (
	[Name] [varchar] (20) COLLATE Modern_Spanish_CI_AS NULL ,
	[Type] [varchar] (20) COLLATE Modern_Spanish_CI_AS NULL ,
	[Value] [varchar] (20) COLLATE Modern_Spanish_CI_AS NULL ,
	[Action_Id] [int] NULL ,
	[Query_Order] [int] NULL ,
	[Param_Id] [int] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Automail] (
	[ID] [char] (10) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[Name] [varchar] (100) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[CC] [varchar] (200) COLLATE Modern_Spanish_CI_AS NULL ,
	[CCO] [varchar] (200) COLLATE Modern_Spanish_CI_AS NULL ,
	[MailTo] [varchar] (200) COLLATE Modern_Spanish_CI_AS NULL ,
	[MailFrom] [varchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[Subject] [varchar] (150) COLLATE Modern_Spanish_CI_AS NULL ,
	[Body] [char] (2000) COLLATE Modern_Spanish_CI_AS NULL ,
	[Confirmation] [bit] NULL ,
	[PathImages] [varchar] (4000) COLLATE Modern_Spanish_CI_AS NULL ,
	[PathFiles] [varchar] (4000) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[DISK_GROUP] (
	[DISK_GROUP_ID] [numeric](18, 0) NOT NULL ,
	[DISK_GROUP_NAME] [nvarchar] (30) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[DISK_GROUP_CRDATE] [datetime] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[DISK_GROUP_R_DISK_VOLUME] (
	[DISK_GROUP_ID] [numeric](18, 0) NOT NULL ,
	[DISK_VOLUME_ID] [int] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[DISK_VOLUME] (
	[DISK_VOL_ID] [int] NOT NULL ,
	[DISK_VOL_NAME] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[DISK_VOL_SIZE] [decimal](18, 0) NULL ,
	[DISK_VOL_TYPE] [int] NULL ,
	[DISK_VOL_COPY] [int] NOT NULL ,
	[DISK_VOL_PATH] [nvarchar] (255) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[DISK_VOL_SIZE_LEN] [decimal](18, 0) NULL ,
	[DISK_VOL_STATE] [int] NULL ,
	[DISK_VOL_LSTOFFSET] [int] NULL ,
	[DISK_VOL_FILES] [decimal](18, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[DOC_INDEX] (
	[INDEX_ID] [numeric](18, 0) NOT NULL ,
	[INDEX_NAME] [char] (30) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[INDEX_TYPE] [char] (10) COLLATE Modern_Spanish_CI_AS NULL ,
	[INDEX_LEN] [numeric](10, 0) NULL ,
	[AUTOFILL] [numeric](18, 0) NULL ,
	[NOINDEX] [numeric](18, 0) NULL ,
	[DROPDOWN] [numeric](10, 0) NULL ,
	[AUTODISPLAY] [numeric](18, 0) NULL ,
	[INVISIBLE] [numeric](18, 0) NULL ,
	[OBJECT_TYPE_ID] [numeric](10, 0) NULL ,
	[DROPDOWNTYPE] [numeric](18, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[DOC_NOTES] (
	[NOTE_ID] [numeric](18, 0) NOT NULL ,
	[X_POSITION] [numeric](10, 0) NOT NULL ,
	[Y_POSITION] [numeric](10, 0) NOT NULL ,
	[X_SIZE] [numeric](10, 0) NOT NULL ,
	[Y_SIZE] [numeric](10, 0) NOT NULL ,
	[USER_ID] [numeric](18, 0) NOT NULL ,
	[NOTE_DATE] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[NOTE_TIME] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[NOTE_TEXT] [nvarchar] (255) COLLATE Modern_Spanish_CI_AS NULL ,
	[DOC_ID] [nvarchar] (10) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[DOC_TYPE_ID] [numeric](18, 0) NULL ,
	[USER_NAME] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[Type] [numeric](10, 0) NULL ,
	[ImageId] [numeric](18, 0) NULL ,
	[Encrypted] [numeric](10, 0) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[DOC_RESTRICTIONS] (
	[DOC_TYPE_ID] [numeric](18, 0) NOT NULL ,
	[INDEX_ID] [numeric](18, 0) NOT NULL ,
	[STRING_VALUE] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[RESTRICTION_ID] [numeric](18, 0) NOT NULL ,
	[RESTRICTION_NAME] [varchar] (30) COLLATE Modern_Spanish_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[DOC_RESTRICTION_R_USER] (
	[USER_ID] [numeric](10, 0) NOT NULL ,
	[RESTRICTION_ID] [numeric](18, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[DOC_TYPE] (
	[DOC_TYPE_ID] [numeric](18, 0) NOT NULL ,
	[DOC_TYPE_NAME] [char] (60) COLLATE Modern_Spanish_CI_AS NULL ,
	[FILE_FORMAT_ID] [numeric](18, 0) NULL ,
	[DISK_GROUP_ID] [numeric](18, 0) NULL ,
	[THUMBNAILS] [numeric](18, 0) NULL ,
	[ICON_ID] [numeric](18, 0) NULL ,
	[CROSS_REFERENCE] [bit] NULL ,
	[LIFE_CYCLE] [bit] NULL ,
	[OBJECT_TYPE_ID] [numeric](4, 0) NULL ,
	[AUTONAME] [nvarchar] (255) COLLATE Modern_Spanish_CI_AS NULL ,
	[DOCCOUNT] [numeric](18, 0) NULL ,
	[DocumentalId] [numeric](18, 0) NULL ,
	[MB] [decimal](18, 0) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[DOC_TYPE_GROUP] (
	[DOC_TYPE_GROUP_NAME] [nvarchar] (30) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[ICON] [numeric](4, 0) NOT NULL ,
	[PARENT_ID] [numeric](10, 0) NOT NULL ,
	[OBJECT_TYPE_ID] [numeric](4, 0) NOT NULL ,
	[DOC_TYPE_GROUP_ID] [numeric](18, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[DOC_TYPE_R_DOC_TYPE] (
	[DocTypeID1] [numeric](18, 0) NULL ,
	[DocTypeID2] [numeric](18, 0) NULL ,
	[Index1] [numeric](18, 0) NULL ,
	[Index2] [numeric](18, 0) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[DOC_TYPE_R_DOC_TYPE_GROUP] (
	[DOC_TYPE_ID] [numeric](18, 0) NOT NULL ,
	[DOC_TYPE_GROUP] [numeric](18, 0) NOT NULL ,
	[DOC_ORDER] [numeric](18, 0) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Default_Search] (
	[DocTypeId] [numeric](18, 0) NULL ,
	[Value] [varchar] (50) COLLATE Modern_Spanish_CI_AS NULL ,
	[IndexId] [numeric](18, 0) NULL ,
	[UserId] [numeric](18, 0) NULL ,
	[Comparate] [char] (50) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[DocumentKeyIndexs] (
	[Id] [numeric](10, 0) NOT NULL ,
	[IndexId] [numeric](18, 0) NOT NULL ,
	[IndexValue] [nvarchar] (255) COLLATE Modern_Spanish_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[DocumentUpdateIndexs] (
	[Id] [numeric](10, 0) NOT NULL ,
	[IndexId] [numeric](18, 0) NOT NULL ,
	[IndexValue] [nvarchar] (255) COLLATE Modern_Spanish_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[DocumentsIndexs] (
	[Id] [numeric](10, 0) NOT NULL ,
	[IndexId] [numeric](18, 0) NOT NULL ,
	[IndexValue] [nvarchar] (255) COLLATE Modern_Spanish_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[DocumentsToInsertStatus] (
	[Id] [int] NOT NULL ,
	[Name] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[DocumentsUpdateStatus] (
	[Id] [int] NOT NULL ,
	[Name] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ESTREG] (
	[ID] [numeric](4, 0) NOT NULL ,
	[M_NAME] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[W_USER] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[VER] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[UPDATED] [datetime] NOT NULL ,
	[LAST_CHECK] [datetime] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[EXCEP] (
	[ID] [numeric](18, 0) NULL ,
	[FECHA] [datetime] NULL ,
	[ORIGEN] [nvarchar] (150) COLLATE Modern_Spanish_CI_AS NULL ,
	[DESCRIPCION] [nvarchar] (1000) COLLATE Modern_Spanish_CI_AS NULL ,
	[OBSERVACIONES] [nvarchar] (1000) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[INDEX_LINK] (
	[ID] [numeric](10, 0) NOT NULL ,
	[NAME] [varchar] (20) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[DESCRIPCION] [varchar] (200) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[INDEX_LINK_INFO] (
	[ID] [numeric](10, 0) NOT NULL ,
	[DATA] [varchar] (100) COLLATE Modern_Spanish_CI_AS NULL ,
	[FLAG] [numeric](1, 0) NOT NULL ,
	[DOCTYPE] [numeric](18, 0) NOT NULL ,
	[DOCINDEX] [numeric](18, 0) NOT NULL ,
	[NAME] [varchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[INDEX_R_DOC_TYPE] (
	[INDEX_ID] [numeric](18, 0) NOT NULL ,
	[DOC_TYPE_ID] [numeric](18, 0) NOT NULL ,
	[ORDEN] [numeric](18, 0) NOT NULL ,
	[MUSTCOMPLETE] [numeric](18, 0) NULL ,
	[LoadLotus] [numeric](18, 0) NULL ,
	[ShowLotus] [numeric](18, 0) NULL ,
	[Complete] [numeric](18, 0) NULL ,
	[IndexSearch] [char] (10) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[DefaultValue] [varchar] (100) COLLATE Modern_Spanish_CI_AS NULL ,
	[IsDataUnique] [decimal](5, 0) NULL ,
	[IsReferenced] [numeric](18, 0) NULL ,
	[AutoComplete] [numeric](18, 0) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[INDEX_R_INDEX_TYPE] (
	[INDEX_ID] [numeric](18, 0) NULL ,
	[INDEX_TYPE_ID] [numeric](18, 0) NULL ,
	[ORDEN] [numeric](18, 0) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[INDEX_TYPE] (
	[INDEX_TYPE_ID] [numeric](18, 0) NOT NULL ,
	[INDEX_TYPE_NAME] [nvarchar] (20) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[IPJOB_LIST] (
	[ID] [numeric](18, 0) NOT NULL ,
	[NAME] [varchar] (40) COLLATE Modern_Spanish_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[IPJOB_R_IPJOB_LIST] (
	[IPJOB_LIST_ID] [numeric](28, 0) NOT NULL ,
	[IPJOB_ID] [numeric](10, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[IP_FOLDER] (
	[NOMBRE] [nvarchar] (100) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[PATH] [nvarchar] (150) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[ID] [numeric](18, 0) NOT NULL ,
	[NOMBREMAQUINA] [nvarchar] (150) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[SERVICE] [numeric](18, 0) NULL ,
	[USER_ID] [numeric](18, 0) NULL ,
	[TIMER] [numeric](9, 0) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[IP_FOLDERBACKUP] (
	[ID_CARPETA] [numeric](18, 0) NOT NULL ,
	[ANTES] [numeric](18, 0) NOT NULL ,
	[CARPETA_BACKUP] [nvarchar] (250) COLLATE Modern_Spanish_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[IP_FOLDERCONF] (
	[ID_CARPETA] [numeric](18, 0) NOT NULL ,
	[TIMER] [numeric](9, 0) NOT NULL ,
	[DOMINGO] [numeric](1, 0) NOT NULL ,
	[LUNES] [numeric](1, 0) NOT NULL ,
	[MARTES] [numeric](1, 0) NOT NULL ,
	[MIERCOLES] [numeric](1, 0) NOT NULL ,
	[JUEVES] [numeric](1, 0) NOT NULL ,
	[VIERNES] [numeric](1, 0) NOT NULL ,
	[SABADO] [numeric](1, 0) NOT NULL ,
	[TIPO_CONF] [numeric](3, 0) NOT NULL ,
	[ALARMA] [nvarchar] (20) COLLATE Modern_Spanish_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[IP_FOLDER_PREPROCESS] (
	[IP_ID] [numeric](18, 0) NOT NULL ,
	[PREPROCESSNAME] [varchar] (200) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[PREPROCESSPARAM] [varchar] (200) COLLATE Modern_Spanish_CI_AS NULL ,
	[ORDERPOS] [numeric](2, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[IP_HST] (
	[IP_ID] [numeric](18, 0) NULL ,
	[IPDATE] [varchar] (30) COLLATE Modern_Spanish_CI_AS NULL ,
	[IPUSERID] [numeric](18, 0) NULL ,
	[IPDOCCOUNT] [numeric](9, 0) NULL ,
	[IPINDEXCOUNT] [numeric](9, 0) NULL ,
	[IPRESULT] [numeric](18, 0) NULL ,
	[IPLINESCOUNT] [numeric](9, 0) NULL ,
	[IPERRORCOUNT] [numeric](9, 0) NULL ,
	[IPPATH] [varchar] (250) COLLATE Modern_Spanish_CI_AS NULL ,
	[HST_ID] [numeric](18, 0) NULL ,
	[IP_HASH] [varchar] (50) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[IP_INDEX] (
	[IP_ID] [numeric](18, 0) NOT NULL ,
	[ARRAY_ID] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NULL ,
	[INDEX_ID] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NULL ,
	[INDEX_ORDER] [numeric](4, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[IP_PREPROCESS] (
	[IP_ID] [numeric](18, 0) NOT NULL ,
	[PREPROCESSNAME] [nvarchar] (30) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[PREPROCESSPARAM] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NULL ,
	[ORDERPOS] [numeric](2, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[IP_PROCESSTASK] (
	[ID_PROCESS] [numeric](18, 0) NULL ,
	[DIA] [numeric](18, 0) NULL ,
	[HORA] [nvarchar] (10) COLLATE Modern_Spanish_CI_AS NULL ,
	[MAQUINA] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NULL ,
	[ID_GROUP] [nvarchar] (10) COLLATE Modern_Spanish_CI_AS NULL ,
	[USER_ID] [numeric](18, 0) NULL ,
	[GRUPO_PROCESS] [char] (1) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[IP_RESULTS] (
	[RESULT_ID] [numeric](18, 0) NOT NULL ,
	[RESULT] [nvarchar] (20) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[IP_TASK] (
	[ID] [numeric](18, 0) NOT NULL ,
	[ID_CONFIGURACION] [numeric](18, 0) NOT NULL ,
	[FILE_PATH] [nvarchar] (100) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[ZIP_ORIGEN] [nvarchar] (100) COLLATE Modern_Spanish_CI_AS NULL ,
	[BLOQUEADO] [numeric](1, 0) NOT NULL ,
	[USUARIO] [nvarchar] (100) COLLATE Modern_Spanish_CI_AS NULL ,
	[MAQUINA] [nvarchar] (100) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[PathOrigen] [nvarchar] (255) COLLATE Modern_Spanish_CI_AS NULL ,
	[DateCreated] [datetime] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[IP_TGRP] (
	[ID] [numeric](10, 0) NOT NULL ,
	[NAME] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[DESCRIPTION] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NULL ,
	[ENABLED] [numeric](4, 0) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[IP_TYPE] (
	[IP_ID] [numeric](18, 0) NOT NULL ,
	[IP_NAME] [nvarchar] (100) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[IP_PATH] [nvarchar] (250) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[IP_CHR] [nvarchar] (10) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[IP_DOCTYPEID] [numeric](18, 0) NOT NULL ,
	[IP_MOVE] [numeric](18, 0) NOT NULL ,
	[IP_VERIFY] [numeric](18, 0) NOT NULL ,
	[IP_ACEPTBLANK] [numeric](18, 0) NOT NULL ,
	[IP_BACKUP] [numeric](18, 0) NOT NULL ,
	[IP_DELSOURCE] [numeric](18, 0) NOT NULL ,
	[IP_SOURCEVARIABLE] [numeric](18, 0) NOT NULL ,
	[IP_MULTIPLEFILES] [numeric](18, 0) NOT NULL ,
	[IP_MULTIPLECHR] [nvarchar] (10) COLLATE Modern_Spanish_CI_AS NULL ,
	[IP_GROUP] [numeric](18, 0) NOT NULL ,
	[IP_BACKUPPATH] [nvarchar] (250) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[IP_CHECKBATCH] [numeric](18, 0) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Images] (
	[ID] [int] NOT NULL ,
	[filename] [varchar] (50) COLLATE Modern_Spanish_CI_AS NULL ,
	[description] [varchar] (50) COLLATE Modern_Spanish_CI_AS NULL ,
	[Type] [int] NULL ,
	[ver] [int] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Images_Type] (
	[Type] [int] NOT NULL ,
	[Path] [varchar] (100) COLLATE Modern_Spanish_CI_AS NULL ,
	[Typedesc] [varchar] (50) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[LCK] (
	[DOC_ID] [numeric](18, 0) NOT NULL ,
	[USER_ID] [numeric](18, 0) NOT NULL ,
	[LCK_DATE] [datetime] NOT NULL ,
	[EST_ID] [numeric](18, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[LIC] (
	[NUMERO_LICENCIAS] [nvarchar] (40) COLLATE Modern_Spanish_CI_AS NULL ,
	[Type] [int] NULL ,
	[Nombre] [varchar] (4) COLLATE Modern_Spanish_CI_AS NULL ,
	[Used] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[LSTDID] (
	[LASTDOCID] [numeric](4, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[LSTFNAME] (
	[LASTNAME] [nvarchar] (8) COLLATE Modern_Spanish_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[MESSAGE] (
	[MSG_ID] [int] NOT NULL ,
	[MSG_FROM] [int] NULL ,
	[MSG_BODY] [nvarchar] (4000) COLLATE Modern_Spanish_CI_AS NULL ,
	[SUBJECT] [nvarchar] (100) COLLATE Modern_Spanish_CI_AS NULL ,
	[MSG_DATE] [datetime] NULL ,
	[REENVIO] [int] NULL ,
	[DELETED] [int] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[MODULESRIGHTS] (
	[ID] [int] NOT NULL ,
	[MODULO] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NULL ,
	[VALOR] [nvarchar] (150) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[MODULE_RIGHTS] (
	[MODULO] [nvarchar] (100) COLLATE Modern_Spanish_CI_AS NULL ,
	[VALOR] [nvarchar] (200) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[MSG_ATTACH] (
	[MSG_ID] [numeric](10, 0) NOT NULL ,
	[DOC_ID] [numeric](10, 0) NOT NULL ,
	[DOC_TYPE_ID] [numeric](10, 0) NOT NULL ,
	[FOLDER_ID] [numeric](10, 0) NOT NULL ,
	[INDEX_ID] [numeric](10, 0) NOT NULL ,
	[NAME] [varchar] (255) COLLATE Modern_Spanish_CI_AS NULL ,
	[ICON] [numeric](10, 0) NOT NULL ,
	[volumelistid] [numeric](10, 0) NULL ,
	[DOC_FILE] [varchar] (255) COLLATE Modern_Spanish_CI_AS NULL ,
	[Offset] [numeric](10, 0) NULL ,
	[Disk_Vol_Path] [nvarchar] (250) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[MSG_DEST] (
	[MSG_ID] [numeric](10, 0) NOT NULL ,
	[USER_ID] [numeric](10, 0) NOT NULL ,
	[DEST_TYPE] [numeric](18, 0) NOT NULL ,
	[READ] [bit] NOT NULL ,
	[DELETED] [bit] NOT NULL ,
	[USER_NAME] [varchar] (40) COLLATE Modern_Spanish_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[MSG_DEST_TYPE] (
	[MSG_TYPE] [numeric](18, 0) NOT NULL ,
	[TYPE_TEXT] [nvarchar] (20) COLLATE Modern_Spanish_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[NOTESINDEX_R_DOC_INDEX] (
	[INDEXID] [int] NOT NULL ,
	[CARGAR] [int] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[OBJECTID] (
	[OBJECTTYPE] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NULL ,
	[OBJECTTYPEID] [numeric](4, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[OBJECTTYPES] (
	[OBJECTTYPES] [nvarchar] (70) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[OBJECTTYPESID] [decimal](4, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[OBJLASTID] (
	[OBJECT_TYPE_ID] [numeric](4, 0) NOT NULL ,
	[OBJECTID] [numeric](10, 0) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[PRO] (
	[PRO_ID] [int] NOT NULL ,
	[PRO_QUERY] [varchar] (200) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[PRO_STATE] [int] NOT NULL ,
	[PRO_TYPE] [smallint] NOT NULL ,
	[PRO_RESULTADO] [nvarchar] (100) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[P_HST] (
	[ID] [numeric](10, 0) NOT NULL ,
	[PROCESS_DATE] [datetime] NOT NULL ,
	[USER_ID] [numeric](10, 0) NOT NULL ,
	[TOTALFILES] [numeric](10, 0) NOT NULL ,
	[PROCESSEDFILES] [numeric](10, 0) NOT NULL ,
	[RESULT_ID] [numeric](10, 0) NOT NULL ,
	[SKIPEDFILES] [numeric](10, 0) NOT NULL ,
	[ERRORFILES] [numeric](10, 0) NOT NULL ,
	[PATH] [varchar] (250) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[PROCESS_ID] [numeric](10, 0) NOT NULL ,
	[HASH] [varchar] (50) COLLATE Modern_Spanish_CI_AS NULL ,
	[LOGFILE] [varchar] (250) COLLATE Modern_Spanish_CI_AS NULL ,
	[ERRORFILE] [varchar] (250) COLLATE Modern_Spanish_CI_AS NULL ,
	[TEMPFILE] [varchar] (250) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[PreProcessIDs] (
	[PreprocessName] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[PreprocessID] [numeric](18, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[REPORTE_ID] (
	[ID] [int] NULL ,
	[DES] [nvarchar] (100) COLLATE Modern_Spanish_CI_AS NULL ,
	[AUTOMATICO] [int] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RIGHTSTYPE] (
	[RIGHTSTYPE] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NULL ,
	[RIGHTSTYPEID] [decimal](4, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RemoteInsert] (
	[TemporaryID] [numeric](10, 0) IDENTITY (1, 1) NOT NULL ,
	[DocumentName] [nvarchar] (255) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[DocTypeId] [numeric](18, 0) NOT NULL ,
	[SerializedFile] [image] NULL ,
	[FileExtension] [nvarchar] (5) COLLATE Modern_Spanish_CI_AS NULL ,
	[Status] [int] NOT NULL ,
	[Information] [varchar] (2000) COLLATE Modern_Spanish_CI_AS NULL ,
	[DocumentId] [numeric](18, 0) NOT NULL 
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

CREATE TABLE [dbo].[RemoteServers] (
	[D] [int] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RemoteUpdate] (
	[TemporaryID] [numeric](10, 0) IDENTITY (1, 1) NOT NULL ,
	[DocTypeId] [numeric](18, 0) NOT NULL ,
	[Status] [int] NOT NULL ,
	[Information] [nvarchar] (255) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RemovedActivity] (
	[WorkflowInstanceInternalId] [bigint] NOT NULL ,
	[WorkflowInstanceEventId] [bigint] NOT NULL ,
	[QualifiedName] [nvarchar] (128) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[ParentQualifiedName] [nvarchar] (128) COLLATE Modern_Spanish_CI_AS NULL ,
	[RemovedActivityAction] [nvarchar] (2000) COLLATE Modern_Spanish_CI_AS NULL ,
	[Order] [int] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ReportBuilder] (
	[Id] [numeric](18, 0) NOT NULL ,
	[Name] [varchar] (100) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[Tables] [varchar] (255) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[Fields] [varchar] (2000) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[Relations] [varchar] (1000) COLLATE Modern_Spanish_CI_AS NULL ,
	[Conditions] [varchar] (1000) COLLATE Modern_Spanish_CI_AS NULL ,
	[SortExpression] [varchar] (1000) COLLATE Modern_Spanish_CI_AS NULL ,
	[GroupExpression] [varchar] (200) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Reporte_General] (
	[ID] [numeric](18, 0) NOT NULL ,
	[Query] [nvarchar] (1000) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[Name] [varchar] (100) COLLATE Modern_Spanish_CI_AS NULL ,
	[Completar] [varchar] (300) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RequestAction] (
	[Id] [numeric](18, 0) IDENTITY (1, 1) NOT NULL ,
	[RequestDate] [datetime] NOT NULL ,
	[FinishDate] [datetime] NULL ,
	[IsFinished] [bit] NOT NULL ,
	[RequestUserId] [numeric](18, 0) NOT NULL ,
	[RequestName] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RequestActionExecution] (
	[RequestActionId] [numeric](18, 0) NOT NULL ,
	[UserId] [numeric](18, 0) NOT NULL ,
	[StepId] [numeric](18, 0) NOT NULL ,
	[TaskId] [numeric](18, 0) NOT NULL ,
	[RuleId] [numeric](18, 0) NOT NULL ,
	[ExecutionDate] [datetime] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RequestActionRules] (
	[RequestActionId] [numeric](18, 0) NOT NULL ,
	[RuleId] [numeric](10, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RequestActionTasks] (
	[RequestActionId] [numeric](18, 0) NOT NULL ,
	[TaskId] [decimal](18, 0) NOT NULL ,
	[StepId] [numeric](18, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RequestActionUsers] (
	[RequestActionId] [numeric](18, 0) NOT NULL ,
	[UserId] [numeric](18, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Resultados] (
	[ID] [decimal](18, 0) NOT NULL ,
	[Query] [nvarchar] (1000) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[Name] [varchar] (100) COLLATE Modern_Spanish_CI_AS NULL ,
	[Completar] [varchar] (300) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Schedule] (
	[TASK_ID] [int] NOT NULL ,
	[FECHA] [datetime] NOT NULL ,
	[FRECUENCIA] [int] NOT NULL ,
	[FECHA_FIN] [datetime] NOT NULL ,
	[ULTIMA] [datetime] NOT NULL ,
	[ACTIVO] [bit] NOT NULL ,
	[REPORTE] [int] NOT NULL ,
	[FORMATO] [int] NOT NULL ,
	[CARPETA] [varchar] (100) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[MAIL_TO] [varchar] (255) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[MAIL_CC] [varchar] (255) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[MAIL_CCO] [varchar] (255) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[IMPRIMIR] [int] NULL ,
	[MINUTOS] [int] NULL ,
	[DESCRIP] [nvarchar] (100) COLLATE Modern_Spanish_CI_AS NULL ,
	[ORIGEN] [int] NULL ,
	[REPET] [int] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Secciones] (
	[IdSeccion] [numeric](18, 0) NOT NULL ,
	[nombre] [varchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Security] (
	[Fecha] [datetime] NULL ,
	[userid] [int] NULL ,
	[userpassword] [nvarchar] (60) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Tmp_Reporte_General] (
	[ID] [numeric](18, 0) NOT NULL ,
	[Query] [nvarchar] (500) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[Name] [varchar] (100) COLLATE Modern_Spanish_CI_AS NULL ,
	[Completar] [varchar] (300) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[UCM] (
	[USER_ID] [numeric](18, 0) NULL ,
	[C_TIME] [datetime] NULL ,
	[U_TIME] [datetime] NULL ,
	[WINUSER] [nvarchar] (200) COLLATE Modern_Spanish_CI_AS NULL ,
	[WINPC] [nvarchar] (200) COLLATE Modern_Spanish_CI_AS NULL ,
	[CON_ID] [numeric](4, 0) NULL ,
	[TIME_OUT] [numeric](4, 0) NULL ,
	[TYPE] [numeric](10, 0) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[UCM_HST] (
	[Fecha_y_Hora] [datetime] NULL ,
	[CountConex] [numeric](18, 0) NULL ,
	[Type] [numeric](18, 0) NULL ,
	[UID] [numeric](18, 0) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[USER_HST] (
	[USER_ID] [numeric](18, 0) NULL ,
	[ACTION_DATE] [datetime] NULL ,
	[ACTION_ID] [numeric](18, 0) NOT NULL ,
	[OBJECT_ID] [numeric](18, 0) NULL ,
	[OBJECT_TYPE_ID] [numeric](18, 0) NULL ,
	[ACTION_TYPE] [numeric](18, 0) NULL ,
	[S_OBJECT_ID] [nvarchar] (255) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[USRGROUP] (
	[ID] [numeric](10, 0) NOT NULL ,
	[NAME] [varchar] (20) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[DESCRIPCION] [varchar] (100) COLLATE Modern_Spanish_CI_AS NULL ,
	[STATE] [char] (4) COLLATE Modern_Spanish_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[USRNOTES] (
	[ID] [numeric](10, 0) NULL ,
	[NOMBRE] [varchar] (100) COLLATE Modern_Spanish_CI_AS NULL ,
	[CONF_PATHREMOTOARCH] [varchar] (100) COLLATE Modern_Spanish_CI_AS NULL ,
	[CONF_MAILSERVER] [varchar] (100) COLLATE Modern_Spanish_CI_AS NULL ,
	[CONF_BASEMAIL] [varchar] (100) COLLATE Modern_Spanish_CI_AS NULL ,
	[CONF_PATHARCH] [varchar] (100) COLLATE Modern_Spanish_CI_AS NULL ,
	[CONF_VISTAEXPORTACION] [varchar] (100) COLLATE Modern_Spanish_CI_AS NULL ,
	[CONF_PAPELERA] [varchar] (100) COLLATE Modern_Spanish_CI_AS NULL ,
	[CONF_NOMARCHTXT] [varchar] (100) COLLATE Modern_Spanish_CI_AS NULL ,
	[CONF_SEQMSG] [numeric](10, 0) NULL ,
	[CONF_SEQATT] [numeric](10, 0) NULL ,
	[CONF_LOCKEO] [numeric](10, 0) NULL ,
	[CONF_ACUMIMG] [numeric](10, 0) NULL ,
	[CONF_LIMIMG] [numeric](10, 0) NULL ,
	[CONF_DESTEXT] [numeric](10, 0) NULL ,
	[CONF_TEXTOSUBJECT] [varchar] (100) COLLATE Modern_Spanish_CI_AS NULL ,
	[CONF_BORRAR] [varchar] (100) COLLATE Modern_Spanish_CI_AS NULL ,
	[CONF_ARCHCTRL] [varchar] (255) COLLATE Modern_Spanish_CI_AS NULL ,
	[CONF_SCHEDULESEL] [varchar] (100) COLLATE Modern_Spanish_CI_AS NULL ,
	[CONF_SCHEDULEFIJO] [varchar] (100) COLLATE Modern_Spanish_CI_AS NULL ,
	[CONF_SCHEDULEVAR] [varchar] (100) COLLATE Modern_Spanish_CI_AS NULL ,
	[CONF_EJECUTABLE] [varchar] (255) COLLATE Modern_Spanish_CI_AS NULL ,
	[CONF_NOMUSERNOTES] [varchar] (255) COLLATE Modern_Spanish_CI_AS NULL ,
	[CONF_NOMUSERRED] [varchar] (100) COLLATE Modern_Spanish_CI_AS NULL ,
	[CONF_CHARSREEMPSUBJ] [varchar] (100) COLLATE Modern_Spanish_CI_AS NULL ,
	[LASTRUNTIME] [datetime] NULL ,
	[CONF_REINTENTO] [numeric](10, 0) NULL ,
	[ACTIVO] [numeric](4, 0) NULL ,
	[CONF_SEQIMG] [numeric](10, 0) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[USRTABLE] (
	[ID] [numeric](18, 0) NOT NULL ,
	[NAME] [varchar] (20) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[PASSWORD] [varchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[CRDATE] [datetime] NULL ,
	[LUPDATE] [datetime] NULL ,
	[STATE] [numeric](10, 0) NULL ,
	[DESCRIPTION] [varchar] (60) COLLATE Modern_Spanish_CI_AS NULL ,
	[ADDRESS_BOOK] [varchar] (255) COLLATE Modern_Spanish_CI_AS NULL ,
	[EXPIRATIONTIME] [numeric](10, 0) NULL ,
	[EXPIRATIONDATE] [datetime] NULL ,
	[NOMBRES] [varchar] (50) COLLATE Modern_Spanish_CI_AS NULL ,
	[APELLIDO] [varchar] (50) COLLATE Modern_Spanish_CI_AS NULL ,
	[CORREO] [varchar] (50) COLLATE Modern_Spanish_CI_AS NULL ,
	[TELEFONO] [varchar] (20) COLLATE Modern_Spanish_CI_AS NULL ,
	[PUESTO] [varchar] (50) COLLATE Modern_Spanish_CI_AS NULL ,
	[FIRMA] [varchar] (255) COLLATE Modern_Spanish_CI_AS NULL ,
	[FOTO] [varchar] (255) COLLATE Modern_Spanish_CI_AS NULL ,
	[CONF_BASEMAIL] [nvarchar] (30) COLLATE Modern_Spanish_CI_AS NULL ,
	[CONF_MAILSERVER] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NULL ,
	[CONF_MAILTYPE] [int] NULL ,
	[SMTP] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[USR_RIGHTS] (
	[GROUPID] [numeric](10, 0) NOT NULL ,
	[OBJID] [numeric](10, 0) NOT NULL ,
	[RTYPE] [numeric](10, 0) NOT NULL ,
	[ADITIONAL] [numeric](10, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[USR_R_FORM] (
	[IDFORM] [numeric](10, 0) NOT NULL ,
	[IDUSR] [numeric](10, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[USR_R_GROUP] (
	[USRID] [numeric](18, 0) NOT NULL ,
	[GROUPID] [numeric](10, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[VERREG] (
	[ID] [numeric](4, 0) NOT NULL ,
	[VER] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[PATH] [nvarchar] (200) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[UPDATED] [datetime] NULL ,
	[SCRIPTFILE] [nvarchar] (60) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[WFContexts] (
	[WF_ID] [numeric](10, 0) NOT NULL ,
	[V_Name] [varchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[V_Type] [varchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[V_Value] [varchar] (400) COLLATE Modern_Spanish_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[WFDocument] (
	[Doc_ID] [numeric](18, 0) NOT NULL ,
	[DOC_TYPE_ID] [numeric](18, 0) NOT NULL ,
	[Folder_ID] [numeric](18, 0) NOT NULL ,
	[step_Id] [numeric](18, 0) NOT NULL ,
	[Do_State_ID] [numeric](18, 0) NOT NULL ,
	[Name] [varchar] (250) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[IconId] [numeric](18, 0) NOT NULL ,
	[CheckIn] [datetime] NOT NULL ,
	[User_Asigned] [numeric](18, 0) NULL ,
	[Exclusive] [numeric](18, 0) NULL ,
	[ExpireDate] [datetime] NOT NULL ,
	[User_Asigned_By] [numeric](18, 0) NULL ,
	[Date_Asigned_By] [datetime] NULL ,
	[Task_ID] [numeric](18, 0) NOT NULL ,
	[Task_State_ID] [numeric](18, 0) NULL ,
	[Remark] [numeric](18, 0) NULL ,
	[Tag] [nvarchar] (250) COLLATE Modern_Spanish_CI_AS NULL ,
	[work_id] [numeric](18, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[WFFaces] (
	[Id] [numeric](10, 0) NOT NULL ,
	[Name] [varchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[WFRuleParamItems] (
	[Rule_id] [numeric](10, 0) NOT NULL ,
	[Item] [numeric](18, 0) NOT NULL ,
	[Value] [varchar] (4000) COLLATE Modern_Spanish_CI_AS NULL ,
	[ObjectTypes] [numeric](18, 0) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[WFRules] (
	[Id] [numeric](10, 0) NOT NULL ,
	[Name] [varchar] (2000) COLLATE Modern_Spanish_CI_AS NULL ,
	[step_Id] [numeric](18, 0) NULL ,
	[Type] [numeric](18, 0) NOT NULL ,
	[ParentId] [numeric](18, 0) NOT NULL ,
	[ParentType] [numeric](18, 0) NOT NULL ,
	[Class] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NULL ,
	[Enable] [numeric](10, 0) NULL ,
	[Version] [numeric](10, 0) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[WFRulesHst] (
	[Doc_Id] [numeric](10, 0) NOT NULL ,
	[Doc_Type_Id] [numeric](10, 0) NOT NULL ,
	[Folder_Id] [numeric](10, 0) NOT NULL ,
	[Step_Id] [numeric](10, 0) NOT NULL ,
	[Rule_Id] [numeric](10, 0) NOT NULL ,
	[Result] [numeric](10, 0) NOT NULL ,
	[User_Id] [numeric](10, 0) NOT NULL ,
	[Ejecution_Date] [datetime] NOT NULL ,
	[Data] [nvarchar] (400) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[WFStep] (
	[step_Id] [numeric](18, 0) NOT NULL ,
	[work_id] [numeric](10, 0) NOT NULL ,
	[Name] [varchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[Description] [varchar] (100) COLLATE Modern_Spanish_CI_AS NULL ,
	[Help] [varchar] (100) COLLATE Modern_Spanish_CI_AS NULL ,
	[CreateDate] [datetime] NOT NULL ,
	[ImageIndex] [numeric](10, 0) NOT NULL ,
	[EditDate] [datetime] NOT NULL ,
	[LocationX] [decimal](10, 0) NOT NULL ,
	[LocationY] [decimal](10, 0) NOT NULL ,
	[max_Hours] [numeric](10, 0) NOT NULL ,
	[max_docs] [numeric](10, 0) NOT NULL ,
	[StartAtOpenDoc] [numeric](18, 0) NOT NULL ,
	[Color] [varchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[Width] [numeric](18, 0) NOT NULL ,
	[Height] [numeric](18, 0) NOT NULL ,
	[Width2] [numeric](18, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[WFStepHst] (
	[Doc_Id] [numeric](18, 0) NOT NULL ,
	[FOLDER_Id] [numeric](18, 0) NOT NULL ,
	[Step_Name] [nvarchar] (250) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[State] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NULL ,
	[UserName] [nvarchar] (250) COLLATE Modern_Spanish_CI_AS NULL ,
	[Accion] [nvarchar] (250) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[Fecha] [datetime] NOT NULL ,
	[Doc_Name] [nvarchar] (250) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[Doc_Type_Name] [nvarchar] (250) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[StepId] [numeric](18, 0) NULL ,
	[DocTypeId] [numeric](18, 0) NULL ,
	[WorkflowId] [numeric](18, 0) NULL ,
	[WorkflowName] [varchar] (250) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[WFStepOpt] (
	[StepId] [numeric](18, 0) NOT NULL ,
	[ObjOne] [numeric](18, 0) NOT NULL ,
	[ObjTwo] [numeric](18, 0) NOT NULL ,
	[ObjExtraData] [nvarchar] (255) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[WFStepStates] (
	[Doc_State_ID] [numeric](10, 0) NOT NULL ,
	[Description] [nvarchar] (250) COLLATE Modern_Spanish_CI_AS NULL ,
	[Step_Id] [numeric](18, 0) NOT NULL ,
	[Name] [varchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[Initial] [numeric](18, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[WFTask_States] (
	[Task_State_Id] [numeric](18, 0) NOT NULL ,
	[Task_State_Name] [nvarchar] (30) COLLATE Modern_Spanish_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[WFWorkflow] (
	[work_id] [numeric](10, 0) NOT NULL ,
	[Wstat_id] [numeric](10, 0) NOT NULL ,
	[Name] [varchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[Description] [varchar] (100) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[Help] [varchar] (200) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[CreateDate] [datetime] NOT NULL ,
	[EditDate] [datetime] NOT NULL ,
	[Refreshrate] [numeric](10, 0) NOT NULL ,
	[InitialStepId] [numeric](18, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[WF_DT] (
	[WFId] [numeric](10, 0) NOT NULL ,
	[DocTypeId] [numeric](18, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[WF_Frms] (
	[Step_Id] [numeric](18, 0) NOT NULL ,
	[Form_Id] [numeric](10, 0) NOT NULL ,
	[Sort] [numeric](10, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[WaitForDocument] (
	[WId] [decimal](10, 0) NOT NULL ,
	[DocTypeID] [decimal](4, 0) NOT NULL ,
	[Start] [datetime] NOT NULL ,
	[DueTime] [decimal](10, 0) NOT NULL ,
	[IndexID] [decimal](10, 0) NOT NULL ,
	[DocID] [decimal](10, 0) NULL ,
	[RuleID] [decimal](10, 0) NOT NULL ,
	[StepID] [decimal](10, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[WaitIndex] (
	[WId] [decimal](10, 0) NOT NULL ,
	[IndexId] [decimal](10, 0) NOT NULL ,
	[IndexValue] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[WfStepPerformance] (
	[DocumentId] [numeric](18, 0) NOT NULL ,
	[DocumentName] [nvarchar] (2000) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[CheckedIn] [datetime] NOT NULL ,
	[CheckedOut] [datetime] NOT NULL ,
	[StepId] [numeric](18, 0) NOT NULL ,
	[StepName] [varchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[ConsumedMinutes] [int] NOT NULL ,
	[WorkflowId] [numeric](18, 0) NOT NULL ,
	[WorkflowName] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[UserName] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZBarCode] (
	[ID] [numeric](18, 0) NOT NULL ,
	[FECHA] [datetime] NOT NULL ,
	[DOC_TYPE_ID] [numeric](18, 0) NOT NULL ,
	[USERID] [numeric](18, 0) NOT NULL ,
	[SCANNED] [varchar] (2) COLLATE Modern_Spanish_CI_AS NULL ,
	[SCANNEDDATE] [datetime] NULL ,
	[DOC_ID] [numeric](18, 0) NULL ,
	[BATCH] [varchar] (10) COLLATE Modern_Spanish_CI_AS NULL ,
	[BOX] [numeric](18, 0) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZBarcodeComplete] (
	[Doctypeid] [numeric](18, 0) NOT NULL ,
	[Indexid] [numeric](18, 0) NOT NULL ,
	[Tabla] [varchar] (50) COLLATE Modern_Spanish_CI_AS NULL ,
	[Columna] [varchar] (50) COLLATE Modern_Spanish_CI_AS NULL ,
	[Clave] [numeric](18, 0) NULL ,
	[Orden] [numeric](18, 0) NULL ,
	[Conditions] [varchar] (255) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[WhereCondition] [varchar] (255) COLLATE Modern_Spanish_CI_AS NULL ,
	[IdWhereCondition] [numeric](18, 0) NULL ,
	[IndexGroup] [bit] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZComment] (
	[DOCID] [numeric](18, 0) NOT NULL ,
	[COMMENTS] [nvarchar] (500) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[CreateDate] [datetime] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZDocRelations] (
	[Doc_Id] [numeric](18, 0) NOT NULL ,
	[ParentId] [numeric](18, 0) NOT NULL ,
	[RelationId] [numeric](18, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZDocTypeRights] (
	[dtId] [numeric](18, 0) NOT NULL ,
	[RightId] [numeric](18, 0) NOT NULL ,
	[RValue] [numeric](18, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZExportControl] (
	[Fecha] [datetime] NULL ,
	[UserId] [nvarchar] (30) COLLATE Modern_Spanish_CI_AS NULL ,
	[Line] [nvarchar] (1000) COLLATE Modern_Spanish_CI_AS NULL ,
	[Insertado] [char] (1) COLLATE Modern_Spanish_CI_AS NULL ,
	[Codigo] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZExportErrors] (
	[Fecha] [datetime] NULL ,
	[WinUser] [nvarchar] (15) COLLATE Modern_Spanish_CI_AS NULL ,
	[MachineName] [nvarchar] (30) COLLATE Modern_Spanish_CI_AS NULL ,
	[Line] [nvarchar] (1000) COLLATE Modern_Spanish_CI_AS NULL ,
	[ErrorType] [nvarchar] (100) COLLATE Modern_Spanish_CI_AS NULL ,
	[Codigo] [nvarchar] (40) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZForum] (
	[DOCT] [numeric](10, 0) NOT NULL ,
	[DocId] [numeric](10, 0) NOT NULL ,
	[IdMensaje] [numeric](10, 0) NOT NULL ,
	[ParentId] [numeric](10, 0) NOT NULL ,
	[LinkName] [nvarchar] (60) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[Mensaje] [nvarchar] (300) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[Fecha] [datetime] NOT NULL ,
	[UserId] [numeric](10, 0) NULL ,
	[StateId] [numeric](10, 0) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZFrmDesc] (
	[DTId] [numeric](18, 0) NOT NULL ,
	[IId] [numeric](18, 0) NOT NULL ,
	[Op] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[Value] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[FId] [numeric](18, 0) NOT NULL ,
	[QId] [numeric](18, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZFrmIndexsDesc] (
	[FId] [numeric](18, 0) NOT NULL ,
	[IId] [numeric](18, 0) NOT NULL ,
	[Type] [numeric](18, 0) NOT NULL ,
	[Value] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[EId] [numeric](18, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZFrms] (
	[Id] [numeric](18, 0) NOT NULL ,
	[Name] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NULL ,
	[ParentId] [numeric](18, 0) NULL ,
	[Type] [numeric](18, 0) NULL ,
	[ObjectTypeId] [numeric](18, 0) NULL ,
	[Path] [nvarchar] (255) COLLATE Modern_Spanish_CI_AS NULL ,
	[Description] [nvarchar] (250) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZFrmsRequirements] (
	[FrmId] [numeric](18, 0) NOT NULL ,
	[Path] [nvarchar] (255) COLLATE Modern_Spanish_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZI] (
	[InsertID] [numeric](18, 0) NOT NULL ,
	[DTID] [numeric](18, 0) NOT NULL ,
	[DocID] [numeric](18, 0) NOT NULL ,
	[FolderID] [numeric](18, 0) NOT NULL ,
	[IDate] [datetime] NOT NULL ,
	[RuleID] [nvarchar] (254) COLLATE Modern_Spanish_CI_AS NULL ,
	[name] [nvarchar] (250) COLLATE Modern_Spanish_CI_AS NULL ,
	[UserID] [numeric](18, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZIR] (
	[IndexId] [numeric](10, 0) NOT NULL ,
	[DoctypeId] [numeric](10, 0) NOT NULL ,
	[UserId] [numeric](10, 0) NOT NULL ,
	[RightType] [numeric](4, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZIndexReference] (
	[DTId] [numeric](18, 0) NOT NULL ,
	[IId] [numeric](18, 0) NOT NULL ,
	[IServer] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NULL ,
	[IDataBase] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NULL ,
	[IUser] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NULL ,
	[ITable] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[IColumn] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[ReferenceId] [numeric](18, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZIndexReferenceKeys] (
	[ReferenceId] [numeric](18, 0) NOT NULL ,
	[IndexId] [numeric](18, 0) NOT NULL ,
	[IColumn] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZMB_SCHEDULER] (
	[OBJECT_ID] [bigint] NOT NULL ,
	[NAME] [varchar] (100) COLLATE Modern_Spanish_CI_AS NULL ,
	[TYPE] [int] NULL ,
	[ACTIVE] [bit] NULL ,
	[START_TIME] [datetime] NULL ,
	[STOP_TIME] [datetime] NULL ,
	[NEXT_TIME] [datetime] NULL ,
	[FROM_TIME] [bigint] NULL ,
	[TO_TIME] [bigint] NULL ,
	[INTERVAL] [bigint] NULL ,
	[SUNDAY] [bit] NULL ,
	[MONDAY] [bit] NULL ,
	[TUESDAY] [bit] NULL ,
	[WEDNESDAY] [bit] NULL ,
	[THURSDAY] [bit] NULL ,
	[FRIDAY] [bit] NULL ,
	[SATURDAY] [bit] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZMailConfig] (
	[UserName] [varchar] (50) COLLATE Modern_Spanish_CI_AS NULL ,
	[UserPassword] [varchar] (50) COLLATE Modern_Spanish_CI_AS NULL ,
	[ProveedorSMTP] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NULL ,
	[Puerto] [int] NULL ,
	[Correo] [varchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[MailServer] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NULL ,
	[BaseMail] [nvarchar] (30) COLLATE Modern_Spanish_CI_AS NULL ,
	[MailType] [int] NULL ,
	[UserID] [numeric](18, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZNetronShapes] (
	[Shape_Id] [int] NOT NULL ,
	[Shape_DocT] [int] NULL ,
	[Shape_DocId] [int] NULL ,
	[Shape_Tipo] [smallint] NOT NULL ,
	[Shape_Height] [int] NULL ,
	[Shape_Color] [int] NULL ,
	[Shape_Opaque] [int] NULL ,
	[Shape_Text] [nvarchar] (255) COLLATE Modern_Spanish_CI_AS NULL ,
	[Shape_Width] [int] NULL ,
	[Shape_X] [int] NULL ,
	[Shape_Y] [int] NULL ,
	[Shape_StartId] [smallint] NULL ,
	[Shape_EndId] [smallint] NULL ,
	[Shape_StartNum] [tinyint] NULL ,
	[Shape_EndNum] [tinyint] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZPAQ] (
	[Numero] [numeric](18, 0) NOT NULL ,
	[Name] [nvarchar] (100) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[Installed] [numeric](18, 0) NOT NULL ,
	[Dateinstalled] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZQCOLUMNS] (
	[ID] [int] NOT NULL ,
	[SELECTTABLE] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[SELECTCOLUMNS] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[VALUE] [nvarchar] (254) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZQKEYS] (
	[ID] [numeric](18, 0) NOT NULL ,
	[CLAVES] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[VALUE] [nvarchar] (254) COLLATE Modern_Spanish_CI_AS NULL ,
	[SELECTTABLE] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZQSENTENCE] (
	[id] [int] NULL ,
	[Value] [nvarchar] (200) COLLATE Modern_Spanish_CI_AS NULL ,
	[type] [nvarchar] (30) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZQUERYNAME] (
	[ID] [int] NOT NULL ,
	[NOMBRE] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[SERVERNAME] [nvarchar] (15) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[USUARIO] [nvarchar] (15) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[CLAVE] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[SERVERTYPE] [int] NOT NULL ,
	[DB] [nvarchar] (15) COLLATE Modern_Spanish_CI_AS NULL ,
	[querytype] [nvarchar] (20) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZRelations] (
	[RelationId] [numeric](18, 0) NOT NULL ,
	[Name] [nvarchar] (100) COLLATE Modern_Spanish_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZRelationsIndexs] (
	[RelationId] [numeric](18, 0) NOT NULL ,
	[IndexIdParent] [numeric](18, 0) NOT NULL ,
	[IndexIdChild] [numeric](18, 0) NOT NULL ,
	[DTIdParent] [numeric](18, 0) NOT NULL ,
	[DTIdChild] [numeric](18, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZRuleOpt] (
	[RuleId] [numeric](10, 0) NOT NULL ,
	[SectionId] [numeric](18, 0) NOT NULL ,
	[ObjectId] [numeric](18, 0) NOT NULL ,
	[ObjExtraData] [nvarchar] (2000) COLLATE Modern_Spanish_CI_AS NULL ,
	[ObjValue] [numeric](18, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZSearchDictionary] (
	[Id] [numeric](18, 0) NOT NULL ,
	[Word] [nvarchar] (255) COLLATE Modern_Spanish_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZSearchValues] (
	[Id] [numeric](18, 0) NOT NULL ,
	[Word] [nvarchar] (255) COLLATE Modern_Spanish_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZSearchValues_DT] (
	[WordId] [numeric](18, 0) NOT NULL ,
	[IndexId] [numeric](18, 0) NOT NULL ,
	[ResultId] [numeric](18, 0) NOT NULL ,
	[DTID] [numeric](18, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZSecOption] (
	[sameuser] [nvarchar] (5) COLLATE Modern_Spanish_CI_AS NULL ,
	[expired] [int] NULL ,
	[acceptnull] [nvarchar] (5) COLLATE Modern_Spanish_CI_AS NULL ,
	[lockuser] [nvarchar] (5) COLLATE Modern_Spanish_CI_AS NULL ,
	[samepc] [nvarchar] (5) COLLATE Modern_Spanish_CI_AS NULL ,
	[SecurityMail] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NULL ,
	[LongitudMinima] [nvarchar] (5) COLLATE Modern_Spanish_CI_AS NULL ,
	[Alfanumerico] [nvarchar] (5) COLLATE Modern_Spanish_CI_AS NULL ,
	[RepeatPassword] [nvarchar] (5) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZTaskStatus] (
	[StatusId] [decimal](1, 0) NULL ,
	[TaskStatus] [nvarchar] (30) COLLATE Modern_Spanish_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZTempl] (
	[Id] [numeric](10, 0) NOT NULL ,
	[Name] [nvarchar] (150) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[Description] [nvarchar] (250) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[Type] [numeric](10, 0) NOT NULL ,
	[PAth] [nvarchar] (260) COLLATE Modern_Spanish_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZVerConfig] (
	[DataId] [numeric](18, 0) NOT NULL ,
	[DtId] [numeric](18, 0) NOT NULL ,
	[IndexId] [numeric](18, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZVerEv] (
	[DataId] [numeric](18, 0) NOT NULL ,
	[EventId] [numeric](18, 0) NOT NULL ,
	[EvValue] [nvarchar] (40) COLLATE Modern_Spanish_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZVerEvents] (
	[EventId] [numeric](18, 0) NOT NULL ,
	[Event] [nvarchar] (40) COLLATE Modern_Spanish_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZWFI] (
	[WI] [numeric](18, 0) NOT NULL ,
	[DTID] [numeric](18, 0) NOT NULL ,
	[RuleID] [numeric](18, 0) NOT NULL ,
	[InsertID] [numeric](18, 0) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZWFII] (
	[WI] [numeric](18, 0) NOT NULL ,
	[IID] [numeric](18, 0) NOT NULL ,
	[IValue] [varchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Z_GroupToNotify] (
	[TypeId] [numeric](18, 0) NULL ,
	[DocId] [numeric](18, 0) NULL ,
	[UserId] [numeric](18, 0) NULL ,
	[ExtraData] [varchar] (250) COLLATE Modern_Spanish_CI_AS NULL ,
	[GroupId] [numeric](18, 0) NULL ,
	[GroupId2] [numeric](18, 0) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Z_Publish] (
	[PublishId] [numeric](18, 0) NOT NULL ,
	[DocId] [numeric](18, 0) NOT NULL ,
	[UserId] [numeric](18, 0) NOT NULL ,
	[PublishDate] [datetime] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Z_SendToUser] (
	[TypeId] [numeric](18, 0) NULL ,
	[PublishId] [numeric](18, 0) NULL ,
	[UserId] [numeric](18, 0) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZambaExport] (
	[TemporaryId] [numeric](18, 0) IDENTITY (1, 1) NOT NULL ,
	[DocumentName] [nvarchar] (255) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[DocTypeName] [nvarchar] (255) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[Link] [nvarchar] (255) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[IsExported] [bit] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ZambaExportIndexes] (
	[TemporaryId] [numeric](18, 0) NOT NULL ,
	[IndexName] [nvarchar] (255) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[IndexTypeName] [nvarchar] (255) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[IndexValue] [nvarchar] (255) COLLATE Modern_Spanish_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Zext_zfrms] (
	[zfrms_id] [numeric](18, 0) NOT NULL ,
	[zext_id] [numeric](18, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Zopt] (
	[Item] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[Value] [nvarchar] (400) COLLATE Modern_Spanish_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Ztype_Zfrms] (
	[DocType_Id] [numeric](18, 0) NOT NULL ,
	[Form_Id] [numeric](18, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Zwfopt] (
	[Ruleid] [numeric](10, 0) NOT NULL ,
	[Item] [numeric](18, 0) NOT NULL ,
	[ItemValue] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[zFrmDynamicForms] (
	[IdFormulario] [numeric](18, 0) NOT NULL ,
	[IdIndice] [numeric](18, 0) NOT NULL ,
	[IdSeccion] [numeric](18, 0) NOT NULL ,
	[NroOrden] [numeric](18, 0) NOT NULL ,
	[NroFila] [numeric](18, 0) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[zservidores] (
	[id] [numeric](18, 0) NOT NULL ,
	[nombreservidor] [char] (20) COLLATE Modern_Spanish_CI_AS NULL ,
	[puerto] [numeric](18, 0) NULL ,
	[ip] [char] (15) COLLATE Modern_Spanish_CI_AS NULL ,
	[objeto] [char] (15) COLLATE Modern_Spanish_CI_AS NULL ,
	[interfaz] [char] (15) COLLATE Modern_Spanish_CI_AS NULL ,
	[descripcion] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NULL ,
	[svrType] [numeric](18, 0) NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Automail] WITH NOCHECK ADD 
	CONSTRAINT [PK_Automail] PRIMARY KEY  CLUSTERED 
	(
		[ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[DISK_GROUP] WITH NOCHECK ADD 
	CONSTRAINT [PK_DISK_GROUP] PRIMARY KEY  CLUSTERED 
	(
		[DISK_GROUP_ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[DOC_INDEX] WITH NOCHECK ADD 
	CONSTRAINT [PK_DOC_INDEX] PRIMARY KEY  CLUSTERED 
	(
		[INDEX_ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[DOC_RESTRICTIONS] WITH NOCHECK ADD 
	CONSTRAINT [PK_DOC_RESTRICTIONS] PRIMARY KEY  CLUSTERED 
	(
		[RESTRICTION_ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[DOC_TYPE] WITH NOCHECK ADD 
	CONSTRAINT [PK__DOC_TYPE__6D823440] PRIMARY KEY  CLUSTERED 
	(
		[DOC_TYPE_ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[DOC_TYPE_R_DOC_TYPE_GROUP] WITH NOCHECK ADD 
	CONSTRAINT [PK_DOC_TYPE_R_DOC_TYPE_GROUP] PRIMARY KEY  CLUSTERED 
	(
		[DOC_TYPE_ID],
		[DOC_TYPE_GROUP]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[DocumentKeyIndexs] WITH NOCHECK ADD 
	CONSTRAINT [PK_DocumentKeyIndexs] PRIMARY KEY  CLUSTERED 
	(
		[Id],
		[IndexId]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[DocumentUpdateIndexs] WITH NOCHECK ADD 
	CONSTRAINT [PK_DocumentUpdateIndexs] PRIMARY KEY  CLUSTERED 
	(
		[Id],
		[IndexId]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[DocumentsIndexs] WITH NOCHECK ADD 
	CONSTRAINT [PK_DocumentsIndexs] PRIMARY KEY  CLUSTERED 
	(
		[Id],
		[IndexId]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[DocumentsToInsertStatus] WITH NOCHECK ADD 
	CONSTRAINT [PK_DocumentsToInsertStatus] PRIMARY KEY  CLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[DocumentsUpdateStatus] WITH NOCHECK ADD 
	CONSTRAINT [PK_DocumentsUpdateStatus] PRIMARY KEY  CLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[INDEX_LINK] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[INDEX_R_DOC_TYPE] WITH NOCHECK ADD 
	CONSTRAINT [PK_INDEX_R_DOC_TYPE] PRIMARY KEY  CLUSTERED 
	(
		[INDEX_ID],
		[DOC_TYPE_ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[INDEX_TYPE] WITH NOCHECK ADD 
	CONSTRAINT [PK_INDEX_TYPE] PRIMARY KEY  CLUSTERED 
	(
		[INDEX_TYPE_ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[IP_FOLDER] WITH NOCHECK ADD 
	CONSTRAINT [PK_IP_FOLDER] PRIMARY KEY  CLUSTERED 
	(
		[ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[IP_FOLDER_PREPROCESS] WITH NOCHECK ADD 
	CONSTRAINT [PK_IP_FOLDER_PREPROCESS] PRIMARY KEY  CLUSTERED 
	(
		[IP_ID],
		[ORDERPOS]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[IP_INDEX] WITH NOCHECK ADD 
	CONSTRAINT [PK_IP_INDEX] PRIMARY KEY  CLUSTERED 
	(
		[IP_ID],
		[INDEX_ORDER]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[IP_TASK] WITH NOCHECK ADD 
	CONSTRAINT [PK__IP_TASK__13E1AB5C] PRIMARY KEY  CLUSTERED 
	(
		[ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[IP_TYPE] WITH NOCHECK ADD 
	CONSTRAINT [PK_IP_TYPE] PRIMARY KEY  CLUSTERED 
	(
		[IP_ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Images] WITH NOCHECK ADD 
	CONSTRAINT [PK_Images] PRIMARY KEY  CLUSTERED 
	(
		[ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Images_Type] WITH NOCHECK ADD 
	CONSTRAINT [PK_Images_Type] PRIMARY KEY  CLUSTERED 
	(
		[Type]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[LCK] WITH NOCHECK ADD 
	CONSTRAINT [PK_LCK] PRIMARY KEY  CLUSTERED 
	(
		[DOC_ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[MESSAGE] WITH NOCHECK ADD 
	CONSTRAINT [PK_MESSAGE] PRIMARY KEY  CLUSTERED 
	(
		[MSG_ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[MODULESRIGHTS] WITH NOCHECK ADD 
	CONSTRAINT [PK_MODULESRIGHTS] PRIMARY KEY  CLUSTERED 
	(
		[ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[OBJLASTID] WITH NOCHECK ADD 
	CONSTRAINT [PK_OBJLASTID] PRIMARY KEY  CLUSTERED 
	(
		[OBJECT_TYPE_ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[PRO] WITH NOCHECK ADD 
	CONSTRAINT [PK_PRO] PRIMARY KEY  CLUSTERED 
	(
		[PRO_ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[PreProcessIDs] WITH NOCHECK ADD 
	CONSTRAINT [PK_PreProcessIDs] PRIMARY KEY  CLUSTERED 
	(
		[PreprocessName]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[RemoteInsert] WITH NOCHECK ADD 
	CONSTRAINT [PK_RemoteInsert] PRIMARY KEY  CLUSTERED 
	(
		[TemporaryID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[RemoteUpdate] WITH NOCHECK ADD 
	CONSTRAINT [PK_RemoteUpdate] PRIMARY KEY  CLUSTERED 
	(
		[TemporaryID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[ReportBuilder] WITH NOCHECK ADD 
	CONSTRAINT [PK_ReportBuilder] PRIMARY KEY  CLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[RequestAction] WITH NOCHECK ADD 
	CONSTRAINT [PK_RequestAction] PRIMARY KEY  CLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[RequestActionExecution] WITH NOCHECK ADD 
	CONSTRAINT [PK_RequestActionExecution] PRIMARY KEY  CLUSTERED 
	(
		[RequestActionId],
		[UserId],
		[StepId],
		[TaskId],
		[RuleId]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[RequestActionRules] WITH NOCHECK ADD 
	CONSTRAINT [PK_RequesActionRules] PRIMARY KEY  CLUSTERED 
	(
		[RequestActionId],
		[RuleId]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[RequestActionTasks] WITH NOCHECK ADD 
	CONSTRAINT [PK_RequestActionTasks] PRIMARY KEY  CLUSTERED 
	(
		[RequestActionId],
		[TaskId],
		[StepId]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[RequestActionUsers] WITH NOCHECK ADD 
	CONSTRAINT [PK_RequestActionUsers] PRIMARY KEY  CLUSTERED 
	(
		[RequestActionId],
		[UserId]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Secciones] WITH NOCHECK ADD 
	CONSTRAINT [PK_Secciones] PRIMARY KEY  CLUSTERED 
	(
		[IdSeccion]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[USRGROUP] WITH NOCHECK ADD 
	CONSTRAINT [USRGROUP_PK21110381228328] PRIMARY KEY  CLUSTERED 
	(
		[ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[USRTABLE] WITH NOCHECK ADD 
	CONSTRAINT [PK_USRTABLE] PRIMARY KEY  CLUSTERED 
	(
		[ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[USR_RIGHTS] WITH NOCHECK ADD 
	CONSTRAINT [PK_USR_RIGHTS] PRIMARY KEY  CLUSTERED 
	(
		[GROUPID],
		[OBJID],
		[RTYPE],
		[ADITIONAL]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[USR_R_GROUP] WITH NOCHECK ADD 
	CONSTRAINT [SYS_C005202] PRIMARY KEY  CLUSTERED 
	(
		[USRID],
		[GROUPID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[WFFaces] WITH NOCHECK ADD 
	CONSTRAINT [PK_WFFaces] PRIMARY KEY  CLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[WFRuleParamItems] WITH NOCHECK ADD 
	CONSTRAINT [PK_WFRuleParamItems] PRIMARY KEY  CLUSTERED 
	(
		[Rule_id],
		[Item]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[WFRules] WITH NOCHECK ADD 
	CONSTRAINT [PK_WFRules] PRIMARY KEY  CLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[WFStep] WITH NOCHECK ADD 
	CONSTRAINT [PK_WFStep] PRIMARY KEY  CLUSTERED 
	(
		[step_Id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[WFStepStates] WITH NOCHECK ADD 
	CONSTRAINT [PK_WFStepStates] PRIMARY KEY  CLUSTERED 
	(
		[Doc_State_ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[WFTask_States] WITH NOCHECK ADD 
	CONSTRAINT [PK_WFTask_States] PRIMARY KEY  CLUSTERED 
	(
		[Task_State_Id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[WFWorkflow] WITH NOCHECK ADD 
	CONSTRAINT [PK_WFWorkflow] PRIMARY KEY  CLUSTERED 
	(
		[work_id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[WF_DT] WITH NOCHECK ADD 
	CONSTRAINT [PK_WF_DT] PRIMARY KEY  CLUSTERED 
	(
		[WFId],
		[DocTypeId]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[WF_Frms] WITH NOCHECK ADD 
	CONSTRAINT [PK_WF_Frms] PRIMARY KEY  CLUSTERED 
	(
		[Form_Id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[WaitForDocument] WITH NOCHECK ADD 
	CONSTRAINT [PK_WaitForDocument] PRIMARY KEY  CLUSTERED 
	(
		[WId]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[WaitIndex] WITH NOCHECK ADD 
	CONSTRAINT [PK_WaitIndex] PRIMARY KEY  CLUSTERED 
	(
		[WId]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[ZDocTypeRights] WITH NOCHECK ADD 
	CONSTRAINT [PK_ZDocTypeRights] PRIMARY KEY  CLUSTERED 
	(
		[dtId],
		[RightId]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[ZFrmDesc] WITH NOCHECK ADD 
	CONSTRAINT [PK_ZFrmDesc] PRIMARY KEY  CLUSTERED 
	(
		[QId]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[ZFrmIndexsDesc] WITH NOCHECK ADD 
	CONSTRAINT [PK_ZFrmIndexsDesc] PRIMARY KEY  CLUSTERED 
	(
		[EId]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[ZFrms] WITH NOCHECK ADD 
	CONSTRAINT [PK_ZFrms] PRIMARY KEY  CLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[ZI] WITH NOCHECK ADD 
	CONSTRAINT [PK_ZI] PRIMARY KEY  CLUSTERED 
	(
		[InsertID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[ZIR] WITH NOCHECK ADD 
	CONSTRAINT [PK_ZIR] PRIMARY KEY  CLUSTERED 
	(
		[IndexId],
		[DoctypeId],
		[UserId],
		[RightType]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[ZIndexReference] WITH NOCHECK ADD 
	CONSTRAINT [PK_ZIndexReference] PRIMARY KEY  CLUSTERED 
	(
		[ReferenceId]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[ZMB_SCHEDULER] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[OBJECT_ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[ZMailConfig] WITH NOCHECK ADD 
	CONSTRAINT [PK_ZMail.Config] PRIMARY KEY  CLUSTERED 
	(
		[UserID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[ZNetronShapes] WITH NOCHECK ADD 
	CONSTRAINT [PK_ZNetronShapes] PRIMARY KEY  CLUSTERED 
	(
		[Shape_Id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[ZSearchDictionary] WITH NOCHECK ADD 
	CONSTRAINT [PK_ZSearchDictionary] PRIMARY KEY  CLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[ZSearchValues] WITH NOCHECK ADD 
	CONSTRAINT [PK_ZSearchValues] PRIMARY KEY  CLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[ZSearchValues_DT] WITH NOCHECK ADD 
	CONSTRAINT [PK_ZSearchValues_DT] PRIMARY KEY  CLUSTERED 
	(
		[WordId],
		[IndexId],
		[ResultId]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[ZTempl] WITH NOCHECK ADD 
	CONSTRAINT [PK_ZTempl] PRIMARY KEY  CLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[ZVerConfig] WITH NOCHECK ADD 
	CONSTRAINT [PK__ZVerConfig__6215459E] PRIMARY KEY  CLUSTERED 
	(
		[DataId]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[ZVerEv] WITH NOCHECK ADD 
	CONSTRAINT [PK_ZVerEv] PRIMARY KEY  CLUSTERED 
	(
		[DataId],
		[EventId]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[ZVerEvents] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[EventId]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[ZWFI] WITH NOCHECK ADD 
	CONSTRAINT [PK_ZWFI] PRIMARY KEY  CLUSTERED 
	(
		[WI]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Z_Publish] WITH NOCHECK ADD 
	CONSTRAINT [PK_Z_Publish] PRIMARY KEY  CLUSTERED 
	(
		[PublishId],
		[DocId]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[ZambaExport] WITH NOCHECK ADD 
	CONSTRAINT [PK_ZambaExport] PRIMARY KEY  CLUSTERED 
	(
		[TemporaryId]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Zext_zfrms] WITH NOCHECK ADD 
	CONSTRAINT [PK_Zext_zfrms] PRIMARY KEY  CLUSTERED 
	(
		[zfrms_id],
		[zext_id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Zopt] WITH NOCHECK ADD 
	CONSTRAINT [PK_Zopt] PRIMARY KEY  CLUSTERED 
	(
		[Item]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Ztype_Zfrms] WITH NOCHECK ADD 
	CONSTRAINT [PK_Ztype_Zfrms] PRIMARY KEY  CLUSTERED 
	(
		[DocType_Id],
		[Form_Id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[zFrmDynamicForms] WITH NOCHECK ADD 
	CONSTRAINT [PK_Formularios] PRIMARY KEY  CLUSTERED 
	(
		[IdFormulario],
		[IdIndice]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[zservidores] WITH NOCHECK ADD 
	CONSTRAINT [PK__zservidores__68C2432D] PRIMARY KEY  CLUSTERED 
	(
		[id]
	)  ON [PRIMARY] 
GO

 CREATE  CLUSTERED  INDEX [IX_DOC_TYPE_R_DOC_TYPE] ON [dbo].[DOC_TYPE_R_DOC_TYPE]([DocTypeID1]) ON [PRIMARY]
GO

 CREATE  CLUSTERED  INDEX [IX_Default_Search] ON [dbo].[Default_Search]([DocTypeId], [UserId]) ON [PRIMARY]
GO

 CREATE  CLUSTERED  INDEX [IX_Security] ON [dbo].[Security]([userid]) ON [PRIMARY]
GO

 CREATE  CLUSTERED  INDEX [IX_WFStepOpt] ON [dbo].[WFStepOpt]([StepId]) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Automail] ADD 
	CONSTRAINT [DF_Automail_Confirmation] DEFAULT (0) FOR [Confirmation]
GO

ALTER TABLE [dbo].[DISK_GROUP] ADD 
	CONSTRAINT [CK__DISK_GROU__DISK___5B638405] CHECK ([DISK_GROUP_ID] is not null),
	CONSTRAINT [CK__DISK_GROU__DISK___5C57A83E] CHECK ([DISK_GROUP_NAME] is not null)
GO

ALTER TABLE [dbo].[DISK_GROUP_R_DISK_VOLUME] ADD 
	CONSTRAINT [CK__DISK_GROU__DISK___5E3FF0B0] CHECK ([DISK_GROUP_ID] is not null),
	CONSTRAINT [CK__DISK_GROU__DISK___5F3414E9] CHECK ([DISK_VOLUME_ID] is not null)
GO

ALTER TABLE [dbo].[DISK_VOLUME] ADD 
	CONSTRAINT [PK__DISK_VOLUME__64ECEE3F] PRIMARY KEY  NONCLUSTERED 
	(
		[DISK_VOL_ID]
	)  ON [PRIMARY] ,
	CONSTRAINT [CK__DISK_VOLU__DISK___611C5D5B] CHECK ([DISK_VOL_NAME] is not null),
	CONSTRAINT [CK__DISK_VOLU__DISK___62108194] CHECK ([DISK_VOL_COPY] is not null),
	CONSTRAINT [CK__DISK_VOLU__DISK___6304A5CD] CHECK ([DISK_VOL_PATH] is not null),
	CONSTRAINT [CK__DISK_VOLU__DISK___63F8CA06] CHECK ([DISK_VOL_FILES] is not null)
GO

ALTER TABLE [dbo].[DOC_INDEX] ADD 
	CONSTRAINT [DF_DOC_INDEX_INDEX_ID] DEFAULT (0) FOR [INDEX_ID],
	CONSTRAINT [DF__doc_index__DROPD__1B6DBE8B] DEFAULT (0) FOR [DROPDOWNTYPE],
	CONSTRAINT [CK__DOC_INDEX__INDEX__66D536B1] CHECK ([INDEX_NAME] is not null)
GO

ALTER TABLE [dbo].[DOC_NOTES] ADD 
	CONSTRAINT [CK__DOC_NOTES__NOTE___69B1A35C] CHECK ([NOTE_ID] is not null)
GO

ALTER TABLE [dbo].[DOC_RESTRICTIONS] ADD 
	CONSTRAINT [UQ__DOC_RESTRICTIONS__4AF8DD69] UNIQUE  NONCLUSTERED 
	(
		[RESTRICTION_ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[DOC_TYPE] ADD 
	CONSTRAINT [DF__DOC_TYPE__DOCCOU__6C8E1007] DEFAULT (0) FOR [DOCCOUNT],
	CONSTRAINT [DF_DOC_TYPE_DocumentalId] DEFAULT (0) FOR [DocumentalId],
	CONSTRAINT [CK__DOC_TYPE__DOC_TY__6B99EBCE] CHECK ([DOC_TYPE_ID] is not null)
GO

ALTER TABLE [dbo].[DOC_TYPE_GROUP] ADD 
	CONSTRAINT [PK__DOC_TYPE_GROUP__742F31CF] PRIMARY KEY  NONCLUSTERED 
	(
		[DOC_TYPE_GROUP_ID]
	)  ON [PRIMARY] ,
	CONSTRAINT [CK__DOC_TYPE___DOC_T__6F6A7CB2] CHECK ([DOC_TYPE_GROUP_NAME] is not null),
	CONSTRAINT [CK__DOC_TYPE___DOC_T__733B0D96] CHECK ([DOC_TYPE_GROUP_ID] is not null),
	CONSTRAINT [CK__DOC_TYPE___OBJEC__7246E95D] CHECK ([OBJECT_TYPE_ID] is not null),
	CONSTRAINT [CK__DOC_TYPE___PAREN__7152C524] CHECK ([PARENT_ID] is not null),
	CONSTRAINT [CK__DOC_TYPE_G__ICON__705EA0EB] CHECK ([ICON] is not null)
GO

ALTER TABLE [dbo].[ESTREG] ADD 
	 CHECK ([ID] is not null),
	 CHECK ([LAST_CHECK] is not null),
	 CHECK ([M_NAME] is not null),
	 CHECK ([UPDATED] is not null),
	 CHECK ([VER] is not null),
	 CHECK ([W_USER] is not null)
GO

ALTER TABLE [dbo].[INDEX_LINK_INFO] ADD 
	CONSTRAINT [DF__INDEX_LINK__FLAG__6C507AEA] DEFAULT (0) FOR [FLAG]
GO

ALTER TABLE [dbo].[INDEX_R_DOC_TYPE] ADD 
	CONSTRAINT [DF_INDEX_R_DOC_TYPE_INDEX_ID] DEFAULT (0) FOR [INDEX_ID],
	CONSTRAINT [DF__INDEX_R_D__MustC__375CC467] DEFAULT (0) FOR [MUSTCOMPLETE],
	CONSTRAINT [DF__INDEX_R_D__LoadL__3850E8A0] DEFAULT (0) FOR [LoadLotus],
	CONSTRAINT [DF__INDEX_R_D__ShowL__39450CD9] DEFAULT (0) FOR [ShowLotus],
	CONSTRAINT [DF__index_r_d__Compl__398FF0F3] DEFAULT (0) FOR [Complete],
	CONSTRAINT [DF_IndexSearch] DEFAULT ('0') FOR [IndexSearch],
	CONSTRAINT [DF_INDEX_R_DOC_TYPE_IsDataUnique] DEFAULT (0) FOR [IsDataUnique],
	CONSTRAINT [DF_INDEX_R_DOC_TYPE_IsReferenced] DEFAULT (0) FOR [IsReferenced]
GO

 CREATE  INDEX [IX_INDEX_R_DOC_TYPE] ON [dbo].[INDEX_R_DOC_TYPE]([DOC_TYPE_ID]) ON [PRIMARY]
GO

ALTER TABLE [dbo].[INDEX_TYPE] ADD 
	CONSTRAINT [CK__INDEX_TYP__INDEX__7CFE4604] CHECK ([INDEX_TYPE_ID] is not null)
GO

ALTER TABLE [dbo].[IPJOB_R_IPJOB_LIST] ADD 
	 CHECK ([IPJOB_LIST_ID] is not null),
	 CHECK ([IPJOB_ID] is not null)
GO

ALTER TABLE [dbo].[IP_FOLDER] ADD 
	CONSTRAINT [IX_IP_FOLDER] UNIQUE  NONCLUSTERED 
	(
		[PATH],
		[NOMBREMAQUINA]
	)  ON [PRIMARY] ,
	CONSTRAINT [CK__IP_FOLDER__ID__0A1E72EE] CHECK (((not([ID] is null)))),
	CONSTRAINT [CK__IP_FOLDER__ID__2A5AFC60] CHECK ([ID] is not null),
	CONSTRAINT [CK__IP_FOLDER__ID__2F1FB17D] CHECK ([ID] is not null),
	CONSTRAINT [CK__IP_FOLDER__ID__7FDAB2AF] CHECK ([ID] is not null),
	CONSTRAINT [CK__IP_FOLDER__NOMBR__00CED6E8] CHECK ([NOMBREMAQUINA] is not null),
	CONSTRAINT [CK__IP_FOLDER__NOMBR__0B129727] CHECK (((not([NOMBREMAQUINA] is null)))),
	CONSTRAINT [CK__IP_FOLDER__NOMBR__2C4344D2] CHECK ([NOMBREMAQUINA] is not null),
	CONSTRAINT [CK__IP_FOLDER__NOMBR__3013D5B6] CHECK ([NOMBREMAQUINA] is not null),
	CONSTRAINT [CK__IP_FOLDER__PATH__01C2FB21] CHECK ([PATH] is not null),
	CONSTRAINT [CK__IP_FOLDER__PATH__092A4EB5] CHECK (((not([PATH] is null)))),
	CONSTRAINT [CK__IP_FOLDER__PATH__2E2B8D44] CHECK ([PATH] is not null),
	CONSTRAINT [CK__IP_FOLDER__PATH__3107F9EF] CHECK ([PATH] is not null)
GO

ALTER TABLE [dbo].[IP_FOLDERBACKUP] ADD 
	CONSTRAINT [CK__IP_FOLDER__ANTES__02B71F5A] CHECK ([ANTES] is not null),
	CONSTRAINT [CK__IP_FOLDER__CARPE__03AB4393] CHECK ([CARPETA_BACKUP] is not null),
	CONSTRAINT [CK__IP_FOLDER__ID_CA__049F67CC] CHECK ([ID_CARPETA] is not null)
GO

ALTER TABLE [dbo].[IP_FOLDERCONF] ADD 
	CONSTRAINT [CK__IP_FOLDER__ALARM__05938C05] CHECK ([ALARMA] is not null),
	CONSTRAINT [CK__IP_FOLDER__DOMIN__0687B03E] CHECK ([DOMINGO] is not null),
	CONSTRAINT [CK__IP_FOLDER__ID_CA__077BD477] CHECK ([ID_CARPETA] is not null),
	CONSTRAINT [CK__IP_FOLDER__JUEVE__086FF8B0] CHECK ([JUEVES] is not null),
	CONSTRAINT [CK__IP_FOLDER__LUNES__09641CE9] CHECK ([LUNES] is not null),
	CONSTRAINT [CK__IP_FOLDER__MARTE__0A584122] CHECK ([MARTES] is not null),
	CONSTRAINT [CK__IP_FOLDER__MIERC__0B4C655B] CHECK ([MIERCOLES] is not null),
	CONSTRAINT [CK__IP_FOLDER__SABAD__0C408994] CHECK ([SABADO] is not null),
	CONSTRAINT [CK__IP_FOLDER__TIMER__0D34ADCD] CHECK ([TIMER] is not null),
	CONSTRAINT [CK__IP_FOLDER__TIPO___0E28D206] CHECK ([TIPO_CONF] is not null),
	CONSTRAINT [CK__IP_FOLDER__VIERN__0F1CF63F] CHECK ([VIERNES] is not null)
GO

ALTER TABLE [dbo].[IP_PREPROCESS] ADD 
	CONSTRAINT [CK__IP_PREPRO__IP_ID__10111A78] CHECK ([IP_ID] is not null),
	CONSTRAINT [CK__IP_PREPRO__ORDER__11053EB1] CHECK ([ORDERPOS] is not null),
	CONSTRAINT [CK__IP_PREPRO__PREPR__11F962EA] CHECK ([PREPROCESSNAME] is not null)
GO

ALTER TABLE [dbo].[IP_RESULTS] ADD 
	CONSTRAINT [PK__IP_RESULTS__12ED8723] PRIMARY KEY  NONCLUSTERED 
	(
		[RESULT_ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[IP_TASK] ADD 
	CONSTRAINT [CK__IP_TASK__BLOQUEA__14D5CF95] CHECK ([BLOQUEADO] is not null),
	CONSTRAINT [CK__IP_TASK__FILE_PA__15C9F3CE] CHECK ([FILE_PATH] is not null),
	CONSTRAINT [CK__IP_TASK__ID__16BE1807] CHECK ([ID] is not null),
	CONSTRAINT [CK__IP_TASK__ID_CONF__17B23C40] CHECK ([ID_CONFIGURACION] is not null),
	CONSTRAINT [CK__IP_TASK__MAQUINA__18A66079] CHECK ([MAQUINA] is not null)
GO

ALTER TABLE [dbo].[IP_TGRP] ADD 
	 CHECK ([ID] is not null),
	 CHECK ([NAME] is not null)
GO

ALTER TABLE [dbo].[IP_TYPE] ADD 
	CONSTRAINT [DF__IP_TYPE__IP_MULT__2F4FF79D] DEFAULT (0) FOR [IP_MULTIPLEFILES],
	CONSTRAINT [DF__ip_type__IP_CHEC__63270363] DEFAULT (0) FOR [IP_CHECKBATCH],
	CONSTRAINT [CK__IP_TYPE__IP_ID__2E5BD364] CHECK ([IP_ID] is not null)
GO

ALTER TABLE [dbo].[Images] ADD 
	CONSTRAINT [DF_Images_ver] DEFAULT (0) FOR [ver]
GO

ALTER TABLE [dbo].[LCK] ADD 
	 CHECK ([DOC_ID] is not null),
	 CHECK ([EST_ID] is not null),
	 CHECK ([LCK_DATE] is not null),
	 CHECK ([USER_ID] is not null)
GO

ALTER TABLE [dbo].[LSTDID] ADD 
	 CHECK ([LASTDOCID] is not null)
GO

ALTER TABLE [dbo].[LSTFNAME] ADD 
	 CHECK ([LASTNAME] is not null)
GO

ALTER TABLE [dbo].[MESSAGE] ADD 
	CONSTRAINT [DF__MESSAGE__DELETED__377B294A] DEFAULT (0) FOR [DELETED]
GO

ALTER TABLE [dbo].[MSG_DEST] ADD 
	CONSTRAINT [DF__MSG_DEST__READ__33AA9866] DEFAULT (0) FOR [READ],
	CONSTRAINT [DF__MSG_DEST__DELETE__349EBC9F] DEFAULT (0) FOR [DELETED]
GO

ALTER TABLE [dbo].[MSG_DEST_TYPE] ADD 
	CONSTRAINT [PK__MSG_DEST_TYPE__4BEC364B] PRIMARY KEY  NONCLUSTERED 
	(
		[MSG_TYPE]
	)  ON [PRIMARY] ,
	CONSTRAINT [CK__MSG_DEST___MSG_T__4A03EDD9] CHECK ([MSG_TYPE] is not null),
	CONSTRAINT [CK__MSG_DEST___TYPE___4AF81212] CHECK ([TYPE_TEXT] is not null)
GO

ALTER TABLE [dbo].[OBJECTID] ADD 
	 CHECK ([OBJECTTYPEID] is not null)
GO

ALTER TABLE [dbo].[OBJLASTID] ADD 
	 CHECK ([OBJECT_TYPE_ID] is not null)
GO

ALTER TABLE [dbo].[RemoteInsert] ADD 
	CONSTRAINT [DF_RemoteInsert_Status] DEFAULT (0) FOR [Status],
	CONSTRAINT [DF__remoteins__Docum__7E9C75B3] DEFAULT (0) FOR [DocumentId]
GO

ALTER TABLE [dbo].[RemoteUpdate] ADD 
	CONSTRAINT [DF_RemoteUpdate_Status] DEFAULT (0) FOR [Status]
GO

ALTER TABLE [dbo].[USER_HST] ADD 
	CONSTRAINT [CK__USER_HST__ACTION__65AC084E] CHECK ([ACTION_ID] is not null)
GO

ALTER TABLE [dbo].[USRGROUP] ADD 
	CONSTRAINT [DF_USRGROUP_ID] DEFAULT (0) FOR [ID],
	CONSTRAINT [DF_USRGROUP_STATE] DEFAULT (0) FOR [STATE],
	CONSTRAINT [IX_USRGROUP] UNIQUE  NONCLUSTERED 
	(
		[NAME]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[USRTABLE] ADD 
	CONSTRAINT [DF__USRTABLE__STATE__35BE94B8] DEFAULT (0) FOR [STATE],
	CONSTRAINT [DF__USRTABLE__EXPIRA__36B2B8F1] DEFAULT (0) FOR [EXPIRATIONTIME],
	CONSTRAINT [DF__USRTABLE__CONF_B__4B8483FC] DEFAULT ('Base Sin Asignar') FOR [CONF_BASEMAIL],
	CONSTRAINT [DF__USRTABLE__CONF_M__4C78A835] DEFAULT ('Servidor No Asignado') FOR [CONF_MAILSERVER],
	CONSTRAINT [DF__USRTABLE__CONF_M__4D6CCC6E] DEFAULT (3) FOR [CONF_MAILTYPE],
	CONSTRAINT [DF__USRTABLE__SMTP__4E60F0A7] DEFAULT ('No Asignado') FOR [SMTP],
	CONSTRAINT [IX_USRTABLE] UNIQUE  NONCLUSTERED 
	(
		[NAME]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[USR_RIGHTS] ADD 
	CONSTRAINT [DF__USR_RIGHT__ADITI__33D64C46] DEFAULT ((-1)) FOR [ADITIONAL],
	CONSTRAINT [USR_RIGHTS_UK11110553878562] UNIQUE  NONCLUSTERED 
	(
		[GROUPID],
		[OBJID],
		[RTYPE],
		[ADITIONAL]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[VERREG] ADD 
	 CHECK ([ID] is not null),
	 CHECK ([PATH] is not null),
	 CHECK ([VER] is not null)
GO

 CREATE  INDEX [PK_WFDocument] ON [dbo].[WFDocument]([Doc_ID], [step_Id]) ON [PRIMARY]
GO

 CREATE  INDEX [IX_WFDocument] ON [dbo].[WFDocument]([step_Id], [User_Asigned]) ON [PRIMARY]
GO

ALTER TABLE [dbo].[WFRuleParamItems] ADD 
	CONSTRAINT [DF_WFRuleParamItems_Rule_id] DEFAULT (0) FOR [Rule_id],
	CONSTRAINT [DF_WFRuleParamItems_ObjectTypes] DEFAULT (0) FOR [ObjectTypes]
GO

 CREATE  INDEX [IX_WFRules] ON [dbo].[WFRules]([step_Id], [Id], [ParentId]) ON [PRIMARY]
GO

ALTER TABLE [dbo].[WFStep] ADD 
	CONSTRAINT [DF_WFStep_Description] DEFAULT ('Descripcion') FOR [Description],
	CONSTRAINT [DF_WFStep_Help] DEFAULT ('Ayuda') FOR [Help],
	CONSTRAINT [DF_WFStep_max_days] DEFAULT (7) FOR [max_Hours],
	CONSTRAINT [DF_WFStep_max_docs] DEFAULT (15) FOR [max_docs],
	CONSTRAINT [DF__WFStep__Color__7718ED77] DEFAULT ('') FOR [Color],
	CONSTRAINT [DF__WFStep__Width__780D11B0] DEFAULT (150) FOR [Width],
	CONSTRAINT [DF__WFStep__Height__790135E9] DEFAULT (50) FOR [Height],
	CONSTRAINT [DF__WFStep__Width2__37144252] DEFAULT (150) FOR [Width2]
GO

 CREATE  INDEX [XIF1WFStep] ON [dbo].[WFStep]([work_id], [step_Id]) ON [PRIMARY]
GO

 CREATE  INDEX [IX_WFStepStates] ON [dbo].[WFStepStates]([Step_Id]) ON [PRIMARY]
GO

ALTER TABLE [dbo].[WFWorkflow] ADD 
	CONSTRAINT [DF_WFWorkflow_Description] DEFAULT ('Descripcion') FOR [Description],
	CONSTRAINT [DF_WFWorkflow_Help] DEFAULT ('Ayuda') FOR [Help]
GO

ALTER TABLE [dbo].[WF_DT] ADD 
	CONSTRAINT [IX_WF_DT] UNIQUE  NONCLUSTERED 
	(
		[WFId],
		[DocTypeId]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[WF_Frms] ADD 
	CONSTRAINT [IX_WF_Frms] UNIQUE  NONCLUSTERED 
	(
		[Step_Id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[ZBarcodeComplete] ADD 
	CONSTRAINT [DF__ZBarCodeC__Condi__51BD4B96] DEFAULT ('=') FOR [Conditions]
GO

 CREATE  INDEX [IX_ZFrmIndexsDesc] ON [dbo].[ZFrmIndexsDesc]([FId], [IId], [Type], [Value]) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ZI] ADD 
	CONSTRAINT [DF_ZI_UserID] DEFAULT (0) FOR [UserID],
	CONSTRAINT [IX_ZI] UNIQUE  NONCLUSTERED 
	(
		[DocID]
	)  ON [PRIMARY] 
GO

 CREATE  INDEX [IX_ZRuleOpt] ON [dbo].[ZRuleOpt]([RuleId], [SectionId], [ObjectId]) ON [PRIMARY]
GO

 CREATE  UNIQUE  INDEX [IX_ZSearchValues] ON [dbo].[ZSearchValues]([Word]) ON [PRIMARY]
GO

ALTER TABLE [dbo].[DISK_GROUP_R_DISK_VOLUME] ADD 
	CONSTRAINT [FK_DISK_GROUP_R_DISK_VOLUME_DISK_GROUP] FOREIGN KEY 
	(
		[DISK_GROUP_ID]
	) REFERENCES [dbo].[DISK_GROUP] (
		[DISK_GROUP_ID]
	),
	CONSTRAINT [FK_DISK_GROUP_R_DISK_VOLUME_DISK_VOLUME] FOREIGN KEY 
	(
		[DISK_VOLUME_ID]
	) REFERENCES [dbo].[DISK_VOLUME] (
		[DISK_VOL_ID]
	)
GO

ALTER TABLE [dbo].[DOC_NOTES] ADD 
	CONSTRAINT [FK_DOC_NOTES_DOC_TYPE] FOREIGN KEY 
	(
		[DOC_TYPE_ID]
	) REFERENCES [dbo].[DOC_TYPE] (
		[DOC_TYPE_ID]
	),
	CONSTRAINT [FK_DOC_NOTES_USRTABLE] FOREIGN KEY 
	(
		[USER_ID]
	) REFERENCES [dbo].[USRTABLE] (
		[ID]
	)
GO

ALTER TABLE [dbo].[DOC_RESTRICTIONS] ADD 
	CONSTRAINT [FK_DOC_RESTRICTIONS_DOC_INDEX] FOREIGN KEY 
	(
		[INDEX_ID]
	) REFERENCES [dbo].[DOC_INDEX] (
		[INDEX_ID]
	),
	CONSTRAINT [FK_DOC_RESTRICTIONS_DOC_TYPE] FOREIGN KEY 
	(
		[DOC_TYPE_ID]
	) REFERENCES [dbo].[DOC_TYPE] (
		[DOC_TYPE_ID]
	)
GO

ALTER TABLE [dbo].[DOC_RESTRICTION_R_USER] ADD 
	CONSTRAINT [FK_DOC_RESTRICTION_R_USER_DOC_RESTRICTIONS] FOREIGN KEY 
	(
		[RESTRICTION_ID]
	) REFERENCES [dbo].[DOC_RESTRICTIONS] (
		[RESTRICTION_ID]
	)
GO

ALTER TABLE [dbo].[DOC_TYPE] ADD 
	CONSTRAINT [FK_DOC_TYPE_DISK_GROUP] FOREIGN KEY 
	(
		[DISK_GROUP_ID]
	) REFERENCES [dbo].[DISK_GROUP] (
		[DISK_GROUP_ID]
	)
GO

ALTER TABLE [dbo].[DOC_TYPE_R_DOC_TYPE] ADD 
	CONSTRAINT [FK_DOC_TYPE_R_DOC_TYPE_DOC_INDEX] FOREIGN KEY 
	(
		[Index1]
	) REFERENCES [dbo].[DOC_INDEX] (
		[INDEX_ID]
	),
	CONSTRAINT [FK_DOC_TYPE_R_DOC_TYPE_DOC_INDEX1] FOREIGN KEY 
	(
		[Index2]
	) REFERENCES [dbo].[DOC_INDEX] (
		[INDEX_ID]
	),
	CONSTRAINT [FK_DOC_TYPE_R_DOC_TYPE_DOC_TYPE] FOREIGN KEY 
	(
		[DocTypeID1]
	) REFERENCES [dbo].[DOC_TYPE] (
		[DOC_TYPE_ID]
	),
	CONSTRAINT [FK_DOC_TYPE_R_DOC_TYPE_DOC_TYPE1] FOREIGN KEY 
	(
		[DocTypeID2]
	) REFERENCES [dbo].[DOC_TYPE] (
		[DOC_TYPE_ID]
	)
GO

ALTER TABLE [dbo].[DOC_TYPE_R_DOC_TYPE_GROUP] ADD 
	CONSTRAINT [FK_DOC_TYPE_R_DOC_TYPE_GROUP_DOC_TYPE] FOREIGN KEY 
	(
		[DOC_TYPE_ID]
	) REFERENCES [dbo].[DOC_TYPE] (
		[DOC_TYPE_ID]
	),
	CONSTRAINT [FK_DOC_TYPE_R_DOC_TYPE_GROUP_DOC_TYPE_GROUP] FOREIGN KEY 
	(
		[DOC_TYPE_GROUP]
	) REFERENCES [dbo].[DOC_TYPE_GROUP] (
		[DOC_TYPE_GROUP_ID]
	)
GO

ALTER TABLE [dbo].[DocumentKeyIndexs] ADD 
	CONSTRAINT [FK_DocumentKeyIndexs_DOC_INDEX] FOREIGN KEY 
	(
		[IndexId]
	) REFERENCES [dbo].[DOC_INDEX] (
		[INDEX_ID]
	),
	CONSTRAINT [FK_DocumentKeyIndexs_RemoteUpdate] FOREIGN KEY 
	(
		[Id]
	) REFERENCES [dbo].[RemoteUpdate] (
		[TemporaryID]
	)
GO

ALTER TABLE [dbo].[DocumentUpdateIndexs] ADD 
	CONSTRAINT [FK_DocumentUpdateIndexs_DOC_INDEX] FOREIGN KEY 
	(
		[IndexId]
	) REFERENCES [dbo].[DOC_INDEX] (
		[INDEX_ID]
	),
	CONSTRAINT [FK_DocumentUpdateIndexs_RemoteUpdate1] FOREIGN KEY 
	(
		[Id]
	) REFERENCES [dbo].[RemoteUpdate] (
		[TemporaryID]
	)
GO

ALTER TABLE [dbo].[DocumentsIndexs] ADD 
	CONSTRAINT [FK_DocumentsIndexs_RemoteInsert] FOREIGN KEY 
	(
		[Id]
	) REFERENCES [dbo].[RemoteInsert] (
		[TemporaryID]
	),
	CONSTRAINT [FK_DocumentsInsertIndexs_DOC_INDEX] FOREIGN KEY 
	(
		[IndexId]
	) REFERENCES [dbo].[DOC_INDEX] (
		[INDEX_ID]
	)
GO

ALTER TABLE [dbo].[INDEX_LINK_INFO] ADD 
	CONSTRAINT [FK__INDEX_LINK_I__ID__6AAA8B9F] FOREIGN KEY 
	(
		[ID]
	) REFERENCES [dbo].[INDEX_LINK] (
		[ID]
	) ON DELETE CASCADE ,
	CONSTRAINT [FK__INDEX_LINK_INFO__6D449F23] FOREIGN KEY 
	(
		[DOCINDEX],
		[DOCTYPE]
	) REFERENCES [dbo].[INDEX_R_DOC_TYPE] (
		[INDEX_ID],
		[DOC_TYPE_ID]
	) ON DELETE CASCADE 
GO

ALTER TABLE [dbo].[INDEX_R_DOC_TYPE] ADD 
	CONSTRAINT [FK_INDEX_R_DOC_TYPE_DOC_INDEX] FOREIGN KEY 
	(
		[INDEX_ID]
	) REFERENCES [dbo].[DOC_INDEX] (
		[INDEX_ID]
	),
	CONSTRAINT [FK_INDEX_R_DOC_TYPE_DOC_TYPE] FOREIGN KEY 
	(
		[DOC_TYPE_ID]
	) REFERENCES [dbo].[DOC_TYPE] (
		[DOC_TYPE_ID]
	) ON DELETE CASCADE 
GO

ALTER TABLE [dbo].[INDEX_R_INDEX_TYPE] ADD 
	CONSTRAINT [FK_INDEX_R_INDEX_TYPE_DOC_INDEX] FOREIGN KEY 
	(
		[INDEX_ID]
	) REFERENCES [dbo].[DOC_INDEX] (
		[INDEX_ID]
	),
	CONSTRAINT [FK_INDEX_R_INDEX_TYPE_INDEX_TYPE] FOREIGN KEY 
	(
		[INDEX_TYPE_ID]
	) REFERENCES [dbo].[INDEX_TYPE] (
		[INDEX_TYPE_ID]
	)
GO

ALTER TABLE [dbo].[Images] ADD 
	CONSTRAINT [FK_Images_Images_Type] FOREIGN KEY 
	(
		[Type]
	) REFERENCES [dbo].[Images_Type] (
		[Type]
	) ON DELETE CASCADE  ON UPDATE CASCADE  NOT FOR REPLICATION 
GO

ALTER TABLE [dbo].[RemoteInsert] ADD 
	CONSTRAINT [FK_RemoteInsert_DOC_TYPE] FOREIGN KEY 
	(
		[DocTypeId]
	) REFERENCES [dbo].[DOC_TYPE] (
		[DOC_TYPE_ID]
	)
GO

ALTER TABLE [dbo].[RemoteUpdate] ADD 
	CONSTRAINT [FK_RemoteUpdate_DOC_TYPE] FOREIGN KEY 
	(
		[DocTypeId]
	) REFERENCES [dbo].[DOC_TYPE] (
		[DOC_TYPE_ID]
	)
GO

ALTER TABLE [dbo].[RequestActionExecution] ADD 
	CONSTRAINT [FK_RequestActionExecution_RequestAction] FOREIGN KEY 
	(
		[RequestActionId]
	) REFERENCES [dbo].[RequestAction] (
		[Id]
	) ON DELETE CASCADE  ON UPDATE CASCADE 
GO

ALTER TABLE [dbo].[RequestActionRules] ADD 
	CONSTRAINT [FK_RequestActionRules_RequestAction] FOREIGN KEY 
	(
		[RequestActionId]
	) REFERENCES [dbo].[RequestAction] (
		[Id]
	),
	CONSTRAINT [FK_RequestActionRules_WFRules] FOREIGN KEY 
	(
		[RuleId]
	) REFERENCES [dbo].[WFRules] (
		[Id]
	) ON DELETE CASCADE  ON UPDATE CASCADE 
GO

ALTER TABLE [dbo].[RequestActionTasks] ADD 
	CONSTRAINT [FK_RequestActionTasks_RequestAction] FOREIGN KEY 
	(
		[RequestActionId]
	) REFERENCES [dbo].[RequestAction] (
		[Id]
	)
GO

ALTER TABLE [dbo].[RequestActionUsers] ADD 
	CONSTRAINT [FK_RequestActionUsers_RequestAction] FOREIGN KEY 
	(
		[RequestActionId]
	) REFERENCES [dbo].[RequestAction] (
		[Id]
	),
	CONSTRAINT [FK_RequestActionUsers_USRTABLE] FOREIGN KEY 
	(
		[UserId]
	) REFERENCES [dbo].[USRTABLE] (
		[ID]
	)
GO

ALTER TABLE [dbo].[USR_R_GROUP] ADD 
	CONSTRAINT [FK_USR_R_GROUP_USRGROUP] FOREIGN KEY 
	(
		[GROUPID]
	) REFERENCES [dbo].[USRGROUP] (
		[ID]
	) ON DELETE CASCADE  ON UPDATE CASCADE ,
	CONSTRAINT [FK_USR_R_GROUP_USRTABLE] FOREIGN KEY 
	(
		[USRID]
	) REFERENCES [dbo].[USRTABLE] (
		[ID]
	)
GO

ALTER TABLE [dbo].[WFContexts] ADD 
	CONSTRAINT [FK_WFContexts_WFWorkflow] FOREIGN KEY 
	(
		[WF_ID]
	) REFERENCES [dbo].[WFWorkflow] (
		[work_id]
	) ON DELETE CASCADE  ON UPDATE CASCADE 
GO

ALTER TABLE [dbo].[WFDocument] ADD 
	CONSTRAINT [FK_WFDocument_WFStep] FOREIGN KEY 
	(
		[step_Id]
	) REFERENCES [dbo].[WFStep] (
		[step_Id]
	) ON DELETE CASCADE ,
	CONSTRAINT [FK_WFDocument_WFTask_States] FOREIGN KEY 
	(
		[Task_State_ID]
	) REFERENCES [dbo].[WFTask_States] (
		[Task_State_Id]
	)
GO

ALTER TABLE [dbo].[WFFaces] ADD 
	CONSTRAINT [FK_WFFaces_WFWorkflow] FOREIGN KEY 
	(
		[Id]
	) REFERENCES [dbo].[WFWorkflow] (
		[work_id]
	) ON DELETE CASCADE  ON UPDATE CASCADE 
GO

ALTER TABLE [dbo].[WFRuleParamItems] ADD 
	CONSTRAINT [FK_WFRuleParamItems_WFRules] FOREIGN KEY 
	(
		[Rule_id]
	) REFERENCES [dbo].[WFRules] (
		[Id]
	) ON DELETE CASCADE  ON UPDATE CASCADE 
GO

ALTER TABLE [dbo].[WFRules] ADD 
	CONSTRAINT [FK_WFRules_WFStep] FOREIGN KEY 
	(
		[step_Id]
	) REFERENCES [dbo].[WFStep] (
		[step_Id]
	) ON DELETE CASCADE  ON UPDATE CASCADE 
GO

ALTER TABLE [dbo].[WFStep] ADD 
	CONSTRAINT [FK_WFStep_WFWorkflow] FOREIGN KEY 
	(
		[work_id]
	) REFERENCES [dbo].[WFWorkflow] (
		[work_id]
	) ON DELETE CASCADE  ON UPDATE CASCADE 
GO

ALTER TABLE [dbo].[WFStepOpt] ADD 
	CONSTRAINT [FK_WFStepOpt_WFStep] FOREIGN KEY 
	(
		[StepId]
	) REFERENCES [dbo].[WFStep] (
		[step_Id]
	) ON DELETE CASCADE 
GO

ALTER TABLE [dbo].[WFStepStates] ADD 
	CONSTRAINT [FK_WFStepStates_WFStep] FOREIGN KEY 
	(
		[Step_Id]
	) REFERENCES [dbo].[WFStep] (
		[step_Id]
	) ON DELETE CASCADE 
GO

ALTER TABLE [dbo].[WF_DT] ADD 
	CONSTRAINT [FK_WF_DT_DOC_TYPE] FOREIGN KEY 
	(
		[DocTypeId]
	) REFERENCES [dbo].[DOC_TYPE] (
		[DOC_TYPE_ID]
	) ON DELETE CASCADE  ON UPDATE CASCADE ,
	CONSTRAINT [FK_WF_DT_WFWorkflow] FOREIGN KEY 
	(
		[WFId]
	) REFERENCES [dbo].[WFWorkflow] (
		[work_id]
	) ON DELETE CASCADE 
GO

ALTER TABLE [dbo].[WF_Frms] ADD 
	CONSTRAINT [FK_WF_Frms_WFStep] FOREIGN KEY 
	(
		[Step_Id]
	) REFERENCES [dbo].[WFStep] (
		[step_Id]
	) ON DELETE CASCADE  ON UPDATE CASCADE 
GO

ALTER TABLE [dbo].[ZFrmDesc] ADD 
	CONSTRAINT [DTId_fk] FOREIGN KEY 
	(
		[DTId]
	) REFERENCES [dbo].[DOC_TYPE] (
		[DOC_TYPE_ID]
	),
	CONSTRAINT [FId_fk] FOREIGN KEY 
	(
		[FId]
	) REFERENCES [dbo].[ZFrms] (
		[Id]
	),
	CONSTRAINT [IId_fk] FOREIGN KEY 
	(
		[IId]
	) REFERENCES [dbo].[DOC_INDEX] (
		[INDEX_ID]
	)
GO

ALTER TABLE [dbo].[ZFrmIndexsDesc] ADD 
	CONSTRAINT [FK_ZFrmIndexsDesc_zFrmDynamicForms] FOREIGN KEY 
	(
		[FId],
		[IId]
	) REFERENCES [dbo].[zFrmDynamicForms] (
		[IdFormulario],
		[IdIndice]
	)
GO

ALTER TABLE [dbo].[ZFrmsRequirements] ADD 
	CONSTRAINT [FK_ZFrmsRequirements_ZFrms] FOREIGN KEY 
	(
		[FrmId]
	) REFERENCES [dbo].[ZFrms] (
		[Id]
	)
GO

ALTER TABLE [dbo].[ZIndexReference] ADD 
	CONSTRAINT [FK_ZIndexReference_INDEX_R_DOC_TYPE] FOREIGN KEY 
	(
		[IId],
		[DTId]
	) REFERENCES [dbo].[INDEX_R_DOC_TYPE] (
		[INDEX_ID],
		[DOC_TYPE_ID]
	) ON DELETE CASCADE 
GO

ALTER TABLE [dbo].[ZIndexReferenceKeys] ADD 
	CONSTRAINT [FK_ZIndexReferenceKeys_DOC_INDEX] FOREIGN KEY 
	(
		[IndexId]
	) REFERENCES [dbo].[DOC_INDEX] (
		[INDEX_ID]
	),
	CONSTRAINT [FK_ZIndexReferenceKeys_ZIndexReference] FOREIGN KEY 
	(
		[ReferenceId]
	) REFERENCES [dbo].[ZIndexReference] (
		[ReferenceId]
	) ON DELETE CASCADE 
GO

ALTER TABLE [dbo].[ZMailConfig] ADD 
	CONSTRAINT [FK_ZMailConfig_USRTABLE] FOREIGN KEY 
	(
		[UserID]
	) REFERENCES [dbo].[USRTABLE] (
		[ID]
	) ON DELETE CASCADE  ON UPDATE CASCADE 
GO

ALTER TABLE [dbo].[ZRuleOpt] ADD 
	CONSTRAINT [FK_ZRuleOpt_WFRules] FOREIGN KEY 
	(
		[RuleId]
	) REFERENCES [dbo].[WFRules] (
		[Id]
	) ON DELETE CASCADE 
GO

ALTER TABLE [dbo].[ZSearchValues_DT] ADD 
	CONSTRAINT [FK_ZSearchValues_DT_INDEX_R_DOC_TYPE] FOREIGN KEY 
	(
		[IndexId],
		[DTID]
	) REFERENCES [dbo].[INDEX_R_DOC_TYPE] (
		[INDEX_ID],
		[DOC_TYPE_ID]
	) ON DELETE CASCADE ,
	CONSTRAINT [FK_ZSearchValues_DT_ZSearchValues] FOREIGN KEY 
	(
		[WordId]
	) REFERENCES [dbo].[ZSearchValues] (
		[Id]
	)
GO

ALTER TABLE [dbo].[ZVerConfig] ADD 
	CONSTRAINT [FK_ZVerConfig_DOC_INDEX] FOREIGN KEY 
	(
		[IndexId]
	) REFERENCES [dbo].[DOC_INDEX] (
		[INDEX_ID]
	),
	CONSTRAINT [FK_ZVerConfig_DOC_TYPE] FOREIGN KEY 
	(
		[DtId]
	) REFERENCES [dbo].[DOC_TYPE] (
		[DOC_TYPE_ID]
	)
GO

ALTER TABLE [dbo].[ZVerEv] ADD 
	CONSTRAINT [FK_ZVerEv] FOREIGN KEY 
	(
		[EventId]
	) REFERENCES [dbo].[ZVerEvents] (
		[EventId]
	),
	CONSTRAINT [FK_ZVerEv_ZverConfig] FOREIGN KEY 
	(
		[DataId]
	) REFERENCES [dbo].[ZVerConfig] (
		[DataId]
	)
GO

ALTER TABLE [dbo].[ZambaExportIndexes] ADD 
	CONSTRAINT [FK_ZambaExportIndexes_ZambaExport] FOREIGN KEY 
	(
		[TemporaryId]
	) REFERENCES [dbo].[ZambaExport] (
		[TemporaryId]
	)
GO

ALTER TABLE [dbo].[Zext_zfrms] ADD 
	CONSTRAINT [FK_Zext_zfrms_ZFrms] FOREIGN KEY 
	(
		[zfrms_id]
	) REFERENCES [dbo].[ZFrms] (
		[Id]
	) ON DELETE CASCADE  ON UPDATE CASCADE 
GO

ALTER TABLE [dbo].[Ztype_Zfrms] ADD 
	CONSTRAINT [FK_Ztype_Zfrms_ZFrms] FOREIGN KEY 
	(
		[Form_Id]
	) REFERENCES [dbo].[ZFrms] (
		[Id]
	)
GO

ALTER TABLE [dbo].[Zwfopt] ADD 
	CONSTRAINT [FK_Zwfopt_WFRules] FOREIGN KEY 
	(
		[Ruleid]
	) REFERENCES [dbo].[WFRules] (
		[Id]
	) ON DELETE CASCADE 
GO

ALTER TABLE [dbo].[zFrmDynamicForms] ADD 
	CONSTRAINT [IdFormulario_fk] FOREIGN KEY 
	(
		[IdFormulario]
	) REFERENCES [dbo].[ZFrms] (
		[Id]
	),
	CONSTRAINT [IdIndice_fk] FOREIGN KEY 
	(
		[IdIndice]
	) REFERENCES [dbo].[DOC_INDEX] (
		[INDEX_ID]
	),
	CONSTRAINT [IdSeccion_fk] FOREIGN KEY 
	(
		[IdSeccion]
	) REFERENCES [dbo].[Secciones] (
		[IdSeccion]
	)
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE TRIGGER [InsertToUcm_Hst] 
ON [dbo].[UCM] FOR INSERT,  DELETE AS
Declare @UserId numeric
Declare @Conex numeric
Declare @Type numeric


SELECT @type=type, @UserId=user_id from inserted
SELECT @Conex=(SELECT count(*) FROM UCM where type=@type)
INSERT INTO ucm_hst (Fecha_y_Hora , CountConex, type, uid) values (GETDATE() , @Conex, @type,  @UserId)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE TRIGGER 	TRGWFDOCUMENT 
ON dbo.WFDocument FOR insert AS 
BEGIN 

declare @FechaVencimiento datetime,@step_id int,@max_Hours int,@fecha datetime

set nocount on

select @step_id = step_id from inserted

set nocount on
select @max_Hours = max_Hours from wfstep where step_id = @step_id

set @fecha = getdate()
set @FechaVencimiento = dateadd(hour,@max_Hours,@fecha)
set nocount on

update WFDOCUMENT set CHECKIN=@fecha,Date_Asigned_By=@fecha,
[ExpireDate] = @FechaVencimiento
where task_id in (select task_id from inserted) 

END

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

