SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

Create VIEW BARCODE
AS
Select DOC_TYPE_ID, count(Id) Cantidad, BATCH, BOX, SCANNED from zbarcode group by ID,DOC_TYPE_ID,BATCH, BOX, SCANNED


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

create View BestDocuments
as
Select top 90 S_OBJECT_ID as "Documento",Count(S_Object_ID)as "Cantidad de Consultas"
from user_hst 
group by S_OBJECT_ID
order by "Cantidad de Consultas" DESC

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO


CREATE VIEW DOCUMENTS AS
       SELECT dt.DOC_TYPE_ID, dt.DOC_TYPE_NAME, di.INDEX_ID, di.INDEX_NAME, di.INDEX_TYPE, di.INDEX_LEN, dri.ORDEN
       FROM DOC_TYPE dt, DOC_INDEX di, INDEX_R_DOC_TYPE dri
       WHERE dt.doc_type_id =  dri.doc_type_id AND di.index_id =  dri.index_id       

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

Create View DocDeleted
as
select [name] as Usuario,Action_Date as Fecha, S_Object_Id as Documento from user_hst,usrtable
where Action_ID=4 and user_hst.user_id=usrtable.id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

Create View DocSend
As
select name as Usuario,Action_Date as Fecha, S_Object_Id as Documento from user_hst,usrtable
where Action_ID=11 and user_hst.user_id=usrtable.id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

Create View EstregView
AS
Select ID, M_NAME "PC", W_USER "Usuario Windows",VER "Version", UPDATED "Actualizado", LAST_CHECK "Ultima verificacion" from estreg



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW HISTORYVIEW
AS
SELECT top 100 PERCENT  USER_HST.ACTION_DATE as "Fecha",
USRTABLE.NAME as "Usuario", 
USER_HST.ACTION_ID as "Accion" 
FROM USER_HST, USRTABLE 
WHERE USER_HST.USER_ID =usrtable.id 
and USER_HST.ACTION_DATE> getdate()-30
order by usuario



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE View LoginsFailed
As
Select top 100 PERCENT User_hst.Action_date as Fecha,(UsrTable.Apellido + ' ' + usrtable.nombres) as Usuario
from User_hst, Usrtable
where user_hst.ACTION_TYPE=27 and user_hst.[User_ID]=UsrTable.[Id] 
order by UsrTable.[apellido]


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO


CREATE VIEW OBJECTTYPES_VIEW AS
       SELECT OBJECTTYPES.OBJECTTYPES, OBJECTTYPES.OBJECTTYPESID
       FROM OBJECTTYPES

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW RESTRICTION ("DOC_TYPE_ID", "INDEX_ID","STRING_VALUE","RESTRICTION_ID","RESTRICTION_NAME", "USER_ID") AS 
    select DOC_TYPE_ID, INDEX_ID, STRING_VALUE, r.RESTRICTION_ID,
    RESTRICTION_NAME,USER_ID 
    from doc_restrictions r,doc_restriction_r_user u 
where u.restriction_id=r.restriction_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE  View USR_Rights_View
As
select u.ID [USER_ID],
       u.[name] [USER_NAME],
       r.rtype RIGHT_TYPE,
       r.objid OBJECTID,Aditional
from usrtable u,
     usr_r_group urr,
     usr_rights r
where (u.id=urr.usrid and urr.groupid=r.groupid)
union 
select u.ID [USER_ID],
       u.[name] [USER_NAME],
       r.rtype RIGHT_TYPE,
       r.objid OBJECTID,Aditional
from usrtable u,
     usr_rights r
where u.id=r.groupid

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW dbo.VIEW1
AS
SELECT     TOP 100 PERCENT WFDocument.*
FROM        WFDocument
ORDER BY Doc_ID DESC


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

Create View ViewBarCodeAutocomplete
As
select top 100 percent dt.doc_type_name Documento,di.index_name Indice from zbarcodeComplete bc inner join doc_type dt
on dt.doc_type_id=bc.doctypeid
inner join doc_index di
on di.index_id=bc.indexid
order by Doc_type_name,index_name




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW ViewPermisosPorGrupo
AS

SELECT TOP 100 PERCENT USRGROUP.NAME AS GRUPO, RIGHTSTYPE.RIGHTSTYPE, DOC_TYPE.DOC_TYPE_NAME
FROM         RIGHTSTYPE INNER JOIN
                      USR_RIGHTS ON RIGHTSTYPE.RIGHTSTYPEID = USR_RIGHTS.RTYPE INNER JOIN
                      USRGROUP ON USR_RIGHTS.GROUPID = USRGROUP.ID INNER JOIN
                      DOC_TYPE ON USR_RIGHTS.ADITIONAL = DOC_TYPE.DOC_TYPE_ID
ORDER BY GRUPO




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW ViewUsuariosPorGrupo

AS

--USUARIOS POR GRUPO-----
SELECT top 100 percent USRTABLE.NAME AS USUARIO, USRGROUP.NAME AS GRUPO 
	FROM USRTABLE INNER JOIN USR_R_GROUP ON (USRTABLE.ID=USR_R_GROUP.USRID)
		      INNER JOIN USRGROUP ON (USRGROUP.ID=USR_R_GROUP.GROUPID) 	
ORDER BY USUARIO

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW View_GetExpiredDocs
AS
SELECT     Name AS Documento_Nombre, Doc_ID
FROM         WFDocument
WHERE     (ExpireDate < GETDATE())


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW [Vista de Indices para Search]
AS
SELECT     TOP 100 PERCENT DOC_TYPE.DOC_TYPE_NAME, INDEX_R_DOC_TYPE.IndexSearch, DOC_INDEX.INDEX_ID, 
                     DOC_INDEX.INDEX_NAME, DOC_TYPE.DOC_TYPE_ID
FROM        INDEX_R_DOC_TYPE INNER JOIN
                      DOC_TYPE ON INDEX_R_DOC_TYPE.DOC_TYPE_ID = DOC_TYPE.DOC_TYPE_ID INNER JOIN
                      DOC_INDEX ON INDEX_R_DOC_TYPE.INDEX_ID = DOC_INDEX.INDEX_ID
WHERE     (DOC_TYPE.DOC_TYPE_ID = 960)
ORDER BY DOC_TYPE.DOC_TYPE_NAME, DOC_INDEX.INDEX_NAME


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW dbo.ZVIEWWFFOLDERDOCUMENTCOUNT
AS
SELECT     COUNT(*) AS [COUNT], Folder_ID
FROM         dbo.WFDocument
GROUP BY Folder_ID, step_Id, work_id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW ZVIEWWFSTEPS AS SELECT step_Id, work_id, Name, Description, Help, CreateDate, ImageIndex, EditDate, LocationX, LocationY, max_docs, max_Hours, StartAtOpenDoc FROM WFStep
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW ZViewFolderDocuments
AS
SELECT     COUNT(*) AS [COUNT], Folder_ID
FROM         WFDocument
GROUP BY Folder_ID, step_Id


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW ZViewFolders
AS
SELECT     Folder_ID, step_Id
FROM         WFDocument
GROUP BY Folder_ID, step_Id


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW ZViewWFDocumentCOUNT
AS
SELECT     COUNT(Doc_ID) AS DCOUNT, step_Id
FROM         WFDocument
GROUP BY step_Id


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW ZView_URBU_300
AS
SELECT     TOP 100 PERCENT WFStep.step_Id, USRTABLE.ID, USRTABLE.NAME
FROM         USR_RIGHTS INNER JOIN
                      WFStep ON USR_RIGHTS.ADITIONAL = WFStep.step_Id INNER JOIN
                      USRTABLE ON USR_RIGHTS.GROUPID = USRTABLE.ID
WHERE     (USR_RIGHTS.RTYPE = 19) AND (USR_RIGHTS.OBJID = 42)
ORDER BY USR_RIGHTS.ADITIONAL


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW ZviewShowInsertsHistory AS
    SELECT  USRTABLE.NAME AS Usuario, USER_HST.ACTION_DATE AS [Fecha de Insertado], 
            USER_HST.S_OBJECT_ID AS [Nombre del Documento Insertado],RIGHTSTYPE.RIGHTSTYPE AS ACCION
    FROM    USER_HST INNER JOIN
            USRTABLE ON USER_HST.USER_ID = USRTABLE.ID INNER JOIN
            RIGHTSTYPE ON USER_HST.ACTION_TYPE = RIGHTSTYPE.RIGHTSTYPEID 
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

create View Zvw_BESTDOCUMENTS_100 as Select top 90 S_OBJECT_ID as Documento,Count(S_Object_ID)as [Cantidad de Consultas] from user_hst group by S_OBJECT_ID order by [Cantidad de Consultas] DESC
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

Create View Zvw_DOCDELETED_100 as select [name] as Usuario,Action_Date as Fecha, S_Object_Id as Documento from user_hst,usrtable where Action_ID=4 and user_hst.user_id=usrtable.id
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

Create View Zvw_DOCSEND_100 As select name as Usuario,Action_Date as Fecha, S_Object_Id as Documento from user_hst,usrtable where Action_ID=11 and user_hst.user_id=usrtable.id
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

Create View Zvw_ESTREG_100 AS Select ID, M_NAME PC, W_USER [Usuario Windows],VER Version, UPDATED Actualizado, LAST_CHECK [Ultima verificacion] from estreg
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW Zvw_HISTORYVIEW_100 AS SELECT top 100 percent USER_HST.ACTION_DATE as Fecha, USRTABLE.NAME as Usuario, USER_HST.ACTION_ID as Accion FROM USER_HST, USRTABLE WHERE USER_HST.USER_ID =usrtable.id and USER_HST.ACTION_DATE> getdate()-30 order by usuario
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE View Zvw_INSTALACIONES_100 as Select top 100 percent ID as [Nro de PC], W_User as [Usuario Windows], M_Name as PC, VER as [Version Zamba] from estreg order by W_User
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

Create View Zvw_LoginsFailed_100 As Select top 100 percent User_hst.Action_date as Fecha,(UsrTable.Apellido + ' ' + usrtable.nombres) as Usuario from User_hst, Usrtable where user_hst.ACTION_TYPE=27 and user_hst.[User_ID]=UsrTable.[Id] order by UsrTable.[apellido]
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW Zvw_ONLINEUSERS_100 (USER_DESCRIPTION, Hora_de_Conexion, Ultima_Actividad, Usuario_de_Windows, PC_Nro, PC, timeout) AS select UsrTable.Description, UCM.C_Time as Hora_de_Conexion, UCM.U_Time as Ultima_Actividad, UCM.WinUser as Usuario_de_Windows, Estreg.ID as PC_Nro,EStreg.M_Name as PC,UCM.Time_Out as timeout from UCM, Estreg, UsrTable Where UCM.USER_ID=UsrTable.ID and UCM.WinUser=Estreg.W_User
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW Zvw_RESTRICTION_100 (DOC_TYPE_ID, INDEX_ID,STRING_VALUE,RESTRICTION_ID,RESTRICTION_NAME, USER_ID) AS select DOC_TYPE_ID, INDEX_ID, STRING_VALUE, r.RESTRICTION_ID,  RESTRICTION_NAME,USER_ID from doc_restrictions r,doc_restriction_r_user u where u.restriction_id=r.restriction_id
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE View Zvw_USR_Rights_100 As select u.ID [USER_ID], u.[name] [USER_NAME], r.rtype RIGHT_TYPE, r.objid OBJECTID,Aditional from usrtable u, usr_r_group urr, usr_rights r where (u.id=urr.usrid and urr.groupid=r.groupid) union select u.ID [USER_ID], u.[name] [USER_NAME],r.rtype RIGHT_TYPE, r.objid OBJECTID,Aditional from usrtable u, usr_rights r where u.id=r.groupid
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE View Zvw_UsersPrint_100 As Select top 100 percent User_hst.Action_date as Fecha,(UsrTable.Apellido + '  ' + usrtable.nombres) as Usuario,user_hst.S_OBJECT_ID as Documento from User_hst, Usrtable where user_hst.ACTION_TYPE=9 and user_hst.[User_ID]=UsrTable.[Id] order by UsrTable.[apellido]
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW Zvw_WFDocumentCOUNT_100 AS SELECT COUNT(Doc_ID) AS DCOUNT, step_Id FROM WFDocument GROUP BY step_Id
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO


CREATE VIEW Zvw_WFHistory_200 AS SELECT 
Fecha AS Fecha, 
Step_Name AS Etapa, 
State AS Estado, 
UserName AS Usuario, 
Accion AS Accion, 
Doc_Name AS Tarea, 
Doc_Type_Name AS [Tipo Documento], 
Doc_Id 
FROM WFStepHst



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW Zvw_WFViewForms_100 AS SELECT ZFrms.Name, ZFrms.ParentId, ZFrms.Type, ZFrms.ObjectTypeId, ZFrms.Path, ZFrms.Description, Ztype_Zfrms.Form_Id, Ztype_Zfrms.DocType_Id, WF_Frms.Step_Id, WF_Frms.Sort FROM ZFrms INNER JOIN Ztype_Zfrms ON ZFrms.Id = Ztype_Zfrms.Form_Id INNER JOIN WF_Frms ON Ztype_Zfrms.Form_Id = WF_Frms.Form_Id
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW Zvw_ZVIEWWFUserSTEPS_100 AS SELECT WFStep.step_Id, WFStep.work_id, WFStep.Name, WFStep.Description, WFStep.Help, WFStep.CreateDate, WFStep.ImageIndex, WFStep.EditDate, WFStep.LocationX, WFStep.LocationY, WFStep.max_docs, USR_RIGHTS.GROUPID, USR_RIGHTS.OBJID, USR_RIGHTS.RTYPE, WFStep.max_Hours, WFStep.StartAtOpenDoc FROM WFStep INNER JOIN USR_RIGHTS ON WFStep.step_Id = USR_RIGHTS.ADITIONAL
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW Zvw_ZViewForms_100 AS SELECT ZFrms.Name, ZFrms.ParentId, ZFrms.Type, ZFrms.ObjectTypeId, ZFrms.Path, ZFrms.Description, Ztype_Zfrms.Form_Id, Ztype_Zfrms.DocType_Id FROM ZFrms INNER JOIN Ztype_Zfrms ON ZFrms.Id = Ztype_Zfrms.Form_Id
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW Zvw_ZstepUserGroups_100 AS SELECT USRGROUP.ID, USRGROUP.NAME, USRGROUP.DESCRIPCION, USR_RIGHTS.ADITIONAL, USR_RIGHTS.RTYPE, USR_RIGHTS.OBJID FROM USR_RIGHTS INNER JOIN USRGROUP ON USR_RIGHTS.GROUPID = USRGROUP.ID WHERE USR_RIGHTS.RTYPE = 1  AND USR_RIGHTS.OBJID = 42
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW Zvw_docgroups_rights_100 AS SELECT     USR_RIGHTS.GROUPID AS ID, DOC_TYPE_GROUP.DOC_TYPE_GROUP_NAME, RIGHTSTYPE.RIGHTSTYPE FROM USR_RIGHTS INNER JOIN  OBJECTTYPES ON USR_RIGHTS.OBJID = OBJECTTYPES.OBJECTTYPESID INNER JOIN  RIGHTSTYPE ON USR_RIGHTS.RTYPE = RIGHTSTYPE.RIGHTSTYPEID INNER JOIN DOC_TYPE_GROUP ON USR_RIGHTS.ADITIONAL = DOC_TYPE_GROUP.DOC_TYPE_GROUP_ID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW Zvw_doctypes_rights_100 AS SELECT USR_RIGHTS.GROUPID AS ID, USR_RIGHTS.OBJID, USR_RIGHTS.RTYPE, USR_RIGHTS.ADITIONAL,  OBJECTTYPES.OBJECTTYPES, RIGHTSTYPE.RIGHTSTYPE, DOC_TYPE.DOC_TYPE_NAME FROM USR_RIGHTS, OBJECTTYPES, RIGHTSTYPE, DOC_TYPE WHERE USR_RIGHTS.OBJID = OBJECTTYPES.OBJECTTYPESID AND USR_RIGHTS.RTYPE = RIGHTSTYPE.RIGHTSTYPEID AND USR_RIGHTS.ADITIONAL = DOC_TYPE.DOC_TYPE_ID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW Zvw_objects_rights_100 AS SELECT USR_RIGHTS.GROUPID AS ID, USR_RIGHTS.OBJID, USR_RIGHTS.RTYPE, USR_RIGHTS.ADITIONAL, OBJECTTYPES.OBJECTTYPES, RIGHTSTYPE.RIGHTSTYPE FROM USR_RIGHTS, OBJECTTYPES, RIGHTSTYPE WHERE USR_RIGHTS.OBJID = OBJECTTYPES.OBJECTTYPESID AND USR_RIGHTS.RTYPE = RIGHTSTYPE.RIGHTSTYPEID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW Zvw_permisos_100 AS SELECT TOP 100 PERCENT DOC_TYPE.DOC_TYPE_NAME AS Documento, RIGHTSTYPE.RIGHTSTYPE AS Permiso, USRTABLE.NAME AS Usuario FROM USR_RIGHTS INNER JOIN RIGHTSTYPE ON USR_RIGHTS.RTYPE = RIGHTSTYPE.RIGHTSTYPEID INNER JOIN USRTABLE ON USR_RIGHTS.GROUPID = USRTABLE.ID INNER JOIN DOC_TYPE ON USR_RIGHTS.ADITIONAL = DOC_TYPE.DOC_TYPE_ID WHERE (USR_RIGHTS.ADITIONAL <> - 1) AND (USR_RIGHTS.OBJID = 2) ORDER BY USRTABLE.NAME, DOC_TYPE.DOC_TYPE_NAME, RIGHTSTYPE.RIGHTSTYPE
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW Zvw_restrictions_100 AS SELECT  DISTINCT USRGROUP.ID,DOC_TYPE.DOC_TYPE_NAME, DOC_RESTRICTIONS.RESTRICTION_NAME FROM    USRGROUP,DOC_RESTRICTIONS,DOC_TYPE,DOC_RESTRICTION_R_USER WHERE DOC_RESTRICTIONS.DOC_TYPE_ID = DOC_TYPE.DOC_TYPE_ID AND DOC_RESTRICTIONS.RESTRICTION_ID = DOC_RESTRICTION_R_USER.RESTRICTION_ID AND USRGROUP.ID = DOC_RESTRICTION_R_USER.USER_ID UNION SELECT  DISTINCT USRTABLE.ID,DOC_TYPE.DOC_TYPE_NAME, DOC_RESTRICTIONS.RESTRICTION_NAME FROM USRTABLE,DOC_RESTRICTIONS,DOC_TYPE,DOC_RESTRICTION_R_USER WHERE DOC_RESTRICTIONS.DOC_TYPE_ID = DOC_TYPE.DOC_TYPE_ID AND DOC_RESTRICTIONS.RESTRICTION_ID = DOC_RESTRICTION_R_USER.RESTRICTION_ID AND  USRTABLE.ID = DOC_RESTRICTION_R_USER.USER_ID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

Create View Zvw_volumenes_100 As Select top 100 percent  dg.disk_group_name Lista, dv.disk_vol_name Volumen, Disk_vol_path Ruta, Disk_vol_files Archivos,disk_vol_size MB, (disk_vol_size - (disk_vol_size_len/1024)) Libre from disk_group dg inner join Disk_group_R_Disk_volume on Disk_group_R_Disk_volume.DISK_GROUP_ID=dg.DISK_GROUP_ID inner join Disk_volume dv on dv.DISK_VOL_ID=Disk_group_R_Disk_volume.Disk_VOLUME_ID order by dg.disk_group_name,dv.disk_vol_name
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE View instalaciones
as
Select top 100 PERCENT "ID" as "Nro de PC", W_User as "Usuario Windows", M_Name as "PC", VER as "Version Zamba"
from estreg order by W_User


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO



CREATE VIEW view_objects_rights
AS
SELECT USR_RIGHTS.GROUPID AS ID, USR_RIGHTS.OBJID, USR_RIGHTS.RTYPE, USR_RIGHTS.ADITIONAL, 
                      OBJECTTYPES.OBJECTTYPES, RIGHTSTYPE.RIGHTSTYPE
FROM USR_RIGHTS, OBJECTTYPES, RIGHTSTYPE

WHERE USR_RIGHTS.OBJID = OBJECTTYPES.OBJECTTYPESID AND
      USR_RIGHTS.RTYPE = RIGHTSTYPE.RIGHTSTYPEID  


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW view_restrictions
AS
SELECT  DISTINCT USRGROUP.ID,DOC_TYPE.DOC_TYPE_NAME, DOC_RESTRICTIONS.RESTRICTION_NAME
FROM    USRGROUP,DOC_RESTRICTIONS,DOC_TYPE,DOC_RESTRICTION_R_USER
WHERE DOC_RESTRICTIONS.DOC_TYPE_ID = DOC_TYPE.DOC_TYPE_ID AND
      DOC_RESTRICTIONS.RESTRICTION_ID = DOC_RESTRICTION_R_USER.RESTRICTION_ID AND
      USRGROUP.ID = DOC_RESTRICTION_R_USER.USER_ID    
UNION
SELECT  DISTINCT USRTABLE.ID,DOC_TYPE.DOC_TYPE_NAME, DOC_RESTRICTIONS.RESTRICTION_NAME
FROM    USRTABLE,DOC_RESTRICTIONS,DOC_TYPE,DOC_RESTRICTION_R_USER
WHERE DOC_RESTRICTIONS.DOC_TYPE_ID = DOC_TYPE.DOC_TYPE_ID AND
      DOC_RESTRICTIONS.RESTRICTION_ID = DOC_RESTRICTION_R_USER.RESTRICTION_ID AND
      USRTABLE.ID = DOC_RESTRICTION_R_USER.USER_ID    


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

Create View volumenesview
As
Select top 100 percent  dg.disk_group_name Lista, dv.disk_vol_name Volumen, Disk_vol_path Ruta, Disk_vol_files Archivos,disk_vol_size MB, (disk_vol_size - (disk_vol_size_len/1024)) Libre
from disk_group dg inner join Disk_group_R_Disk_volume on Disk_group_R_Disk_volume.DISK_GROUP_ID=dg.DISK_GROUP_ID
inner join Disk_volume dv on dv.DISK_VOL_ID=Disk_group_R_Disk_volume.Disk_VOLUME_ID
order by dg.disk_group_name,dv.disk_vol_name

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW zvw_USUARIOS_100 AS SELECT USRTABLE.ID, USRTABLE.DESCRIPTION, USRTABLE.NAME FROM USRTABLE
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW Historial_Tareas
AS
SELECT     TOP 100 PERCENT WorkflowName AS WorkFlow, Step_Name AS Etapa, Doc_Name AS [Nombre del documento], Fecha AS [Fecha de la Accion], 
                      UserName AS Usuario, Accion AS Accion, State AS Estado
FROM         WFStepHst
ORDER BY Fecha


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW Historial_Usuario
AS
SELECT     TOP 100 PERCENT USER_HST.OBJECT_ID AS [ID Documento], RTRIM(ZI.name) AS [Nombre de documento], 
                      USER_HST.ACTION_DATE AS Fecha, USRTABLE.NAME AS Usuario, RIGHTSTYPE.RIGHTSTYPE AS ACCION
FROM         USER_HST INNER JOIN
                      ZI ON USER_HST.OBJECT_ID = ZI.DocID INNER JOIN
                      RIGHTSTYPE ON USER_HST.ACTION_TYPE = RIGHTSTYPE.RIGHTSTYPEID INNER JOIN
                      USRTABLE ON USER_HST.USER_ID = USRTABLE.ID
WHERE     (USER_HST.OBJECT_TYPE_ID = 6)
ORDER BY USER_HST.ACTION_DATE


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE View UsersPrint
As
Select top 100 User_hst.Action_date as Fecha,(UsrTable.Apellido + '  ' + usrtable.nombres) as Usuario,user_hst.S_OBJECT_ID as Documento
from User_hst, Usrtable
where user_hst.ACTION_TYPE=9 and user_hst.[User_ID]=UsrTable.[Id] 
order by UsrTable.[apellido]



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW ViewPermisosPorUsuario
AS

SELECT TOP 100 PERCENT VIEWUSUARIOSPORGRUPO.USUARIO,VIEWPERMISOSPORGRUPO.RIGHTSTYPE,VIEWPERMISOSPORGRUPO.DOC_TYPE_NAME FROM 
  VIEWPERMISOSPORGRUPO INNER JOIN 
    VIEWUSUARIOSPORGRUPO ON (VIEWUSUARIOSPORGRUPO.GRUPO=VIEWPERMISOSPORGRUPO.GRUPO)
     ORDER BY USUARIO


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW WFViewAsignedDocsByUser
AS
SELECT     USRTABLE.NAME AS Usuario_Asignado, WFDocument.Name AS Documeto_Nombre, USRTABLE.ID, WFDocument.Doc_ID, 
                      WFDocument.User_Asigned
FROM         WFDocument LEFT OUTER JOIN
                      USRTABLE ON WFDocument.User_Asigned = USRTABLE.ID


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW WFViewTaskHistory
AS
SELECT     TOP 100 PERCENT USRTABLE.NAME, USER_HST.USER_ID, USER_HST.ACTION_DATE, USER_HST.S_OBJECT_ID, 
                      RIGHTSTYPE.RIGHTSTYPE, OBJECTID.OBJECTTYPE, USER_HST.OBJECT_TYPE_ID, USER_HST.OBJECT_ID, 
                      USER_HST.ACTION_TYPE, USRTABLE.NOMBRES, USRTABLE.APELLIDO
FROM         USER_HST INNER JOIN
                      USRTABLE ON USER_HST.USER_ID = USRTABLE.ID INNER JOIN
                      RIGHTSTYPE ON USER_HST.ACTION_TYPE = RIGHTSTYPE.RIGHTSTYPEID INNER JOIN
                      OBJECTID ON USER_HST.OBJECT_TYPE_ID = OBJECTID.OBJECTTYPEID
ORDER BY USER_HST.ACTION_DATE


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW ZStepUsers
AS
SELECT     USRTABLE.ID, USRTABLE.NAME, USR_RIGHTS.ADITIONAL
FROM         USR_RIGHTS INNER JOIN
                      USRTABLE ON USR_RIGHTS.GROUPID = USRTABLE.ID
WHERE     (USR_RIGHTS.RTYPE = 19) AND (USR_RIGHTS.OBJID = 42)


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW ZView_RequestAction
AS
SELECT     WFDocument.Name AS Tarea, RequestAction.RequestName AS Solicitud, RequestAction.RequestDate AS [Fecha de solicitud], 
	     USRTABLE.NAME AS Usuario, RequestActionExecution.ExecutionDate AS [Fecha de realización], WFRules.Name AS [Acción realizada], 
                  RequestActionTasks.TaskId 
FROM        WFRules INNER JOIN
                      RequestActionExecution ON WFRules.Id = RequestActionExecution.RuleId RIGHT OUTER JOIN
                      RequestActionTasks INNER JOIN
                      RequestAction INNER JOIN
                      RequestActionUsers ON RequestAction.Id = RequestActionUsers.RequestActionId INNER JOIN
                      USRTABLE ON RequestActionUsers.UserId = USRTABLE.ID ON RequestActionTasks.RequestActionId = RequestAction.Id INNER JOIN
                      WFDocument ON RequestActionTasks.TaskId = WFDocument.Task_ID ON RequestActionExecution.RequestActionId = RequestAction.Id AND 
                      RequestActionExecution.UserId = RequestActionUsers.UserId



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW ZWFViewRulesHst
AS
SELECT     Doc_Id, Doc_Type_Id, Folder_Id, Step_Id, Rule_Id, Result, User_Id, Ejecution_Date, Data
FROM         WFRulesHst


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW ZstepUserGroups
AS
SELECT     USRGROUP.ID, USRGROUP.NAME, USRGROUP.DESCRIPCION, USR_RIGHTS.ADITIONAL, USR_RIGHTS.RTYPE, 
                      USR_RIGHTS.OBJID
FROM         USR_RIGHTS INNER JOIN
                      USRGROUP ON USR_RIGHTS.GROUPID = USRGROUP.ID
WHERE     (USR_RIGHTS.RTYPE = 1) AND (USR_RIGHTS.OBJID = 42)


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW Zvw_INACTIVEUSERS_100 AS Select Top 100 percent ([Apellido] + ', ' + [Nombres]) as [Description] from usrtable where [name] not in (Select distinct Usuario from Zvw_HISTORYVIEW_100) order by [Apellido]
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW view_docgroups_rights
AS
SELECT     USR_RIGHTS.GROUPID AS ID, DOC_TYPE_GROUP.DOC_TYPE_GROUP_NAME, RIGHTSTYPE.RIGHTSTYPE
FROM         USR_RIGHTS INNER JOIN
                      OBJECTTYPES ON USR_RIGHTS.OBJID = OBJECTTYPES.OBJECTTYPESID INNER JOIN
                      RIGHTSTYPE ON USR_RIGHTS.RTYPE = RIGHTSTYPE.RIGHTSTYPEID INNER JOIN
                      DOC_TYPE_GROUP ON USR_RIGHTS.ADITIONAL = DOC_TYPE_GROUP.DOC_TYPE_GROUP_ID





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW dbo.zvw_UserAndGroups
AS
SELECT     usrtable.id, usrtable.name
FROM         usrtable
UNION
SELECT     usrgroup.id, usrgroup.name
FROM         usrgroup


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW ViewTemporal
AS
SELECT     TOP 100 PERCENT RIGHTSTYPE.RIGHTSTYPE, USRTABLE.NAME, USRGROUP.ID
FROM         USR_R_GROUP INNER JOIN
                     USR_RIGHTS ON USR_R_GROUP.GROUPID = USR_RIGHTS.GROUPID INNER JOIN
                     USRTABLE ON USR_RIGHTS.GROUPID = USRTABLE.ID INNER JOIN
                     USRGROUP ON USR_RIGHTS.GROUPID = USRGROUP.ID CROSS JOIN
                     RIGHTSTYPE
ORDER BY USR_R_GROUP.USRID



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW ZVIEWWFUserSTEPS
AS
SELECT     WFStep.step_Id, WFStep.work_id, WFStep.Name, WFStep.Description, WFStep.Help, WFStep.CreateDate, 
                      WFStep.ImageIndex, WFStep.EditDate, WFStep.LocationX, WFStep.LocationY, WFStep.max_docs, USR_RIGHTS.GROUPID, 
                      USR_RIGHTS.OBJID, USR_RIGHTS.RTYPE, WFStep.max_Hours, WFStep.StartAtOpenDoc
FROM         WFStep INNER JOIN
                      USR_RIGHTS ON WFStep.step_Id = USR_RIGHTS.ADITIONAL


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW ZVW_REPORTECARATULAS AS
SELECT  ZBARCODE.ID AS 					[NRO DE CARATULA],
		DOC_TYPE.DOC_TYPE_NAME AS 			[NOMBRE DEL TIPO DE DOCUMENTO],
		COUNT(ZBARCODE.ID)-1 AS 			[NRO DE REPLICAS],
		COUNT(ZBARCODE.DOC_TYPE_ID) AS 	[NRO DE DOCUMENTOS],
		ZBARCODE.SCANNED AS ESCANEADO,
		ZBARCODE.BOX AS 					[NRO DE CAJA],
		ZBARCODE.BATCH						[NRO LOTE],
		/* (COUNT(ZBARCODE.ID)-(COUNT(ZBARCODE.ID)-1)) AS "DIFERENCIA", */
		COUNT(ZBARCODE.ID) AS 			    [TOTAL DE DOCUMENTOS],
		ZBARCODE.DOC_TYPE_ID AS 		    [TIPO DE DOCUMENTO],
		ZBARCODE.DOC_ID AS 	 			[NRO DE DOCUMENTO]
FROM ZBARCODE INNER JOIN DOC_TYPE
ON ZBARCODE.DOC_TYPE_ID = DOC_TYPE.DOC_TYPE_ID
GROUP BY ZBARCODE.ID,
		 ZBARCODE.DOC_TYPE_ID,
		 ZBARCODE.BOX,
		 ZBARCODE.SCANNED,
		 DOC_TYPE.DOC_TYPE_NAME,
		 ZBARCODE.DOC_TYPE_ID,
		 ZBARCODE.DOC_ID,
		 ZBARCODE.BATCH


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW ZViewForms
AS
SELECT     ZFrms.Name, ZFrms.ParentId, ZFrms.Type, ZFrms.ObjectTypeId, ZFrms.Path, ZFrms.Description, Ztype_Zfrms.Form_Id, 
                      Ztype_Zfrms.DocType_Id
FROM         ZFrms INNER JOIN
                      Ztype_Zfrms ON ZFrms.Id = Ztype_Zfrms.Form_Id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW dbo.ZWFViewReport
AS
SELECT     DOC_ID, DOC_TYPE_ID, FOLDER_ID, STEP_ID, DO_STATE_ID, NAME, ICONID, CHECKIN, USER_ASIGNED, "EXCLUSIVE", EXPIREDATE, USER_ASIGNED_BY,
           (SELECT NAME FROM USRTABLE WHERE (ID = WFDOCUMENT.USER_ASIGNED)) AS NOMBREUSUARIO,
           (SELECT NAME FROM WFSTEP WHERE (STEP_ID = WFDOCUMENT.STEP_ID)) AS ETAPA,
           (SELECT NAME FROM WFWORKFLOW WHERE WORK_ID = (SELECT WORK_ID FROM WFSTEP WHERE (STEP_ID = WFDOCUMENT.STEP_ID))) AS WORKFLOW
FROM WFDOCUMENT
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW imageServer
AS
SELECT     i.ID AS Id, i.description AS Description, i.Type AS Type, i.ver AS Version, it.Typedesc AS TypeDesc, it.Path + '\' + CONVERT(varchar(3), i.Type) 
                      + '\' + i.filename AS FullPath, i.filename AS Filename
FROM         Images i INNER JOIN
                     Images_Type it ON it.Type = i.Type


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW view_doctypes_rights
AS
SELECT USR_RIGHTS.GROUPID AS ID, USR_RIGHTS.OBJID, USR_RIGHTS.RTYPE, USR_RIGHTS.ADITIONAL, 
                      OBJECTTYPES.OBJECTTYPES, RIGHTSTYPE.RIGHTSTYPE, DOC_TYPE.DOC_TYPE_NAME
FROM USR_RIGHTS, OBJECTTYPES, RIGHTSTYPE, DOC_TYPE 
WHERE USR_RIGHTS.OBJID = OBJECTTYPES.OBJECTTYPESID AND
      USR_RIGHTS.RTYPE = RIGHTSTYPE.RIGHTSTYPEID AND
      USR_RIGHTS.ADITIONAL = DOC_TYPE.DOC_TYPE_ID





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW dbo.vw_FormulariosAsignadosaDT
AS
SELECT     dbo.ZFrms.Id, dbo.ZFrms.Name, dbo.ZFrms.ParentId, dbo.ZFrms.Type, dbo.ZFrms.ObjectTypeId, dbo.ZFrms.Path, dbo.ZFrms.Description, 
                      dbo.DOC_TYPE.DOC_TYPE_ID, dbo.DOC_TYPE.DOC_TYPE_NAME
FROM         dbo.DOC_TYPE INNER JOIN
                      dbo.Ztype_Zfrms ON dbo.DOC_TYPE.DOC_TYPE_ID = dbo.Ztype_Zfrms.DocType_Id RIGHT OUTER JOIN
                      dbo.ZFrms ON dbo.Ztype_Zfrms.Form_Id = dbo.ZFrms.Id

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW zview_URBG_300
AS
SELECT     TOP 100 PERCENT WFStep.step_Id, USRTABLE.ID, USRTABLE.NAME
FROM         USR_RIGHTS INNER JOIN
                      WFStep ON USR_RIGHTS.ADITIONAL = WFStep.step_Id INNER JOIN
                      USR_R_GROUP ON USR_RIGHTS.GROUPID = USR_R_GROUP.GROUPID INNER JOIN
                      USRGROUP ON USR_R_GROUP.GROUPID = USRGROUP.ID AND USR_RIGHTS.GROUPID = USRGROUP.ID INNER JOIN
                      USRTABLE ON USR_R_GROUP.USRID = USRTABLE.ID
WHERE     (USR_RIGHTS.RTYPE = 19) AND (USR_RIGHTS.OBJID = 42)


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO


CREATE VIEW dbo.zvw_UsuariosEnGruposdeUsuarios
AS
SELECT     TOP 100 PERCENT dbo.USRTABLE.ID AS IdUsuario, dbo.USRTABLE.NAME AS [Nombre Usuario], dbo.USRGROUP.ID AS IdGrupo, 
                      dbo.USRGROUP.NAME AS [Nombre Grupo]
FROM         dbo.USRGROUP INNER JOIN
                      dbo.USR_R_GROUP ON dbo.USRGROUP.ID = dbo.USR_R_GROUP.GROUPID INNER JOIN
                      dbo.USRTABLE ON dbo.USR_R_GROUP.USRID = dbo.USRTABLE.ID
ORDER BY dbo.USRTABLE.NAME, dbo.USRGROUP.NAME


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW Reporte_Tareas
AS
SELECT     TOP 100 PERCENT WFDocument.Task_ID AS ID, WFDocument.Name AS [Nombre Documento], WFWorkflow.Name AS WorkFlow, 
                      WFStep.Name AS Etapa, USRTABLE.NAME AS [Usuario Asignado], USRTABLE.NOMBRES AS Nombres, 
                      USRTABLE.APELLIDO AS Apellido, WFStepStates.Name AS Estado, WFDocument.CheckIn AS Ingreso
FROM         WFDocument LEFT OUTER JOIN
                      WFWorkflow ON WFDocument.work_id = WFWorkflow.work_id LEFT OUTER JOIN
                      WFStep ON WFDocument.step_Id = WFStep.step_Id LEFT OUTER JOIN
                      USRTABLE ON WFDocument.User_Asigned = USRTABLE.ID LEFT OUTER JOIN
                      WFStepStates ON WFDocument.Do_State_ID = WFStepStates.Doc_State_ID
ORDER BY WFDocument.CheckIn

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW WFViewForms
AS
SELECT     ZFrms.Name, ZFrms.ParentId, ZFrms.Type, ZFrms.ObjectTypeId, ZFrms.Path, ZFrms.Description, Ztype_Zfrms.Form_Id, 
                      Ztype_Zfrms.DocType_Id, WF_Frms.Step_Id, WF_Frms.Sort
FROM         ZFrms INNER JOIN
                      Ztype_Zfrms ON ZFrms.Id = Ztype_Zfrms.Form_Id INNER JOIN
                      WF_Frms ON Ztype_Zfrms.Form_Id = WF_Frms.Form_Id


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW ZWFViewWfDoctypes
AS
SELECT     DOC_TYPE.DOC_TYPE_ID, DOC_TYPE.DOC_TYPE_NAME, WF_DT.WFId
FROM         DOC_TYPE INNER JOIN
                      WF_DT ON DOC_TYPE.DOC_TYPE_ID = WF_DT.DocTypeId


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW dbo.Zvw_ReglasHuerfanas
AS
SELECT     TOP 100 PERCENT ID, NAME, STEP_ID, TYPE, PARENTID, PARENTTYPE, CLASS, ENABLE, VERSION
FROM         WFRULES
WHERE     (PARENTTYPE = 14) AND (PARENTID =0)
ORDER BY ID, PARENTID

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

