<gridster [options]="options">
  <gridster-item
    [item]="item"
    *ngFor="let item of widgets"
    [ngStyle]="
      item['type'] == 'calendar'
        ? { 'overflow-y': 'scroll' }
        : item['type'] == 'pending-vacations'
        ? { overflow: 'hidden' }
        : item['type'] == 'pending-tasks'
        ? { overflow: 'hidden' }
        : { overflow: 'auto' }
    "
  >
    <widget-selector [widget]="item" [resizeEvent]="resizeEvent" [changeEvent]="changeEvent" [ngClass]="item['type']" />
  </gridster-item>
</gridster>
