/* col-xs */
@media (max-width:768px) {
    #tabtasklist {
        height: 500px;
    }
}
/*Cuerpo */
body {
    font-family: "Microsoft Sans Serif",Arial, Helvetica, Sans-Serif;
}



.body-Main {
    background-color: rgb(0, 157, 224);
}
/* col-md */
@media (min-width:992px) {
    .body-Main {
        padding-top: 50px !important;
    }
}

/***************MENU BARRA SUPERIOR CON UL****************/
#menusup {
    position: fixed;
    padding-left: 0px;
    padding-top: 5px;
    height: 25px;
    width: 100%;
    background: #666FB0;
    font-family: Tahoma;
    font-size: small;
    text-align: left;
}

    #menusup ul {
        list-style: none; /* Eliminamos los bullets */
        margin: 0px; /* Quitamos los margenes */
        padding: 0px; /* Quitamos el padding */
    }

        #menusup ul li {
            float: left; /* Hacemos que el menu se muestre horizontal */
            padding-left: 10px;
            padding-right: 10px;
            border-right: 1px solid #FFFFFF;
        }

            #menusup ul li a {
                text-decoration: none;
                color: White;
                font-weight: bold;
            }

                #menusup ul li a:hover {
                    color: #FFFFFF;
                }

#tabhome {
    text-align: center;
    background-image: url('Images/MainAysa.png');
    /*background-position:center; */
    background-position-x: center;
    background-repeat: no-repeat;
    background-color: rgb(0, 157, 224);
}
/***************MENU BARRA SUPERIOR CON BOTONES****************/

/*****************Botones****************/
/* botones medianos */
.button, .button:visited, .medium.button, .medium.button:visited {
    font-size: 13px;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    color: White;
}

/* botones grandes */
.large.button, .large.button:visited {
    font-size: 14px;
    padding: 8px 14px 9px;
}

/* botones extra grandes */
.super.button, .super.button:visited {
    font-size: 34px;
    padding: 8px 14px 9px;
}


.blue.button, .blue.button:visited {
    background-color: #019DC3;
}

    .blue.button:hover {
        background-color: #019DC3;
    }


/*****Formulario Search******/
.Fielset-Frm-Search {
    border-style: none;
}

#Table-Principal-Search {
    width: 100%;
}

.entity-list {
    margin-left: 10px;
    border-style: none;
}



.Fielset-Control-DocTypesIndex {
    BORDER-BOTTOM: none;
    BORDER-LEFT: #8C8C8C 1px solid;
    PADDING-BOTTOM: 2px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 10px;
    BORDER-TOP: none;
    BORDER-RIGHT: none;
    PADDING-TOP: 2px;
}

.Legend-Control-DocTypesIndex {
    border-style: none;
    color: #0E2B8D;
    margin-left: 5px;
}

#Table-Footer-Search {
    background-color: #0E2B8D;
}

.chkBuscar-footer-search {
    color: White !important;
}

.check-box-by-task label {
    color: Black;
}

.Legend-search {
    border-style: none;
    color: #0E2B8D;
    margin-left: 5px;
}

.Table-SustitutioList-Search {
}

.searchButton {
    height: 22px;
    width: 132px;
    cursor: pointer;
}

/***********Master Blank*******************/
.Table-Principal-MasterBlank {
    width: 100%;
}

.Div-principal-MasterBlank {
    height: 100%;
}

/*******************Frm TaskDetail***************/
.Table-Task-Detail {
}

.TabDoc-Task-Detail {
    background-color: #E6E6E6 !important;
}

.TabAsociate-Task-Detail {
    background-color: #E6E6E6 !important;
    overflow-y: visible;
}

.TabForum-Task-Detail {
    background-color: #E6E6E6 !important;
    overflow-y: visible;
}

.TabHistory-Task-Detail {
    background-color: #E6E6E6 !important;
    overflow-y: visible;
}


/*****************Frm TaskHistory**********/
.Frm-Task-History {
}

/**************Frm Forum*********************/
.PanelPrincipal-Frm-Forum {
}

.pnlRespuesta-Frm-Forum {
}

/****************Frm Forum*********************/

.NewsTab .ajax__tab_header {
    font-family: verdana,tahoma,helvetica;
    background: url(images/tabs/tab-line.gif) repeat-x bottom;
}

.NewsTab .ajax__tab_outer {
    height: 2em;
    padding-right: 4px;
    background: url(images/tabs/tab-right.gif) no-repeat right top;
}

.NewsTab .ajax__tab_inner {
    padding-left: 3px;
    background: url(images/tabs/tab-left.gif) no-repeat;
}

.NewsTab .ajax__tab_tab {
    height: 2em;
    line-height: 1.8em;
    padding: 0 4px;
    margin: 0 !important;
    background: url(images/tabs/tab.gif) repeat-x;
}

.NewsTab .ajax__tab_hover .ajax__tab_outer {
    background: url(images/tabs/tab-hover-right.gif) no-repeat right top;
}

.NewsTab .ajax__tab_hover .ajax__tab_inner {
    background: url(images/tabs/tab-hover-left.gif) no-repeat;
    cursor: pointer;
}

.NewsTab .ajax__tab_hover .ajax__tab_tab {
    background: url(images/tabs/tab-hover.gif) repeat-x;
}

.NewsTab .ajax__tab_active .ajax__tab_outer {
    background: url(images/tabs/tab-active-right.gif) no-repeat right top;
}

.NewsTab .ajax__tab_active .ajax__tab_inner {
    background: url(images/tabs/tab-active-left.gif) no-repeat;
}

.NewsTab .ajax__tab_active .ajax__tab_tab {
    background: url(images/tabs/tab-active.gif) repeat-x;
}

.NewsTab .ajax__tab_body {
    font-family: verdana,tahoma,helvetica;
    border: 0px solid #A3CEE0;
    border-top: 0;
    padding: 8px;
}

    .NewsTab .ajax__tab_body ul {
        list-style-type: disc;
        line-height: 1.5em;
        padding-left: 1em;
    }

        .NewsTab .ajax__tab_body ul ul {
            list-style-type: square;
        }

    .NewsTab .ajax__tab_body p {
        text-indent: 1em;
        line-height: 1.3em;
        margin-bottom: 1em;
    }

/*****Frm TaskForm******/

.Body-Task-Forum {
}

/********Frm Default**********/
.tabresults-Frm-Default {
}


/**********Frm MainAysa***************/
.TablePrincipal-MainAysa {
    background: url("../AysaGec/Images/MainAysa.png") no-repeat;
    background-position: center;
    margin: 0 auto;
    height: 440px;
}

.btnAltaIndustriaAysa {
    background-image: url("../AysaGec/Images/AltaIndustria.png");
    background-color: #302682;
    width: 150px;
    height: 20px;
    border: none;
    margin-right: 5px;
    cursor: pointer;
}

.btnAltaEntidad {
    background-image: url("../AysaGec/Images/AltaIndustria.png");
    background-color: #302682;
    width: 150px;
    height: 20px;
    border: none;
    margin-right: 5px;
    cursor: pointer;
}

#btnBusqueda-Aysa {
    background-image: url("../AysaGec/Images/Busqueda.png");
    background-color: #302682;
    width: 150px;
    height: 20px;
    border: none;
    margin-right: 5px;
    cursor: pointer;
}


#btnListados-Aysa {
    background-image: url("../AysaGec/Images/Listados.png");
    background-color: #302682;
    width: 150px;
    height: 20px;
    border: none;
    margin-right: 5px;
    cursor: pointer;
}

#btnModificacion-Aysa {
    background-image: url("../AysaGec/Images/Modificacion.png");
    background-color: #302682;
    width: 150px;
    height: 20px;
    border: none;
    margin-right: 5px;
    cursor: pointer;
}

#btnGeneralReport {
    background-image: url("../AysaGec/Images/ReporteGeneral.png");
    background-color: #302682;
    width: 150px;
    height: 20px;
    border: none;
    margin-right: 5px;
    cursor: pointer;
}

.btnModificacion-Aysa2 {
    background-image: url("../AysaGec/Images/Modificacion.png");
    background-color: #302682;
    width: 150px;
    height: 20px;
    border: none;
    margin-right: 5px;
}


#btnInspecPendientes-Aysa {
    background-image: url("../AysaGec/Images/InspeccionesPendientes.png");
    background-color: #302682;
    width: 150px;
    height: 20px;
    border: none;
    cursor: pointer;
}


.footer-MainAysa {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
    text-align: center;
    font-size: 8pt;
    font-family: tahoma;
    vertical-align: middle;
    padding-left: 25px;
    padding-top: 50px;
    color: White;
}

/*****************Master Page*******************/

.div-presentation-Main {
    visibility: hidden;
    position: absolute;
    z-index: 0;
    width: 100%;
    background: #0E2B8D;
}

.second-div-presentation-Main {
    padding-top: 10px;
    text-align: center;
    visibility: hidden;
    background-color: rgb(0, 157, 224);
    height: 500px;
}

/***********Controles****************/
.Fielset-controles-UC {
}


/**********Frm Views - Insert****************/
.div-Frm-Views-Insert {
}


.body-Frm-Views-Insert {
}

/*************Master Blank******************/
.Body-Master-Blanck {
    background-color: white;
}


/********Control RuleShowTable***************/
.RuleRowStyle {
    border-bottom: solid 1px black;
}

.RuleAltRowStyle {
}

/*************Pagina TaskHistory*******************/
.body-TaskHistory {
}

/*************InsertControl*******************/
.insertFormButton {
    width: 130px;
    height: 30px;
    cursor: pointer;
}

/*************Indexs*******************/
.popupButton {
    cursor: pointer;
}

.OverflowAuto {
    overflow: auto;
}

.submit {
    color: #000000;
    font: bold 90% 'trebuchet ms',helvetica,sans-serif;
    background-color: #D8D8E8;
    cursor: hand;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    width: auto;
}


.grupo-dinamico-botones .boton-dinamico {
    margin-bottom: 4px;
    text-decoration: none;
    color: rgba(48, 38, 129, 1);
}

.boton-dinamico:hover {
    color: rgba(255, 158, 66, 1);
    margin-bottom: 4px;
    text-decoration: none;
    font-weight: bold;
}


.grupo-dinamico-botones {
    top: 25px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 10px;
    border-left-style: none;
    border-right-style: none;
    margin: 20px 20px;
}

    .grupo-dinamico-botones:hover {
        border-color: rgba(251, 205, 162, 1);
    }

    .grupo-dinamico-botones span {
        display: block;
        position: absolute;
        top: -22px;
        color: white;
        font-weight: bold;
    }

.home-tab {
    padding-top: 20px;
}

.centerDiv {
    margin: 0 auto;
    width: 80%;
}



/*marcos */




/*Mejora para el dropdown-logout del user*/

#dropdown-user {
    text-align: center !important;
    background-color: #302682;
    border-radius: 5px;
}

    #dropdown-user li a {
        color: white !important;
        background-color: #302682;
    }

    #dropdown-user span {
        color: white !important;
        background-color: #302682;
    }

   
.dropdown-toggle {
    background-color: rgba(255, 255, 255, 0.00) !important;

}

/*.caret {
    color: white !important;
    position: relative;
    left: 30px !important;
}*/

#tblUsuario li {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.00);
}

    #tblUsuario li:hover {
        color: black !important;
    }




/* color navbar*/
.navbarHeadColor{

    background-color:#302682 !important;
}
/*colores botones busqueda*/
#btnbusqueda {
    background-image: linear-gradient(to bottom, #302682 0%, #302682 100%) !important;
    border: none !important;
}

#btnbusqueda2 {
    background-image: linear-gradient(to bottom, #302682 0%, #302682 100%) !important;
    border: none !important;
}

.user-button-bgcolor {
    background-color: white !important;
    color: #302682 !important;
}



/*header tab seleccionado*/
.activeHeaderTab {
    color: #9a9a9a !important;
    text-decoration: underline;
}

.inActiveHeaderTab {
    color: white !important;
    text-decoration: none;
}

#MainNavbar > ul > li > a {
    color: white;
}

/*Listado de tareas*/
/*div cuadrado*/


.btnLightblue{

    color:#302682;
}




/*Estilos GlobalSearch*/



.ModalHeader{
    background-color:#302682;
}


.Tools{
    margin-right:5px;
    text-decoration:none !important;
    color:white;
}
.Tools :hover{
    color:white;
}

.IconsMainMenu{

    color:#302682;

}

.IconsResults{
    position:relative;
    top:7px;
    left:5px;
    color:#302682;
}

#advSearchSave, #selectDescGS, #advSearchRemAll{

     color:#302682;
}