<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TCEntities" connectionString="metadata=res://*/ModelTC.csdl|res://*/ModelTC.ssdl|res://*/ModelTC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=www.stardoc.com.ar,1433;initial catalog=ZambaDes12092012;persist security info=True;user id=sa;password=Stardoc321;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
