@primary-color: #0077ff;

:root {
    --app-primary-color: @primary-color;
}

.VarPrimaryColor {
    background-color: var(--app-primary-color) !important;
    border-color: var(--app-primary-color) !important;
}

.VarPrimaryColorText {
    color: var(--app-primary-color) !important;
}

.VarPrimaryColorBorder {
    border-color: var(--app-primary-color) !important;
}