.navbar-toggle-button {
    padding: 0 0 0 0 !important;
}

.UAB {
    color: rgb(46, 109, 164) !important;
    margin: 1px 4px 4px 4px !important;
    border-color: #46b8da !important;
    font-size: 11px !important;
    background-color: azure !important;
    font-family: 'Tahoma' !important;
    padding: 2px 3px 2px 3px !important;
}
