
	<table class="TestCaseHeader">
    <tr>
    <td class="TestCaseTitle">
Caso de Prueba: &nbsp;    Zamba.TCTitle
    </td>
    <td class="TestCaseCategory">
  Categoria:&nbsp;   Zamba.TCCategory
    </td>
    <td class="TestCaseAutor">
Autor: &nbsp;   Zamba.TCAuthor
    </td>
    </tr>
<tr>
<td class="TestCaseType">
Tipo de Componente:&nbsp; Zamba.TCObjectType
</td>
<td class="TestCaseObjectName">
Zamba.TCObjectName
</td>
</tr>
    </table>

    <br />
    <div id="Zamba_TestCaseTable" class="TestCaseTable">
        Zamba.TestCaseTable
    </div>
    <br />

      <div id="Div1" class="TestCasesEX">
        Zamba.TestCasesEX
    </div>


    <div>
    <hr />
    Zamba.TestCasesDetails
    </div>
