
	<table width="100%" class="TestCaseHeader">
    <tr>
    <td class="TestCaseTitle">
Caso de Prueba: &nbsp;    Zamba.TCTitle
    </td>
    <td class="TestCaseCategory">
  Categoria:&nbsp;   Zamba.TCCategory
    </td>
    <td class="TestCaseAutor">
Autor: &nbsp;   Zamba.TCAuthor
    </td>
    </tr>
<tr>
<td class="TestCaseType">
Tipo de Componente:&nbsp; Zamba.TCObjectType
</td>
<td class="TestCaseObjectName">
Zamba.TCObjectName
</td>
<td class="TestCaseType">
</td>
<td class="TestCaseObjectName">
Zamba.TCResult
</td>
</tr>
    </table>

    <br />
    <div id="Zamba_TestCaseTable" class="TestCaseTable">
        Zamba.TestCaseTable
    </div>
    <br />

    <div>
    <hr class="HRstyle" />
    Zamba.TestCasesDetails
    </div>

	