	<table  style="width: 100%">
    <thead>
        <tr  class="StepHeaderRow">
    <td  class="StepHeaderId">Numero</td>
    <td  class="StepHeaderDescription">Descripcion</td>
    <td  class="StepHeaderComments">Observaciones</td>
    <td  class="StepHeaderType">Tipo</td>
    <td  class="StepHeaderOk">Correcto</td>
    <td class="StepHeaderError">Incorrecto</td>
    </tr>
    </thead>
<tbody>
NewRow

    <tr>
    <td colspan="6" class="ExecutionComments">
    Observaciones:
    <br />
<input type="text" style="width: 100%; height: 130px" value='EXCommentsText' />
</td>
    </tr>
</tbody>

    </table>

