	<br /><br />
    <table  class="StatisticNEXTable">
    <thead>
    <tr  class="StatisticNEXTable">
    <td colspan="4"><h3 style="font-size: 30 px;">Casos de Prueba No Ejecutados</h3></td>
    </tr>
    <tr  class="StatisticNEXTable">
    <td class="StatisticRowHeader">Nombre</td>
    <td class="StatisticRowHeader">Descripcion</td>
    <td class="StatisticRowHeader">Tipo</td>
    <td class="StatisticRowHeader">Categoria</td>
    </tr>
    </thead>
<tbody>
NewRow
</tbody>

    </table>
    <br />