<style>

    #tabHomeWrapper > .nav > li > a {
        padding-top: 5px;
        padding-bottom: 5px;
    }

        #tabHomeWrapper > ul > li > a:hover, #tabhome > .nav > li > a:focus {
            text-decoration: none !important;
            background-color: #eee !important;
        }

</style>

<div id="tabHomeWrapper" style="height: 100%;">

    <ul class="nav nav-tabs" style="margin-top: 5px;">

        <li class="active" ng-disabled="Tabs.includes('Acciones');">
            <a href="#tabHomeMain" data-toggle="tab" onclick="setHomePage(this,'HomeMain');">Gestion</a>
        </li>

        <li ng-disabled="!Tabs.includes('Novedades');" style="display: none">
            <a href="#tabHomeNews" data-toggle="tab" onclick="setHomePage(this,'HomeNews');">Novedades</a>
        </li>
        <li ng-disabled="!Tabs.includes('Favoritos');" style="display: none">
            <a href="#tabHomeBookmarks" data-toggle="tab" onclick="setHomePage(this,'HomeBookmarks');">Favoritos</a>
        </li>
        <li ng-disabled="!Tabs.includes('Recientes');" style="display: none">
            <a href="#tabHomeRecents" data-toggle="tab" onclick="setHomePage(this,'HomeRecents');">Recientes</a>
        </li>

        <li ng-disabled="!Tabs.includes('Reportes');" style="display: none">
            <a href="#tabHomeReports" data-toggle="tab" onclick="setHomePage(this,'HomeReports');">Reportes</a>
        </li>

        <li ng-disabled="!Tabs.includes('Agenda');" style="display: none">
            <a href="#tabHomeCalendar" data-toggle="tab" onclick="setHomePage(this,'HomeCalendar');">Agenda</a>
        </li>

        <li ng-disabled="!Tabs.includes('Diagramas');" style="display: none">
            <a href="#tabhomeDiagrams" data-toggle="tab" onclick="setHomePage(this,'HomeDiagrams');">Diagramas</a>
        </li>

    </ul>

    <div class="tab-content" style="height:calc(100% - 65px);padding-top: 10px;">

        <div id="tabhomeMain" class="tab-pane active" style="height:100%;" ng-if="Tabs.includes('Acciones');">
            <iframe src="../../content/Images/loading.gif" id="homePageFrame" class="row"> </iframe>
        </div>

        <div id="tabhomeNews" class="tab-pane" ng-controller="NewsController" style="height:100%;" ng-if="Tabs.includes('Novedades');">
            <zamba-news></zamba-news>
        </div>

        <div id="tabhomeReports" class="tab-pane " style="height:100%;" ng-if="Tabs.includes('Reportes');">
        </div>

        <div id="tabhomeCalendar" class="tab-pane " ng-controller="CalendarCtrl" style="height:100%;" ng-if="Tabs.includes('Agenda');">
            <zamba-linecalendar></zamba-linecalendar>
        </div>

        <div id="tabhomeBookmarks" class="tab-pane " style="height:100%;" ng-if="Tabs.includes('Favoritos');">
        </div>

        <div id="tabhomeRecents" class="tab-pane " style="height:100%;" ng-if="Tabs.includes('Recientes');">
        </div>

        <div id="tabhomeDiagrams" class="tab-pane " style="height:100%;" ng-if="Tabs.includes('Diagramas');">
            <iframe src="../../content/Images/loading.gif" id="diagramsFrame" class="row" frameborder="0" style="border: none; width: 100%; height: 100%"> </iframe>
        </div>

    </div>

</div>