if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Ads]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Ads]
GO

CREATE TABLE [dbo].[Ads] (
	[Id] [int] IDENTITY (1, 1) NOT NULL ,
	[AdId] [int] NOT NULL ,
	[FileName] [nvarchar] (50) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[FileExtension] [nvarchar] (10) COLLATE Modern_Spanish_CI_AS NOT NULL ,
	[Bynary] [image] NOT NULL ,
	[IsMain] [bit] NOT NULL ,
	[CreationDate] [datetime] NOT NULL ,
	[ImageSize] [char] (1) COLLATE Modern_Spanish_CI_AS NOT NULL 
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[Ads] WITH NOCHECK ADD 
	CONSTRAINT [PK_Ads] PRIMARY KEY  CLUSTERED 
	(
		[Id]
	)  ON [PRIMARY] 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[sp_DeleteAdImage]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[sp_DeleteAdImage]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[sp_DeleteAdImageByName]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[sp_DeleteAdImageByName]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[sp_ExistsImageInAd]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[sp_ExistsImageInAd]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[sp_GetAdImages]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[sp_GetAdImages]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[sp_InsertAdImage]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[sp_InsertAdImage]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE sp_DeleteAdImage
	@id as int
AS

DELETE FROM 
	Ads
WHERE 
	id = @id
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE sp_DeleteAdImageByName
(
	@adId as int,
	@fileName as nvarchar(50),
	@fileExtension as nvarchar(10)
)
AS

DELETE FROM 
	Ads
WHERE 
	id = @AdId AND
	fileName = @fileName AND
	fileExtension = @fileExtension
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE sp_ExistsImageInAd
(
	@adId as int,
	@fileName as nvarchar(50),
	@fileExtension as nvarchar(10)
)
	
AS

SELECT 
	Count(Id)as ImagesCount
FROM 
	Ads
WHERE
	FileName = @fileName AND
	FileExtension = @fileExtension AND
	AdId = @adID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE sp_GetAdImages	
	@adId as int
AS

SELECT 
	Id, 
	AdId, 
	FileName, 
	FileExtension, 
	Bynary, 
	IsMain, 
	CreationDate, 
	ImageSize 
FROM 
	Ads
WHERE
	AdiD = @adId
ORDER BY
	Filename,
	FileExtension
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE sp_InsertAdImage
(
	@adId as int, 
	@fileName as nvarchar(50),  
	@fileExtension as nvarchar(10) , 
	@bynary as image, 
	@isMain as bit, 
	@creationDate as datetime, 
	@imageSize as char
)
AS

INSERT INTO Ads(
	AdId, 
	FileName, 
	FileExtension, 
	Bynary, 
	IsMain, 
	CreationDate, 
	ImageSize)
VALUES(
	@adId, 
	@fileName, 
	@fileExtension, 
	@bynary, 
	@isMain, 
	@creationDate, 
	@imageSize
)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

