.clientlogo{
    border: none;
    cursor:pointer;
    display:block;
    background: url("images/logo_agua.png") no-repeat left center;
    height:35px;
    width: 185px;
    text-decoration: none;
 }

/*.clientPhrase{
    background: url("images/marsh_logo.gif") no-repeat center center ;
    filter: alpha(opacity=80);
    opacity: 0.8;
    width: 61.25em;
	height: 16.625em;
}*/

.slogan {
	position: absolute;
	/*left: 0px;*/
    left: 100px;
	/*top: 4em;*/
    top: 100px;
	width: 40em;
	height: 7.5em;
     background: url("images/argentina.gif") no-repeat ;
}

.controlMensaje {
    margin-top: 13em;
    position: relative
}

.pnlZambaLogin {
  margin-top: 1em;
}

.topheader{
    background-image: url("Images/HeaderBg.gif");
    background-repeat: no-repeat;
    height:85px;
    width:100%;
}

.divExternToolbar{
	background: #5c9ccc url("Images/ToolBar.gif") repeat-x;
	border: solid 1px #4297d7;
	color: #ffffff;
	display: block;
	font-family: Verdana;
	font-size: 10px;
	font-weight: 700;
	height:100%;
	margin: 0px 0px 1px;
	padding: 0.1em;
}

.divToolbar a{
	color: #ffffff;	
}

.divInternToolbar{
	border-color: #ffffff;
	color: #ffffff;
	display: block;
	float: left;
	margin: auto 1.5em auto auto;
	padding: 0px 0px 0px 1px;
}

.toolbarButton{
	background: #dfeffc url("images/Button-Default.gif") repeat-x 50% 50%;
	border: solid 1px #c5dbec;
	color: #2e6e9e;
	cursor: pointer;
	float: left;
	font-family: Verdana;
	font-size: 9px;
	font-weight: 700;
	left: 412px;
	margin: 0px 4px 0px 0px;
	padding: 0.4em 1em;
	text-decoration: none;
}

.toolbarButton:hover{
	border: 1px solid #79b7e7; 
	background: #d0e5f5 url("images/Button-Hover.png") 50% 50% repeat-x; 
	font-weight: bold; 
	color: #1d5987;
	cursor: pointer;
	float: left;
	font-family: Verdana;
	font-size: 9px;
	left: 412px;
	margin: 0px 4px 0px 0px;
	padding: 0.4em 1em;
	text-decoration: none;
}

.HomeLink{
	text-decoration:none;
	cursor:pointer;
	font-size:10pt;
}

.tdUser
{
	font-size:10pt;
	white-space:nowrap;	
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  
    padding: .1em 1em;
    font-size: 12px;
}

.navbar-fixed-top {
    background-color: #fff;
}

.filtersfield{
    line-height: 1px;
    margin: 5px 5px 5px 5px;
}


 #MasterHeader {
           height: 50px !important;
    }

 #mainMenu {
          border-color: white !important;
    background-color: white !important;
    }

  @media (max-width: 649px) { 
     .mh-user {     
         
  
    }
    .mh-search {     
        
    }
}

 @media (min-width: 992px) {
    #Advfilter2 {
        margin-top: 0px !important;
    }
    .mh-logo {
        margin-top: 0px !important;   
    }
}
 @media (max-width: 992px) { 
     .mh-logo {     
           padding-left: 50px;
    display: flex;
    }
      .mh-search {     
           padding-top: 10px;
   
    }  
      .mh-user{
              top: -50px;
      }
}
/*Centrar login*/
@media only screen and (max-width: 767px) {
    #Advfilter2 {
        margin-top: 0;
        margin-bottom: 0;
    }
}