
<style>

    #wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #news-wrapper {
        height: 100%;
        overflow: auto;
        flex-grow: 1;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        margin-bottom: 10px;
        cursor: pointer;
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    .card-container {
        width: 100%;
        padding: 15px 10px 1px 10px;
    }

    .btn-toolbar {
        margin-bottom: 5px;
        padding-right: 10px;
    }

    .unread {
        border-left: 3px solid red;
    }

    .btn-default.active, .btn-default.active:focus {
        background-color: rgb(51, 122, 183);
        border-color: rgb(51, 122, 183);
        color: rgb(255, 255, 255);
    }

    .toast {
        opacity: 1;
    }

    #toast-container > div {
        opacity: 1;
    }

    .input-xs {
        height: 27px;
        padding: 2px 5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }

    .btn-xs {
        font-size: 13px !important;
        padding: 3px 8px 3px 8px;
    }

</style>


<div id="wrapper" class="container-fluid">

    <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <button type="button" name="unread" class="btn btn-default btn-xs" ng-class="{'active': btnActive === 'unread'}" ng-click="Reload($event.currentTarget)">
                        No Leidas
                    </button>
                </div>

                <div class="btn-group">
                    <button type="button" name="read" class="btn btn-default btn-xs" ng-class="{'active': btnActive === 'read'}" ng-click="Reload($event.currentTarget)">
                        Leidas
                    </button>
                </div>

                <div class="btn-group">
                    <button type="button" name="all" class="btn btn-default btn-xs" ng-class="{'active': btnActive === 'all'}" ng-click="Reload($event.currentTarget)">
                        Todas
                    </button>
                </div>

                <div class="btn-group">
                    <input type="text" class="form-control input-xs" name="filter" placeholder="Buscar..." ng-model="searchText" />
                </div>

                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default btn-xs pull-right" ng-click="Reload(null)">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                </div>
            </div>

            <p><small><b> {{DataCount}} Novedades </b></small></p>
        </div>
    </div>

    <div id="news-wrapper" class="row">
        <div ng-repeat="news in NewsData | filter:searchText" class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
            <div class="card" ng-class="{ 'unread': news.IsRead == false }" ng-click="OpenTask(news)">
                <div class="card-container">
                    <p><b>{{news.Name}}</b></p>
                    <p><small> <span class="glyphicon glyphicon-calendar"></span> {{news.Time}}</small></p>
                </div>
            </div>
        </div>
    </div>

</div>





