body {
}

.GridView
{
font-family:Verdana;
font-size:small;
border-style:double;   	
border-color:Black;
border-width:thin;  
}


.GridViewFooterStyle
{
		background-color:White;
		color:black; 
}
.RowStyle
{
	 	background-color:White;
		color:black; 
}
.SelectedRowStyle
{
	background-color:Green;
	font-weight:bold;  
	color:White; 
}
.PagerStyle
{
	background-color:Black;
	font-family:Verdana;
	font-size:small;
	color:White;
	height:10px;

}
.HeaderStyle
{
	background-color:Gray;
	font-weight:bold;
	font-family:Verdana;
	font-size:small;
	color:White;
	  
}
