body {
    background-color: white !important;
}

/* col-xs */
@media (max-width:768px) {
}

/* col-sm */
@media (min-width:768px) and (max-width:992px) {
}

/* col-md */
@media (min-width:992px) {
    body {
        padding-top: 60px !important;
    }
}

#MainTabber {
    background-color: white !important;
}



#Table-Principal-Search {
    width: 100%;
}

.Legend-Control-DocTypesIndex {
    border-style: none;
    color: #0045D6;
    margin-left: 5px;
}

#Table-Footer-Search {
    background-color: #D1E5F5;
}

.chkBuscar-footer-search {
    color: Black;
}

.Legend-search {
    border-style: none;
    color: #0045D6;
    margin-left: 5px;
}

/***********Master Blank*******************/
.Table-Principal-MasterBlank {
    width: 100%;
}

.Div-principal-MasterBlank {
    height: 100%;
}


/*******************Frm TaskDetail***************/
.Table-Task-Detail {
    background-color: White;
}

.TabAsociate-Task-Detail {
    overflow-y: visible;
}

.TabForum-Task-Detail {
    overflow-y: visible;
}

.TabHistory-Task-Detail {
    overflow-y: visible;
}

/*****************Frm TaskHistory**********/
.Frm-Task-History {
    background-color: White;
}

.pnlRespuesta-Frm-Forum {
    background-color: White;
}

/*****************/
.NewsTab .ajax__tab_header {
    font-family: verdana,tahoma,helvetica;
    background: url(images/tabs/tab-line.gif) repeat-x bottom;
}

.NewsTab .ajax__tab_outer {
    height: 2em;
    padding-right: 4px;
    background: url(images/tabs/tab-right.gif) no-repeat right top;
}

.NewsTab .ajax__tab_inner {
    padding-left: 3px;
    background: url(images/tabs/tab-left.gif) no-repeat;
}

.NewsTab .ajax__tab_tab {
    height: 2em;
    line-height: 1.8em;
    padding: 0 4px;
    margin: 0 !important;
    background: url(images/tabs/tab.gif) repeat-x;
}

.NewsTab .ajax__tab_hover .ajax__tab_outer {
    background: url(images/tabs/tab-hover-right.gif) no-repeat right top;
}

.NewsTab .ajax__tab_hover .ajax__tab_inner {
    background: url(images/tabs/tab-hover-left.gif) no-repeat;
    cursor: pointer;
}

.NewsTab .ajax__tab_hover .ajax__tab_tab {
    background: url(images/tabs/tab-hover.gif) repeat-x;
}

.NewsTab .ajax__tab_active .ajax__tab_outer {
    background: url(images/tabs/tab-active-right.gif) no-repeat right top;
}

.NewsTab .ajax__tab_active .ajax__tab_inner {
    background: url(images/tabs/tab-active-left.gif) no-repeat;
}

.NewsTab .ajax__tab_active .ajax__tab_tab {
    background: url(images/tabs/tab-active.gif) repeat-x;
}

.NewsTab .ajax__tab_body {
    font-family: verdana,tahoma,helvetica;
    border: 0px solid #A3CEE0;
    border-top: 0;
    padding: 8px;
    background-color: #fff;
}

    .NewsTab .ajax__tab_body ul {
        list-style-type: disc;
        line-height: 1.5em;
        padding-left: 1em;
    }

        .NewsTab .ajax__tab_body ul ul {
            list-style-type: square;
        }

    .NewsTab .ajax__tab_body p {
        text-indent: 1em;
        line-height: 1.3em;
        margin-bottom: 1em;
    }

/*****Frm TaskForm******/
.Body-Task-Forum {
    background-color: White;
}

/*****************Master Page*******************/
.div-presentation-Main {
    display: none;
}

/*************InsertControl*******************/
.insertFormButton {
    width: 130px;
    height: 30px;
    cursor: pointer;
}

/*************Indexs*******************/
.popupButton {
    cursor: pointer;
}

.OverflowAuto {
    overflow: auto;
}

#tabhome {
    background-image: url(../L_Union/Images/logo_agua.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
    background-position-x: center;
}

.MainTabberTab {
    height: 94%;
}


/* Barra de menu */
#headerNav {
    /*background: #004B99;*/
}

    /* Boton cuando se colapsa el menu (es una link) */
    #headerNav a#headerMenu {
        /*background-color: #004B99;*/
        height: 30px !important;
    }

/* Barra con los botones */
#mainMenu {
    background-color: white !important;
    margin-top: 0 !important;
    border-radius: 0 !important;
}

@media (min-width:500px) {
    #mainMenu {
        height: 30px !important;
    }
}

/* Botones dentro de la barra menu */
#mainMenu li {
}

