<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../Content/Styles/jquery.dataTables.min.css" />
    <script type="text/javascript" src="../../Scripts/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../../Scripts/JsonTable.js"></script>
</head>
<body>
    <table id="jsonTable" class="display" hidecolumns="[4,5,6]" columnlink="[6]" zambaws="http://172.18.33.3/zambadesa/Results.asmx"></table>
</body>
</html>
