#filtersWrapper {
    margin: 0 !important;
    padding: 0 !important;
}

.filter-select {
    height: 34px !important;
    margin-right: 5px !important;
    border-color: rgb(204, 204, 204) !important;
    border-radius: 4px !important;
}

.TaskInput {
    border-bottom-left-radius: 4px !important;
    border-top-left-radius: 4px !important;
}

.InputFilter {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.btntrash {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}



.CurrentFilterWrapper {
    float: left !important;
} 

.CurrentFilter {
    height: 25px !important;
    width:19px !important;
    margin: 0px 5px 0 0 !important;
    font-size: 11px !important;
}

#FiltermyNavigation {
    padding-top: 5px !important;
}

.panel-body {
    overflow-y: auto !important;
    height: 90px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
}

.FiltersPanel > .navbar {
    padding-bottom: 8px !important;
}


.ui-datepicker {
    z-index: 9999 !important
}

.datepicker {
    z-index: 9999 !important
}

#ui-datepicker-div {
    z-index: 9999 !important
}


.modal-footer {
    padding-top: 0px !important;
}

#ModalFilters > .modal-dialog-centered > .modal-content > .modal-body {
    padding-bottom: 0px !important;
}
