<div class="container">
    <div class="report-details">
        <div style="font-size: 24px !important;">{{currentReport.Name}}</div>
        <p>{{currentReport.Description}}</p>
    </div>

    <button nz-button btnExcel nzType="primary" (click)="exportToExcel(currentReport)"
        [disabled]=" isButtonExcelDisabled" style="margin-bottom: 5px;">
        <i nz-tooltip nzTooltipTitle="Exportar a excel" nzTooltipPlacement="right" nz-icon nzType="file-excel"
            nzTheme="fill"></i>
    </button>

    <nz-table #filterTable [nzData]="listOfData" nzSize="small" [nzTotal]="listOfData.length"
        [nzPaginationType]="'small'" [nzPaginationPosition]="'top'" [nzShowSizeChanger]="false"
        [nzShowPagination]="nzShowPagination" [nzScroll]="{y: height }" [nzPageSize]="10">
        <thead>
            <tr>
                <ng-container *ngFor="let column of listOfColumns;">
                    <th [nzSortOrder]="column.sortOrder" nzLoading="loading" [nzSortFn]="column.sortFn"
                        [nzSortDirections]="column.sortDirections" [nzWidth]="column.width"
                        [nzFilterMultiple]="column.filterMultiple" [nzFilterFn]="column.filterFn">
                        {{ column.name }}
                    </th>
                </ng-container>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let data of filterTable.data;">
                <tr>
                    <td *ngFor="let key of objectKeys(data)">
                        {{ data[key] }}
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </nz-table>
</div>