<div class="container">
    <div class="report-details">

        <div nz-row [nzGutter]="4">
            <div nz-col nzXs="20" nzFlex="auto">
                <div id="report-name" style="font-size: 24px !important;">{{currentReport.Name}}</div>
            </div>

            <div nz-col nzXs="4" style="margin-top: 5px;">
                <button *ngIf="CanGoToCharts" id="returnToCharts" nz-button anchorBtn nzType="default"
                    (click)="returnToCharts(currentReport)" [disabled]=" isButtonExcelDisabled"
                    style="margin-bottom: 5px;">
                    <i nz-icon nzTooltipPlacement="right" nzType="arrow-left" nzTheme="outline"></i>
                </button>
                <button id="exportToExcelBtn" nz-button anchorBtn nzType="default"
                    (click)="exportToExcel(currentReport)" [disabled]=" isButtonExcelDisabled"
                    style="margin-bottom: 5px;">
                    <i nz-icon nzTooltipPlacement="right" nzType="download" nzTheme="outline"></i>
                </button>
            </div>
        </div>
        <p id="report-description">{{currentReport.Description}}</p>

        <div id="ZVarsPanel">
            <!-- Contenedor único para que todo quede en la misma fila -->
            <div nz-row [nzGutter]="8" style="margin-bottom:8px; align-items:end;">
                <div nz-col nzXs="20" nzMd="20">
                    <div nz-row [nzGutter]="8">

                        <!-- TODO:Aca van los inputs dinamicos por ZVARs -->

                        <div nz-col nzXs="24" nzSm="6">
                            <label for="startDate">Fecha de inicio:</label>
                            <input id="startDate" nz-input type="date" [(ngModel)]="ZVARstartDate">
                        </div>

                        <div nz-col nzXs="24" nzSm="6">
                            <label for="endDate">Fecha hasta:</label>
                            <input id="endDate" nz-input type="date" [(ngModel)]="ZVARendDate">
                        </div>


                        <div *ngFor="let zvar of ListZVARsFromRule" nz-col nzXs="24" nzSm="6">
                            <label>{{zvar.KeyZVar}}:</label>
                            <input nz-input type="text" [(ngModel)]="zvar.ValueZVar">
                        </div>

                    </div>
                </div>
                <!-- Botón separado pero en la misma fila -->
                <!-- <div nz-col nzXs="4" nzMd="4" style="display:flex; align-items:end;">
                    <button nz-button nzType="primary" (click)="OpenReport(currentReport)">Aplicar filtros</button>
                </div> -->

            </div>

            <div nz-col nzXs="4" nzMd="4" style="display:flex; align-items:end;">
                <button nz-button nzType="primary" (click)="rechargeReport()">Aplicar filtros</button>
            </div>




            <!-- <div class="segment-wrapper">
                <span>Select wrap:</span>
            </div>

            <div class="btn-wrapper">
                <button *ngFor="let item of array" nz-button nzType="primary">
                    Button {{ item }}
                </button>
            </div> -->





        </div>
    </div>

    <nz-table #filterTable [nzData]="listOfData" nzSize="small" [nzTotal]="listOfData.length"
        [nzPaginationType]="'small'" [nzPaginationPosition]="'bottom'" [nzShowSizeChanger]="false"
        [nzShowPagination]="nzShowPagination" [nzShowSizeChanger]="true" [nzScroll]="{y: height }" [nzPageSize]="20">
        <thead>
            <tr>
                <ng-container *ngFor="let column of listOfColumns;">
                    <th [nzSortOrder]="column.sortOrder" nzLoading="loading" [nzSortFn]="column.sortFn"
                        [nzSortDirections]="column.sortDirections" [nzWidth]="column.width"
                        [nzFilterMultiple]="column.filterMultiple" [nzFilterFn]="column.filterFn">
                        {{ column.name }}
                    </th>
                </ng-container>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let data of filterTable.data;">
                <tr>
                    <td *ngFor="let key of objectKeys(data)">
                        {{ data[key] }}
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </nz-table>
</div>