<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <title>Zamba Casos de Prueba</title>
    Zamba.Styles
</head>
<body>
    <div>
        <table id="Header" class="TestCasesHeader">
            <tr>
                <td>
                    <img alt="" src="Zamba.LogoCliente" />
                </td>
                <td class="TestCasesCell">
                    <h3 style="font-size: 30 px;">
                       Zamba Casos de Prueba</h3>
                </td>
                <td>
                    <img alt="" src="Zamba.LogoZamba" />
                </td>
                <td class="TestCasesCell" style="vertical-align: middle;">
                    Vigencia: Zamba.FechaActual
                </td>
            </tr>
            <tr>
                <td colspan="3" class="TestCasesCell" style="text-align: left;">
                    Sistema/Aplicacion: Zamba
                </td>
                <td class="TestCasesCell">
                    &nbsp;</td>
            </tr>
        </table>
    </div>
  <h3>
        Proyecto: Zamba.Proyecto</h3> 
        
         <div id="zamba_TestCasesIndex" class="TestCasesIndex">
        Zamba.TestCasesIndex
    </div>
    
    <div id="Zamba_TestCases" class="TestCases">
        Zamba.TestCasesDetails
    </div>
    <div id="Zamba_TestStadistics" class="TestStadistics">
        Zamba.TestStatistics
    </div>
</body>
</html>