	<br /><br />
    <table  class="StatisticErrorTable">
    <thead>
    <tr  class="StatisticErrorTable">
    <td colspan="4"><h3 style="font-size: 30 px;">Casos de Prueba Erroneos</h3></td>
    </tr>
    <tr  class="StatisticErrorTable">
    <td class="StatisticRowHeader">Nombre</td>       
    <td class="StatisticRowHeader">Descripci&oacute;n</td>
    <td class="StatisticRowHeader">Tipo</td> 
    <td class="StatisticRowHeader">Categoria</td>
    </tr>
    </thead>
<tbody>
NewRow
</tbody>

    </table>
    <br />
