	<h3 style="font-size: 30 px;">Estadisticas de los Casos de Pruebas</h3>
    <table class="TestCaseHeader">
        <tr>
            <td class="TestCaseTitle">Casos de Prueba Correctos:</td>
            <td class="TestCaseAutor">Zamba.TCCasesOK</td>
        </tr>
        <tr>
            <td class="TestCaseCategory">Casos de Prueba Erroneos:</td>
            <td class="TestCaseAutor">Zamba.TCCasesError</td>
        </tr>
        <tr>
            <td class="TestCaseAutor">Casos de Prueba no ejecutados:</td>
            <td class="TestCaseAutor">Zamba.TCNonExecuted</td>
        </tr>
         <tr style="margin-top:10px">
            <td rowspan="2" class="TestCaseAutor">Total de Casos de Prueba:</td>
            <td rowspan="2" class="TestCaseAutor">Zamba.TCCasesTotal</td>
        </tr>

    </table>
    	<table class="TestCaseHeader">
        <tr>
            <td class="TestCaseTitle">Casos Ejecutados Correctos:</td>
            <td class="TestCaseAutor">Zamba.EXCasesOK</td>
        </tr>
        <tr>
            <td class="TestCaseCategory">Casos Ejecutados Erroneos:</td>
            <td class="TestCaseAutor">Zamba.EXCasesError</td>
        </tr>
        <tr style="margin-top:10px">
            <td rowspan="2" class="TestCaseAutor">Total de Casos Ejecutados:</td>
            <td rowspan="2" class="TestCaseAutor">Zamba.EXCasesTotal</td>
        </tr>
    </table>
    <br />
    <br />
    <hr />

    <div>
    Zamba.TCErrors
    </div>

    <div>
    Zamba.TCNoEX
    </div>