     
     <style type="text/css">
         
         .td
         {
           border-width           :1px;
            margin: 0 0 0 0;
            padding: 0 0 0 0;
           
             border: 1px;
             }
         .HRstyle
        {
            color: black;
            background-color: black;
            height: 3px;           
        }
        .TestCasesHeader
        {
            width: 100%;
            margin-top: 50px;
            border-style: solid;
            border-width: 1;
            text-align: center;
            border-color:Black;            
        }
        .TestCasesIndex
        {
            width: 100%;
            margin-top: 50px;                      
        }
        .TestCaseHeader
        {
            width: 100%;
            margin-top: 50px;
            border-style: solid;
            border-color:Black;
            border-width: 1;
        }
         .TestCasesCell
        {
            border-style: solid;
            border-width: 1;
            text-align: center;
            vertical-align: text-bottom;
        }
        .TestCaseTable
        {
            width: 100%;
            margin-top: 50px;
            border-style: solid;
            border-width: 1;
        }
        .EXTable
        {
            width: 100%;
            margin-top: 50px;
            border-style: solid;
            border-width: 1;
        }
        
        /*STEPHEADERTABLE*/
        
          .StepHeaderRow
        {
            color:#5E9DC8;
	        background-color:#5E9DC8;
	        border:0px;
	        color:Black;
        }
          .StepHeaderId
        {
            color:#5E9DC8;
	        background-color:#5E9DC8;
	        border:0px;
	        color:Black;
        }
          .StepHeaderDescription
        {
            color:#5E9DC8;
	        background-color:#5E9DC8;
	        border:0px;
	        color:Black;
        }
          .StepHeaderComments
        {
            color:#5E9DC8;
	        background-color:#5E9DC8;
	        border:0px;
	        color:Black;
        }
          .StepHeaderType
        {
            color:#5E9DC8;
	        background-color:#5E9DC8;
	        border:0px;
	        color:Black;
        }
          .StepHeaderOk
        {
            color:#5E9DC8;
	        background-color:#5E9DC8;
	        border:0px;
	        color:Black;
        }
          .StepHeaderError
        {
            color:#5E9DC8;
	        background-color:#5E9DC8;
	        border:0px;
	        color:Black;
        }
        
        /*EXTABLE*/
        
           .EXHeaderDate
        {
            color:#5E9DC8;
	        background-color:#5E9DC8;
	        border:0px;
	        color:Black;
        }
           .EXHeaderUser
        {
            color:#5E9DC8;
	        background-color:#5E9DC8;
	        border:0px;
	        color:Black;
        }
           .EXHeaderResult
        {
            color:#5E9DC8;
	        background-color:#5E9DC8;
	        border:0px;
	        color:Black;
        }
            .EXHeaderLastStep
        {
            color:#5E9DC8;
	        background-color:#5E9DC8;
	        border:0px;
	        color:Black;
        }
            .EXHeaderComments
        {
            color:#5E9DC8;
	        background-color:#5E9DC8;
	        border:0px;
	        color:Black;
        }
        
        /*TestCaseTable*/
        
           .TestCaseHeader
        {
            border-style: solid;
	        border-width: 1px;
	        border-color: Black;
	        color:Black;
        }
           .TestCaseTitle
        {	        
	        border:1px solid black;
        }
           .TestCaseCategory
        {
	        border:1px solid black;
        }
            .TestCaseAutor
        {
	        border-style: solid;
	        border-width: 1px;
	        border-color: Black;
	        color:Black;
        }
            .TestCaseType
        {
	        border-style: solid;
	        border-width: 1px;
	        border-color: Black;
	        color:Black;
        }
            .TestCaseObjectName
        {	        
	        border-style: solid;
	        border-width: 1px;
	        border-color: Black;
	        color: Black;
	        
        }
            .StatisticErrorTable
        {	        
	        border-style: solid;
	        border-width: 1px;
	        border-color: Black;
	        color: Black;
	        
        }
              .StatisticNEXTable
        {	        
	        border-style: solid;
	        border-width: 1px;
	        border-color: Black;
	        color: Black;
	        
        }
              .StatisticRowErrors
        {	        
	        border-style: solid;
	        border-width: 1px;
	        border-color: Black;
	        color: Black;
	        
        }
        
              .StatisticRowNotExecuted
        {	        
	        border-style: solid;
	        border-width: 1px;
	        border-color: Black;
	        color: Black;
	        
        }
              .StatisticRow
        {	        
	        border-style: solid;
	        border-width: 1px;
	        border-color: Black;
	        color: Black;
	        
        }
            .StatisticErrorTable
         {	        
	        border-style: solid;
	        border-width: 1px;
	        border-color: Black;
	        color: Black;	        
	        
        }
           .StatisticNEXTable
         {	        
	        border-style: solid;
	        border-width: 1px;
	        border-color: Black;
	        color: Black;
        }
            .StatisticRowHeader
         {	        
	        border-style: solid;
	        border-width: 1px;
	        border-color: Black;
	        color: Black;
	        text-align: center;
        }   
        
</style>