<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Zamba.Office" publicKeyToken="B1EF4682080379A8" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.2.24" newVersion="2.0.2.24"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
