<div id="z-main-panel">
    <div class='list-container-invoices'>

        <nav class="navbar  navbar-expand   navbar-light bg-light z-nav" >
            <i class="fa fa-arrow-left" ng-click="setUrlParameters()" aria-hidden="true" style="color: white; margin-left: 15px; margin-right: -10px; margin-top: 2px; width: 40px" role="button" tabindex="0"></i>
            <a ng-click="setUrlParameters()" id="backID" class="nav-link" href="#" style="color: white; margin-left: -15px">

                Atras
            </a>

            <div class="container-fluid">

                <a class="navbar-brand" href="#" style="color: white;  font-size: 16px;">
                    <div>
                        <div id="MenuOpciones" class="my-fixed-item" style="display:none">
                            <li class="LielementStyle" data-toggle="modal" data-target="#keyChange" ng-click="CierreMenu()">Cambio de Clave</li>
                        </div>
                    </div>
                    <div style="display: inline-block;" id="MobileAvatar" ng-click="Openopcionmenu()">
                        <img ng-cloak ng-if="thumphoto != null "
                             ng-src="{{'data:image/png;base64,' + thumphoto}}" class="img-circle ng-show"
                             style="width: 37px;height: 33px;margin-left:-5px; border-radius: 17px; ">
                        <img ng-cloak ng-if="thumphoto == null "
                             src="../../../Content/Images/icons/iconoObservacion2.jpg" alt="User Avatar"
                             class=" img-circle ng-show"
                             style="width: 37px;height: 33px;margin-top: 1px;margin-left:-15px; border-radius: 17px; margin-left:-15px" />
                    </div>
                </a>



                <ul class="navbar-nav" style=" flex-direction: row">
                    <li class="nav-item">
                        <a ng-click="ApproveOnlySelectedInvoicesAll()" ng-if="ListFacturas.length > 0 && selectedInvoices.length == 0 && showPendingTab" class="btn btn-success nav-link active" href="#" style="color: white; ">
                            <span style=" line-height: inherit;" class="badge bg-danger ">
                                {{totalInvoicesPendingCount}}
                            </span> Aprobar todo
                        </a>
                        <a ng-click="ApproveOnlySelectedInvoicesAll()" ng-if="seeLaterList.length > 0 && selectedInvoicesLate.length == 0 && !showPendingTab" class="btn btn-success nav-link active" href="#" style="color: white; ">
                            <span style=" line-height: inherit;" class="badge bg-danger ">
                                {{totalInvoicesLateCount}}
                            </span> Aprobar todo
                        </a>
                        <a ng-click="ApproveOnlySelectedInvoices()" ng-if="selectedInvoices.length > 0 && showPendingTab" class="btn btn-success nav-link active" href="#" style="color: white; ">
                            <div ng-if="showPendingTab">
                                <span style=" line-height: inherit;" class="badge bg-danger ">
                                    {{selectedInvoices.length + '/' + totalInvoicesPendingCount}}
                                </span> Aprobar seleccionadas
                            </div>
                        </a>
                        <a ng-click="ApproveOnlySelectedInvoices()" ng-if="selectedInvoicesLate.length > 0 && !showPendingTab" class="btn btn-success nav-link active" href="#" style="color: white;">

                            <div ng-if="!showPendingTab">
                                <span style=" line-height: inherit;" class="badge bg-danger ">
                                    {{selectedInvoicesLate.length + '/' + totalInvoicesLateCount}}
                                </span> Aprobar seleccionadas
                            </div>

                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav pull-right" style=" flex-direction: row">
                    <li class="nav-item">
                        <a ng-click="btnRefresh()" class="nav-link" href="#">
                            <i class="fa fa-refresh" aria-hidden="true" style="color: white;"></i>

                        </a>
                    </li>
                    <li class="nav-item">
                        <a ng-click="SignOut()" class="nav-link" href="#">
                            <i class="fa fa-sign-out" aria-hidden="true" style="color: white;"></i>

                        </a>
                    </li>
                </ul>
            </div>

        </nav>




        <!-- Panel Pending-->
        <div class="accordion pending-panel" style="margin-top: 63px;" ng-show="showPendingTab">
            <center>
                <button class="btn btn-outline-info" ng-if="ListFacturas.length == 0" style="margin-top: 15px;"> No tienes tareas pendientes </button>
            </center>
            <div ng-repeat="lista in ListFacturas" class="invoiceList" ng-class="{selectedInvoice:lista.checked }">
                <div class="accordion-item animate-hide animation-target" style="margin: 1%;" id="{{lista.ID + '-' + lista.ID1}}"
                     ng-show="true">
                    <div id="{{lista.ID}}" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                         data-bs-parent="#accordionExample">
                        <div class="">

                            <div class="">
                                <div class="row">
                                    <div class="col-md-6" style="padding-left: 0px; padding-right: 0px">
                                        <iframe id="{{lista.ID}}" style="width: 100%; height: 100%;"></iframe>
                                        <img id="{{lista.ID}}" style="width: 100%; height: 100%;display:none">
                                    </div>
                                    <div class="col-md-6" style="padding-left: 0px; padding-right: 0px">

                                        <div class="container-fluid" style="margin-top: 10px;">

                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <h5> {{lista.PROVEEDOR}} </h5>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-3">
                                                    <label class=" control-label ColorText"
                                                           style="font-size: 12px;">Moneda</label>
                                                    <div class="col-lg-10">
                                                        <p class="form-control-static" style="font-size: 16px">{{lista.MONEDA}}</p>
                                                    </div>
                                                </div>

                                                <div class="form-group col-6">
                                                    <label class=" control-label ColorText"
                                                           style="font-size: 12px;">Importe</label>
                                                    <div class="col-lg-10">
                                                        <p class="form-control-static" style="font-size: 16px">{{lista.IMPORTE}}</p>
                                                    </div>
                                                </div>

                                                <div class="form-group col-3">
                                                    <label class=" control-label ColorText"
                                                           style="color: #6c757d;font-size: 12px;float: right;">{{lista.ID}}</label>

                                                </div>




                                                <div class="form-group col-12">
                                                    <label class="control-label ColorText"
                                                           style="font-size: 12px;">Tipo</label>
                                                    <div class="col-lg-10">
                                                        <p class="form-control-static" style="font-size:16px">{{lista.TIPO_GASTO}}</p>
                                                    </div>
                                                </div>

                                                <div class="form-group col-12">
                                                    <label class="control-label ColorText"
                                                           style="font-size: 12px;">Concepto</label>
                                                    <div class="col-lg-10">
                                                        <p class="form-control-static" style="font-size:16px">{{lista.CONCEPTO}}</p>
                                                    </div>
                                                </div>

                                                <div class="form-group col-12">
                                                    <label class="control-label ColorText"
                                                           style="font-size: 12px;">Area</label>
                                                    <div class="col-lg-10">
                                                        <p class="form-control-static" style="font-size:16px">{{lista.AREA}}</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-3">

                                                    <button type="button" ng-click="Aprobar(lista.ID1,lista.ID)" ng-cloak
                                                            class="btn  btn-lg"
                                                            style="color: #2b9c2b; font-size: 36px ">

                                                        <img src="../Utilities/images/1.png" alt="Alternate Text">
                                                    </button>
                                                </div>
                                                <div class="col-3">

                                                    <button type="button" ng-click="Rechazar(lista.ID1,lista.ID)" ng-cloak
                                                            class="btn  btn-lg" style="color: #b33000; font-size: 36px;">
                                                        <img src="../Utilities/images/2.png" alt="Alternate Text">
                                                    </button>
                                                </div>
                                                <div class="col-3">
                                                    <a id="{{lista.ID}}" target="_blank" rel="opener" style="text-decoration:none" ng-cloak>
                                                        <button type="button" class="btn  btn-lg" style="color: #265b8f; font-size: 36px;">
                                                            <img src="../Utilities/images/3.png" alt="Alternate Text">
                                                        </button>

                                                    </a>
                                                </div>
                                                <div class="col-3">
                                                    <a ng-click="sentToMultiSelect(lista)" ng-cloak>
                                                        <button type="button" class="btn  btn-lg" style="color: #561c59; font-size: 36px;">
                                                            <img src="../Utilities/images/7.png" ng-if="lista.checked" alt="Alternate Text">
                                                            <!--<i  class="fa fa-check-square-o" aria-hidden="true"></i>-->
                                                            <!--<i class="fa fa-square-o" aria-hidden="true"></i>-->
                                                            <img src="../Utilities/images/6.png" ng-if="!lista.checked" alt="Alternate Text">
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-6" style="text-align: right; margin-top: 8px">
                                                <button ng-show="!lista.checked" type="button" class="btn"  ng-click="sendToseeLaterList(lista)" style="width: 45%; font-weight: bold; color: #1c4a72; background-color: #dfdfdf3d; margin-bottom: 10px; ">Guardar Después >></button>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- END Panel Pending-->
        <!-- Panel SeeLater-->
        <div class="accordion pending-panel" style="margin-top: 63px;" ng-show="!showPendingTab">
            <center>
                <button class="btn btn-outline-info" ng-if="seeLaterList.length == 0" style="margin-top: 15px;"> No tienes tareas para ver despues </button>
            </center>
            <div ng-repeat="invoice in seeLaterList"  class="invoiceList" ng-class="{selectedInvoice:invoice.checked }">
                <div class="accordion-item animate-hide animation-target" style="margin: 1%;" id="{{invoice.ID + '-' + invoice.ID1}}"
                     ng-show="true">
                    <div id="{{invoice.ID}}" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                         data-bs-parent="#accordionExample">
                        <div class="">

                            <div class="">
                                <div class="row">
                                    <div class="col-md-6" style="padding-left: 0px !important; padding-right: 0px !important">
                                        <iframe id="{{invoice.ID}}" style="width: 100%; height: 100%;"></iframe>
                                        <img id="{{invoice.ID}}" style="width: 100%; height: 100%;display:none">
                                    </div>
                                    <div class="col-md-6" style=" padding-left: 0px !important; padding-right: 0px !important">

                                        <div class="container-fluid" style="
    margin-top: 10px;
">

                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <h5> {{invoice.PROVEEDOR}} </h5>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-3">
                                                    <label class=" control-label ColorText"
                                                           style="font-size: 12px;">Moneda</label>
                                                    <div class="col-lg-10">
                                                        <p class="form-control-static" style="font-size:16px">{{invoice.MONEDA}}</p>
                                                    </div>
                                                </div>
                                                <div class="form-group col-6">
                                                    <label class=" control-label ColorText"
                                                           style="font-size: 12px;">Importe</label>
                                                    <div class="col-lg-10">
                                                        <p class="form-control-static" style="font-size:16px">{{invoice.IMPORTE}}</p>
                                                    </div>
                                                </div>
                                                <div class="form-group col-3">
                                                    <label class=" control-label ColorText"
                                                           style="color: #6c757d;font-size: 12px;float: right;">{{invoice.ID}}</label>
                                                </div>
                                                <div class="form-group col-12">
                                                    <label class="control-label ColorText"
                                                           style="font-size: 12px;">Tipo</label>
                                                    <div class="col-lg-10">
                                                        <p class="form-control-static" style="font-size:16px">{{invoice.TIPO_GASTO}}</p>
                                                    </div>
                                                </div>

                                                <div class="form-group col-12">
                                                    <label class="control-label ColorText"
                                                           style="font-size: 12px;">Concepto</label>
                                                    <div class="col-lg-10">
                                                        <p class="form-control-static">{{invoice.CONCEPTO}}</p>
                                                    </div>
                                                </div>
                                                <div class="form-group col-12">
                                                    <label class="control-label ColorText"
                                                           style="font-size: 12px;">Area</label>
                                                    <div class="col-lg-10">
                                                        <p class="form-control-static">{{invoice.AREA}}</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-3">
                                                    <button type="button" ng-click="Aprobar(invoice.ID1,invoice.ID)"
                                                            class="btn  btn-lg"
                                                            style="color: #2b9c2b; font-size: 36px ">
                                                        <img src="../Utilities/images/1.png" alt="Alternate Text">
                                                        
                                                    </button>
                                                </div>
                                                <div class="col-3">

                                                    <button type="button" ng-click="Rechazar(invoice.ID1,invoice.ID)"
                                                            class="btn  btn-lg" style="color: #b33000; font-size: 36px;">
                                                        <img src="../Utilities/images/2.png" alt="Alternate Text">
                                                    </button>
                                                </div>
                                                <div class="col-3">
                                                    <a id="{{invoice.ID}}" target="_blank" rel="opener" style="text-decoration:none">
                                                        <button type="button" class="btn  btn-lg" style="color: #265b8f; font-size: 36px;">
                                                            <img src="../Utilities/images/3.png" alt="Alternate Text">
                                                        </button>
                                                    </a>
                                                </div>
                                                <div class="col-3">
                                                    <a ng-click="sentToMultiSelect(invoice)">
                                                        <button type="button" class="btn  btn-lg" style="color: #561c59; font-size: 36px;">
                                                            <img src="../Utilities/images/7.png" ng-if="invoice.checked" alt="Alternate Text">
                                                            <!--<i  class="fa fa-check-square-o" aria-hidden="true"></i>-->
                                                            <!--<i class="fa fa-square-o" aria-hidden="true"></i>-->
                                                            <img src="../Utilities/images/6.png" ng-if="!invoice.checked"  alt="Alternate Text">
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Panel SeeLater-->
        <div class="modal fade" id="modalMensajes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <h5 class="modal-title " id="exampleModalLabel">{{titulo}} - _TEST PROCESANDO...</h5>
                        <button type="button" data-bs-dismiss="modal"></button>
                    </div>

                    <div class="modal-body">
                        <h5 class="card-title">{{subTitulo}}</h5>
                        <p class="card-text">{{cuerpo}}</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-warning">Send message</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="keyChange" tabindex="-1" role="dialog" aria-labelledby="keyChange" aria-hidden="true">
            <div class="modal-dialog" role="document">

                <div class="modal-body">

                    <div class="modal-content">
                        <form ng-submit="ChangePassword(inputs)">

                            <div class="modal-header">
                                <h4 class="modal-title">Cambiar contraseña</h4>
                            </div>

                            <div class="modal-body">

                                <div class="form-group">
                                    <label>Contraseña Actual</label>
                                    <input class="form-control" ng-model="inputs.CurrentPassword" type="password" />
                                </div>
                                <div class="form-group">
                                    <label>Nueva contraseña</label>
                                    <input class="form-control" ng-model="inputs.NewPassword" type="password" />
                                </div>
                                <div class="form-group">
                                    <label>Confirmar Nueva contraseña</label>
                                    <input class="form-control" ng-model="inputs.NewPassword2" type="password" />
                                </div>

                            </div>

                            <div class="modal-footer" style=" padding: 7px">
                                <input class="btn btn btn-default" type="submit" value="Guardar">
                                <button type="button" class="btn btn-default modal-cancel-button" data-dismiss="modal">Cancelar</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- TABS -->
    <div class="footer-tabs-container">
        <div class="tab-container">
            
            <div id="Pending-btn" class="tab-button" ng-click="tabButtonOnClick('Pending')" ng-class="{'tab-button-selected': showPendingTab}">
                <div class="tab-text">Pendientes</div>
            </div>
            <div id="SeeLater-btn" class="tab-button" ng-click="tabButtonOnClick('SeeLater')" ng-class="{'tab-button-selected': !showPendingTab}">
                <div class="tab-text">Guardados</div>
            </div>
        </div>
        <div class="tab-container">
            <div id="tab-indicator" class="selected-tab-indicator " ng-class="{'indicator-right': !showPendingTab,'indicator-left': showPendingTab }"></div>
        </div>
    </div>
</div>


