#standard-autocomplete,
#virtual-autocomplete {
    width: 200px;
}

.autocomplete-standard-template .md-autocomplete-suggestion,
.autocomplete-virtual-template .md-autocomplete-suggestion {
    border-bottom: 1px solid #ccc;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: normal;
}

    .autocomplete-virtual-template .md-autocomplete-suggestion:last-child,
    .autocomplete-standard-template .md-autocomplete-suggestion:last-child {
        border-bottom-width: 0;
    }

.autocomplete-virtual-template .item-title,
.autocomplete-virtual-template .item-metadata,
.autocomplete-standard-template .item-title,
.autocomplete-standard-template .item-metadata {
    display: block;
    line-height: 2;
}

    .autocomplete-virtual-template .item-title md-icon,
    .autocomplete-standard-template .item-title md-icon {
        height: 18px;
        width: 18px;
    }

.autocomplete-virtual-template .item-desc,
.autocomplete-standard-template .item-desc {
    font-size: 12px;
    margin: 0.8em 0 .8em;
    max-width: 300px;
}

.standard-container,
.virtual-container {
    width: 300px;
}

.instance-wrapper {
    padding: 0 8px;
}

.mdContent {
    padding: 0px !important;
}

.form {
    padding: 1px !important;
}

#mdAutocomplete {
    height: 30px !important;
}

md-autocomplete-wrap {
    height: 30px !important;
}

    md-autocomplete-wrap > input {
        line-height: 30px !important;
        height: 30px !important;
    }

.estiloform {
    margin: -4px 0 4px 0;
    background-color: white !important;
    height: 75%
}


.ListEmails {

    width: 96%;
    min-height: 70px;
    max-height: 200px;
    overflow-y: scroll;
    flex-direction: column;
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px;
    position: absolute;
    z-index: 10;
    display: none;
}

.ItemListed {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 10px;
    border-bottom-width: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

    .ItemListed:hover {
        background-color: var(--ZBlue);
    }
