<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="16.1.0.0" targetFramework="net452" />
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net452" />
  <package id="Angular.Material" version="1.1.12" targetFramework="net452" />
  <package id="angularjs" version="1.8.2" targetFramework="net452" />
  <package id="AngularJS.Animate" version="1.8.2" targetFramework="net452" />
  <package id="AngularJS.Aria" version="1.8.2" targetFramework="net452" />
  <package id="AngularJS.Core" version="1.8.2" targetFramework="net452" />
  <package id="AngularJS.Messages" version="1.8.2" targetFramework="net452" />
  <package id="AngularJS.Route" version="1.8.2" targetFramework="net452" />
  <package id="AngularJS.Sanitize" version="1.8.2" targetFramework="net452" />
  <package id="Antlr" version="3.5.0.2" targetFramework="net452" />
  <package id="AspNet.ScriptManager.bootstrap" version="3.3.7" targetFramework="net452" />
  <package id="AspNet.ScriptManager.jQuery" version="2.2.2" targetFramework="net452" />
  <package id="AspNetBundling" version="2.0.3.0" targetFramework="net452" />
  <package id="AttributeRouting" version="3.5.6" targetFramework="net452" />
  <package id="AttributeRouting.Core" version="3.5.6" targetFramework="net452" />
  <package id="AttributeRouting.Core.Http" version="3.5.6" targetFramework="net452" />
  <package id="AttributeRouting.Core.Web" version="3.5.6" targetFramework="net452" />
  <package id="bootstrap" version="3.3.7" targetFramework="net452" />
  <package id="BuildBundlerMinifier" version="2.4.337" targetFramework="net452" requireReinstallation="true" />
  <package id="Bundler" version="1.1.31" targetFramework="net452" />
  <package id="BundlerMinifier.Core" version="2.4.337" targetFramework="net452" />
  <package id="BundleTransformer.Core" version="1.9.152" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="EntityFramework.es" version="6.1.3" targetFramework="net452" />
  <package id="gsklee.ngStorage" version="0.3.10" targetFramework="net452" />
  <package id="jQuery" version="2.2.2" targetFramework="net452" />
  <package id="jQuery.Validation" version="1.15.0" targetFramework="net452" />
  <package id="lodash" version="4.9.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.FriendlyUrls" version="1.0.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.FriendlyUrls.Core" version="1.0.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.FriendlyUrls.Core.es" version="1.0.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Core.es" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.EntityFramework.es" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Owin.es" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net48" />
  <package id="Microsoft.AspNet.Mvc.es" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Providers.Core" version="2.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Providers.Core.es" version="2.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net48" />
  <package id="Microsoft.AspNet.Razor.es" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.ScriptManager.MSAjax" version="5.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.ScriptManager.WebForms" version="5.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Web.Optimization.es" version="1.1.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Web.Optimization.WebForms" version="1.1.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client.es" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core.es" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost.es" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages.es" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="1.3.2" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.TypeScript.Compiler" version="2.9.2" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net48" />
  <package id="Modernizr" version="2.8.3" targetFramework="net452" />
  <package id="Modernizr.New" version="3.4.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="Node.js" version="5.3.0" targetFramework="net452" />
  <package id="NUglify" version="1.5.5" targetFramework="net452" />
  <package id="odp.net.x64" version="112.3.20" targetFramework="net452" />
  <package id="Oracle.DataAccess.x86" version="2.112.1.0" targetFramework="net452" />
  <package id="Oracle.ManagedDataAccess" version="12.2.1100" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="Respond" version="1.2.0" targetFramework="net452" />
  <package id="underscore.js" version="1.8.3" targetFramework="net452" />
  <package id="WebActivator" version="1.0.0.0" targetFramework="net452" />
  <package id="WebGrease" version="1.6.0" targetFramework="net452" />
</packages>