.modal-header.gj-draggable {
    background-color: #337ab7;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.doShowFormIframe {
    background-color: #337ab7;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.doShowFormDialog {
    padding: 0px !important;
}