<form nz-form [formGroup]="myGroup" (ngSubmit)="InsertReport()">
    <div nz-row>
        <div nz-col nzSpan="6"></div>

        <div nz-col nzSpan="12" style="text-align: center;">
            <h1>EDITOR DE REPORTE</h1>
            <span>En esta sección puedes crear un nuevo reporte.</span>
        </div>
        <div nz-col nzSpan="6"></div>
    </div>

    <div style="padding: 20px;">
        <div nz-row [nzGutter]="4">
            <div nz-col [nzXs]="12" nzSm="12" nzMd="10" nzLg="9" nzXl="16">
                <span>Nombre del reporte:</span><br>
                <input type="text" nz-input placeholder="Nombre..." />
            </div>


            <div nz-col [nzXs]="12" nzSm="12" nzMd="12" nzLg="13" nzXl="8">
                <span>Categoria:</span><br>
                <nz-select id="category" formControlName="category" style="width: 100%;"
                    nzPlaceHolder="Selecciones una categoria">
                    <nz-option nzValue="item.value" nzLabel="item.value"></nz-option>
                </nz-select>
                <!-- <input type="text" nz-input placeholder="Nombre..." /> -->
            </div>



        </div>

        <br>

        <div nz-row>
            <div nz-col [nzXs]="12" nzSm="12" nzMd="14" nzLg="15" nzXl="24">
                <span>Descripcion:</span>
                <textarea rows="4" nz-input placeholder="Agregue una descripcion del reporte..."></textarea>
            </div>
        </div>

        <br>

        <div nz-row>
            <div nz-col [nzXs]="12" nzSm="12" nzMd="14" nzLg="15" nzXl="24">
                <span>Query:</span>
                <textarea rows="4" nz-input placeholder="Inserte query..."></textarea>
            </div>
        </div>

        <br>

        <div nz-row>
            <div nz-col nzFlex="auto"></div>

            <div nz-col nzFlex="" class="right-align">
                <button nz-button nzType="primary">Cancelar</button>
                <button nz-button nzType="primary">Probar</button>
                <button nz-button nzType="primary">Crear reporte</button>
            </div>
        </div>
    </div>
</form>