@ {
    ViewBag.Title = "Licencias";
    ViewBag.Message = "Panel de control de licencias de Zamba.";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

