body {
}

.ul-2 {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;

}

.pubselecttriptype {

margin-left: 40px;
}

.pubslectrow {

margin-top: 30px;
}

    .pubslectrow ul {
    padding-left:0px;
    list-style-type:none;
    }


        .pubslectrow ul li{
    padding-left:0px;
    list-style-type:none;
    }

      
           .pubselectkids{
    padding-left:0px;
    text-align: left;
    list-style-type:none;
    }

.navbar-text {
margin-bottom: 0px;
margin-top: 0px;
}

.ui-tabs .ui-tabs-nav li a {
padding-bottom: 2px;
padding-top: 2px;

}

.ui-tabs .ui-tabs-nav li {
border-bottom-left-radius: 5px;
border-top-right-radius: 5px;
padding-bottom: 1px;

}