
#mat-dialog-0{
    width: 421px !important;
}

#mat-dialog-0{
    width: 63% !important;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }


  table {
    width: 100%;
  }

  .font-size-32{    
    font-size: 32px !important;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .MargenesTable{
    margin: 2%;
  }

  .ClassFilter{
    margin-top: 2%;
    margin-left: 2%;
    width: 50% !important;

  }

  .btn-flotante {
    font-size: 16px; /* Cambiar el tamaño de la tipografia */
    text-transform: uppercase; /* Texto en mayusculas */
    font-weight: bold; /* Fuente en negrita o bold */
    color: #ffffff; /* Color del texto */
    letter-spacing: 2px; /* Espacio entre letras */
    padding: 18px 30px; /* Relleno del boton */
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: all 300ms ease 0ms;
  }
  .btn-flotante:hover {
    transform: translateY(-7px);
  }
  @media only screen and (max-width: 600px) {
     .btn-flotante {
      font-size: 14px;
      padding: 12px 20px;
      bottom: 20px;
      right: 20px;
    }
  } 
  

  .btnEditClass{
    background-color: #28a745 !important;
    color: white !important;
    margin-right: 3px;
  }

  #icon-add-btn{
    padding-bottom: 28px !important;
  }


  