/*Modificaciones nov-2011*/



/*Header*/
#barra-Cabezera {
	 display:none;
}

#divPwbyzambaCenter{
    display:none;
}

/*footer*/
.LogIn {
position:fixed; bottom:0; width:100%; z-index: 99; text-align:center;font-size: 8pt; font-family: tahoma; vertical-align: middle;
}

/*Controles inicio sesion*/

.PanelIniciarSesion
{
    text-align:center;
}

#CeldaBotonIniciarSesion
{
    text-align:center;
    padding-top: 15px; 
    padding-right:100px;
}

#controlMensaje
{
    text-align:center;
    color:Black;
}

.text-box-inicio-sesion
{
    width:140px;
}

.label-inicio-sesion
{
    width:120px;
}

#Alinear-Div-Login
{
    width:100%;text-align:left;  
}

#Alinear-Div-Login table
{
    margin-left:auto;margin-right:auto;text-align:center;
}

.Line-horizontal
{
    color:#000000;
    background-color:#000000;
}

.CeldaTextoInicioSesion
{
    width:300px;
    text-align:left;
}



/*footer*/
.FooterLogIn {
position:fixed; bottom:0; width:100%; z-index: 99; text-align:center;font-size: 8pt; font-family: tahoma; vertical-align: middle;
}