.zFeedItem_Rfalse
{
    background-color: rgb(189, 213, 255);
    padding-bottom: 5px;
}

.zFeedItem_Rtrue
{
    background-color: rgb(232, 240, 255);
    padding-bottom: 5px;
}

.zFeedTime
{
    padding-right: 1em;
    font-size: .8em;    
    color: Gray;
}