body {
}

.ul-2 {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;

}

.pubselecttriptype {

margin-left: 40px;
}

.pubslectrow {

margin-top: 30px;
}

    .pubslectrow ul {
    padding-left:0px;
    list-style-type:none;
    }


        .pubslectrow ul li{
    padding-left:0px;
    list-style-type:none;
    }

      
           .pubselectkids{
    padding-left:0px;
    text-align: left;
    list-style-type:none;
    }

.navbar-text {
}

.ui-tabs .ui-tabs-nav li a {


}

.ui-tabs .ui-tabs-nav li {


}