<div nz-row class="py-lg">
  <div nz-col [nzSpan]="24">
    <nz-card>
      <ng-container *ngIf="user">
        <nz-divider nzText="Datos Personales" />

        <div nz-row nzGutter="4">
          <div nz-col [nzFlex]="avatarSize">
            <div nz-row>
              <div class="avatar-holder">
                <img *ngIf="user.avatar" src="{{ user.avatar }}" />
                <img *ngIf="!user.avatar" />
                <div class="name">{{ user.name }} {{ user.lastName }}</div>
                <div>{{ user.position }}</div>
              </div>
            </div>
          </div>

          <div nz-col nzFlex="auto" [nzSpan]="8" [nzSm]="8" [nzMd]="8" [nzLg]="6" [nzXl]="5">
            <label><strong>name:</strong> {{user.name}} </label>
            <br>
            <label><strong>lastname:</strong> {{ user.lastName }} </label>
            <br>
            <label><strong>birthday:</strong> {{ user.birthday | date: 'dd/MM/yyyy' }} </label>
          </div>

          <div nz-col nzFlex="auto" [nzSpan]="8" [nzSm]="8" [nzMd]="8" [nzLg]="6" [nzXl]="5">
            <label><strong>email:</strong> {{user.email}} </label>
            <br>
            <label><strong>workCellPhone:</strong> {{user.workCellPhone}} </label>
          </div>
        </div>

        <nz-divider nzText="Datos de Empresa" />

        <div nz-row nzGutter="4">
          <div iud="emi" nz-col [nzFlex]="avatarSize"></div>

          <div nz-col nzFlex="auto" [nzSpan]="8" [nzSm]="8" [nzMd]="8" [nzLg]="6" [nzXl]="5">
            <label><strong>company:</strong> {{user.company}} </label>
            <br>
            <label><strong>position:</strong> {{ user.position }} </label>
            <br>
            <label><strong>department:</strong> {{ user.department }} </label>
            <br>
            <label><strong>workmode:</strong> {{user.workMode}} </label>
          </div>

          <div nz-col nzFlex="auto" [nzSpan]="8" [nzSm]="8" [nzMd]="8" [nzLg]="6" [nzXl]="5">
            <label><strong>dateEmploymentEntry:</strong> {{user.dateEmploymentEntry | date: 'dd/MM/yyyy' }} </label>
            <br>
            <label><strong>Area:</strong> {{ user.area }} </label>
            <br>
            <label><strong>employmentStatus:</strong> {{ user.employmentStatus}} </label>
          </div>
        </div>

      </ng-container>
    </nz-card>
  </div>
</div>