.Label
{
	font-family: Times New Roman;
	font-size: medium ;
	
}
.TextBox
{
	font-family: Times New Roman;
	font-size: medium ;
}

.ErrorMessage
{
		font-family: Times New Roman ;
		font-size: large; 
}

.Message
{
	 font-family: Times New Roman;
	 font-size: medium;
}
.Button
