<input nz-input placeholder="Buscar..." [(ngModel)]="searchText" (ngModelChange)="applyFilter($event)"
    class="search-doshowtable" />
<span class="header-title">{{ title }}</span><br>
<nz-table #rowSelectionTable nzSize="middle" nzShowSizeChanger [nzData]="listOfData"
    (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
    <thead>
        <tr>
            <!-- Selección múltiple eliminada 
            <th [nzSelections]="listOfSelection" [(nzChecked)]="checked" [nzIndeterminate]="indeterminate"
                (nzCheckedChange)="onAllChecked($event)"></th>
            -->
            <th></th>
            <th *ngFor="let col of columns">{{ col }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of rowSelectionTable.data; let i = index">
            <td [nzChecked]="setOfCheckedId.has(i)" (nzCheckedChange)="onItemChecked(i, $event)"></td>
            <td *ngFor="let col of columns">{{ data[col] }}</td>
        </tr>
    </tbody>
</nz-table>
<div class="center-btn">
    <button nz-button nzType="default" nzSize="large" (click)="cancel()" style="margin-right: 8px;">Cancelar</button>
    <button nz-button nzType="primary" nzSize="large" (click)="logSelected()"
        [disabled]="setOfCheckedId.size === 0">Aceptar</button>
</div>
<div *ngIf="isLoading" class="spinner-overlay">
    <nz-spin [nzSize]="'large'" nzTip="Cargando..."></nz-spin>
</div>