.send-request {
    margin-bottom: 16px;
}

.send-request span {
    margin-left: 8px;
}

:host ::ng-deep .ant-table-thead>tr>th {
    background: #1890ff;
    /* Cambia este color por el que prefieras */
    color: #fff;
    /* Color del texto */
    font-weight: bold;
}

.header-panel {
    background: white;
    /* mismo color que la cabecera */
    padding: 12px 24px;
    text-align: left;
}

.header-title {
    color: #858585;
    font-size: 18px;
    font-weight: 500;
}