/*****Formulario Search******/
.Fielset-Frm-Search
{
    background-color: #F7FAFC;
}

#Table-Principal-Search
{
    width: 100%;
    background-color: #F7FAFC;
}

.Fielset-Control-DocTypesIndex
{
    border-bottom: #c7d4e0 1px solid;
    border-left: #c7d4e0 1px solid;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 10px;
    border-top: #c7d4e0 1px solid;
    border-right: #c7d4e0 1px solid;
    padding-top: 2px;
    background-color: #F7FAFC;
}

.Legend-Control-DocTypesIndex
{
    border-style: none;
    color: #0045D6;
    margin-left: 5px;
}

#Table-Footer-Search
{
    background-color: #D1E5F5;
}

.chkBuscar-footer-search
{
    color: Black;
}

.Legend-search
{
    border-style: none;
    color: #0045D6;
    margin-left: 5px;
}

.searchButton
{
    height: 22px;
    width: 132px;
    cursor: pointer;
}
/***********Master Blank*******************/
.Table-Principal-MasterBlank
{
    background-color: #F7FAFC;
    width: 100%;
}

.Div-principal-MasterBlank
{
    background-color: #F7FAFC;
    height: 100%;
}

/********************Home*************************/

#btnBusqueda-Aysa
{
background-image: url("../Inside/Images/Busqueda.png");
background-color: #302682;
width:150px;
height:20px;
border:none;
margin-right:5px;
cursor:pointer;
}


#btnListados-Aysa
{
background-image: url("../Inside/Images/Listados.png");
background-color: #302682;
width:150px;
height:20px;
border:none;
margin-right:5px;
cursor:pointer;
}

.HomeLink
{
    display: block !important;        
}

.HomeButton
{
    display: none !important;
    cursor: pointer;
    padding-top:2px;
}

/*******************Frm TaskDetail***************/
.Table-Task-Detail
{
    background-color: White;
}

.TabDoc-Task-Detail
{
}

.TabAsociate-Task-Detail
{
    overflow-y: visible;
}

.TabForum-Task-Detail
{
    overflow-y: visible;
}

.TabHistory-Task-Detail
{
    overflow-y: visible;
}

.TabMails-Task-Detail
{
    overflow-y: visible;
}

/*****************Frm TaskHistory**********/
.Frm-Task-History
{
    background-color: White;
}

.pnlRespuesta-Frm-Forum
{
    background-color: White;
}

/*****************/
.NewsTab .ajax__tab_header
{
    font-family: verdana,tahoma,helvetica;
    background: url(images/tabs/tab-line.gif) repeat-x bottom;
}
.NewsTab .ajax__tab_outer
{
    height: 2em;
    padding-right: 4px;
    background: url(images/tabs/tab-right.gif) no-repeat right top;
}
.NewsTab .ajax__tab_inner
{
    padding-left: 3px;
    background: url(images/tabs/tab-left.gif) no-repeat;
}
.NewsTab .ajax__tab_tab
{
    height: 2em;
    line-height: 1.8em;
    padding: 0 4px;
    margin: 0 !important;
    background: url(images/tabs/tab.gif) repeat-x;
}
.NewsTab .ajax__tab_hover .ajax__tab_outer
{
    background: url(images/tabs/tab-hover-right.gif) no-repeat right top;
}
.NewsTab .ajax__tab_hover .ajax__tab_inner
{
    background: url(images/tabs/tab-hover-left.gif) no-repeat;
    cursor: pointer;
}
.NewsTab .ajax__tab_hover .ajax__tab_tab
{
    background: url(images/tabs/tab-hover.gif) repeat-x;
}
.NewsTab .ajax__tab_active .ajax__tab_outer
{
    background: url(images/tabs/tab-active-right.gif) no-repeat right top;
}
.NewsTab .ajax__tab_active .ajax__tab_inner
{
    background: url(images/tabs/tab-active-left.gif) no-repeat;
}
.NewsTab .ajax__tab_active .ajax__tab_tab
{
    background: url(images/tabs/tab-active.gif) repeat-x;
}
.NewsTab .ajax__tab_body
{
    font-family: verdana,tahoma,helvetica;
    border: 0px solid #A3CEE0;
    border-top: 0;
    padding: 8px;
    background-color: #fff;
}
.NewsTab .ajax__tab_body ul
{
    list-style-type: disc;
    line-height: 1.5em;
    padding-left: 1em;
}
.NewsTab .ajax__tab_body ul ul
{
    list-style-type: square;
}
.NewsTab .ajax__tab_body p
{
    text-indent: 1em;
    line-height: 1.3em;
    margin-bottom: 1em;
}

/*****Frm TaskForm******/

.Body-Task-Forum
{
    background-color: White;
}

/********Frm Default**********/
.tabresults-Frm-Default
{
    background-color: White;
    padding: 0px;
    height: 550px;
}

/*********Frm  Results********************/
.gridContainer-Frm-Results
{
    border: none;
}


/***********Controles****************/
.Fielset-controles-UC
{
    background-color: #EFEFEF;
}

/**********Frm Views - Insert****************/
.div-Frm-Views-Insert
{
    background-color: #EFEFEF;
}

.body-Frm-Views-Insert
{
    background-color: #EFEFEF;
}

/*************Master Blank******************/
.Body-Master-Blanck
{
    background-color: #F7FAFC;
}

/*************Pagina TaskHistory*******************/
.body-TaskHistory
{
    background-color: #FFFFFF;
}

/*************InsertControl*******************/
.insertFormButton
{
    width: 130px;
    height: 30px;
    cursor: pointer;
}

/*************Indexs*******************/
.popupButton
{
    cursor: pointer;
}

.OverflowAuto
{
    overflow: auto;
}

.second-div-presentation-Main
{
    padding-top: 10px;
    text-align: center;
    background-image: url('Images/HomeBg.png'); /*background-position:center; */
    background-repeat: no-repeat;
    background-color: rgb(248, 248, 248);
    height: 100%;
}

.div-presentation-Main
{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(248, 248, 248);
}

.div-tabl-principal-master
{
    position: absolute;
    z-index: -10;
    left: 0;
    display: none;
}