<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wConsDepFielSoap">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://servicios1.afip.gov.ar/Dia/Ws/wConsDepFiel/wConsDepFiel.asmx"
                binding="basicHttpBinding" bindingConfiguration="wConsDepFielSoap"
                contract="ServiceReference1.wConsDepFielSoap" name="wConsDepFielSoap" />
        </client>
    </system.serviceModel>
</configuration>