/*Estilos para reglas DoAskDesition*/

.txtvalueOfDoAskDesition {
    border: none;
    overflow: hidden;
    height: 100% !important;
    resize: none;
    margin-bottom: 20px;
    user-select: none;
    font-size: 20px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 15px !important;
    padding-bottom: 20px !important;
}


.panelBodyStyle {
    padding: 15px !important;
    border-radius: 8px !important;
    border-width: 2px;
    border-color: #0B4376;
    box-shadow: darkslategray;
    box-shadow: 7px 7px 7px #888;
}

