.sitemap-list
{
    /*list-style:none;*/
    padding:0;
    border:none;
    background-color:White;
    margin:0;
}

.text
{
    font: 8px 'Segoe UI' , Arial, sans-serif;
    color: #4888a2;    
    display: block;
}
.rsmLink
{
    border:none;
}

.RadSiteMap .rsmLevel1 a
{
    font: normal 13px Arial,sans-serif;
    border: 0 px;
    border-bottom:0px;
    font-weight:normal;
}

.RadSiteMap .rsmLevel2 a
{
    font: normal 12px Arial,sans-serif;
    border: 0 px;
    border-bottom:0px;
    font-weight:normal !important;    
}

.RadSiteMap .rsmLevel2:hover a
{
    background-color:White;
}

.RadSiteMap .rsmLevel3 a
{
    font: normal 11px Arial,sans-serif;
    border: 0 px;
    font-weight:normal;
    border-bottom:0px;
}

.RadSiteMap .rsmLevel4 a
{
    font: normal 10px Arial,sans-serif;
    border: 0 px;
    border-bottom:0px;
    font-weight:normal;
}

.RadSiteMap .rsmLevel5 a
{
    font: normal 09px Arial,sans-serif;
    border: 0 px;
    border-bottom:0px;
    font-weight:normal;   
}

