.clientlogo
{

}

.clientPhrase
{
    
}

.topheader
{
	background: #f7f7f7 url("Images/logoBapro.jpg") no-repeat;
	background-position: 10% 50%;
	width: 985px;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 100%;
	height:100px;
    cursor:pointer;
}

.divExternToolbar
{
	background: #ffffff url("Images/logoBapro.jpg") repeat-x;
	border: solid 1px #ffffff;
	color: #ffffff;
	display: block;
	font-family: Verdana;
	font-size: 10px;
	font-weight: 700;
	height:100%;
	margin: 0px 0px 1px;
	padding: 0.1em;
}

.divToolbar a
{
	color: #ffffff;	
}

.divInternToolbar
{
	border-color: #ffffff;
	color: #ffffff;
	display: block;
	float: left;
	margin: auto 1.5em auto auto;
	padding: 0px 0px 0px 1px;
}

.toolbarButton
{
	background: #ffffff url("images/Button-Default.gif") repeat-x 50% 50%;
	border: solid 1px #ffffff;
	color: #2e6e9e;
	cursor: pointer;
	float: left;
	font-family: Verdana;
	font-size: 9px;
	font-weight: 700;
	left: 412px;
	margin: 0px 4px 0px 0px;
	padding: 0.4em 1em;
	text-decoration: none;
}

.toolbarButton:hover
{
	border: 1px solid #79b7e7; 
	background: #d0e5f5 url("images/Button-Hover.png") 50% 50% repeat-x; 
	font-weight: bold; 
	color: #1d5987;
	cursor: pointer;
	float: left;
	font-family: Verdana;
	font-size: 9px;
	left: 412px;
	margin: 0px 4px 0px 0px;
	padding: 0.4em 1em;
	text-decoration: none;
}

.HomeLink
{
	text-decoration:none;
	cursor:pointer;
	font-size:10pt;
}

.tdUser
{
	font-size:10pt;
	white-space:nowrap;	
}


/*****Agregado  04-11-2011*****/
#header-Cabezera-Master
{
    display:none;
}



