<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Stardoc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Stardoc.Properties.Settings>
            <setting name="ActiveXTest_svcWordDocumentUploader_FileUploader"
                serializeAs="String">
                <value>http://www.stardoc.com.ar/FileUploaderWebService/FileUploader.asmx</value>
            </setting>
        </Stardoc.Properties.Settings>
    </applicationSettings>
</configuration>