<style type="text/css">
         .dheader
        {
	        border-style: solid;
	        border: 1 px;
	        border-color: Black;
	        color:Black;
        }
        .dTitle
        {
	        border-style: solid;
	        border: 1 px;
	        border-color: Black;
	        color:Black;
        }   
        .dImage
        {
	        border-style: solid;
	        border: 1 px;
	        border-color: Black;
	        color:Black;
        }
        .diagram_header
        {
            width: 100%;
            margin-top: 50px;
            border-style: solid;
            border-color:Black;
            border-width: 1;
        }
        .diagram_Cell
        {
            border-style: solid;
            border-width: 1;
            text-align: center;
            vertical-align: text-bottom;
        }
</style>