<table class="diagram_Cell" width="100%">
    <tr>
        <td class="diagram_Cell" colspan="2" align="center">
            CASOS DE USO
        </td>
     </tr>
    <tr>
        <td class="diagram_Cell">
            TITULO:
        </td>
        <td class="diagram_Cell">
            diagram_UC_Title
        </td>
     </tr>
     <tr>
        <td class="diagram_Cell">
            PRECONDICION:
        </td>
        <td class="diagram_Cell">
            diagram_UC_PreCondition
        </td>
     </tr>
            diagram_UC_StepsGrid     
     <tr>
      <td class="diagram_Cell">
            POSTCONDICION:
        </td>
        <td class="diagram_Cell">
            diagram_UC_PostCondition
        </td>
    </tr>
</table>