<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title>Zamba Software - Informe de Graficos</title>
	</head>
	<body>
        <div>
            <table id="Header" class="diagram_header">
                <tr>
                    <td>
                        <img src="Zamba.LogoCliente" />
                    </td>
                    <td class="diagram_Cell">
                        <h3 style="font-size: 30 px;">
                            Informe Funcional y Tecnico</h3>
                    </td>
                    <td>
                        <img src="Zamba.LogoZamba" />
                    </td>
                    <td class="diagram_Cell" style="vertical-align: middle;">
                       
                    </td>
                </tr>
                
            </table>
        </div>
        <br /><br />

        <table id="Header" class="diagram_header">
                diagramRow
         </table>

	</body>
</html>