
<!DOCTYPE html>
<html>
<head>
    <title></title>
    
    <script src="~/ChatJs/Scripts/jquery-1.8.1.min.js" type="text/javascript"></script>
    <script src="~/ChatJs/Scripts/zambachat.js" type="text/javascript"></script>

    <script>
             //Inicializacion de Chat
             $(document).ready(function () {
                 //var URLServer = "http://www.javysk.somee.com/";
                 //var thisDomain = "http://www.javysk.somee.com";
                 var URLServer = "http://localhost/Zambachat/";
                 var thisDomain = "http://localhost/Zambachat/";
                 //var UserNum = prompt("Escribi tu nombre", "");
                 //var us = UserNum=='jax' ? '1' : '2';
                 LoadChat(0, URLServer,'', thisDomain);
                 //$("center").remove();
                 //$("div")[1].remove();
                 //$("div")[2].remove();
                 //$("div")[1].remove();
             });          
       </script>
    </head>

<body></body>
</html>
