<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAgentService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.zambabpm.com.ar/Zamba.ControlPanel/WS/AgentService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAgentService"
        contract="AgentServiceRef.IAgentService" name="BasicHttpBinding_IAgentService" />
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
