/*Modificaciones nov-2011*/
#loginBody {
    background: url("Images/FondoGrisProv.jpg");
    color: #5a5353;
}

/*Header*/
#barra-Cabezera {
    display: none;
}

.pwbyzamba {
float:right;
height:45px;
position: relative;
margin-right: 3%;
right:5em;
}


/*.cabecera-login2 {
    background: url("Images/psegurosBco-1.png") no-repeat;
    height: 248px;
    position: absolute;
    top:125px;
}*/



.cabecera-login {
    background: url("../Integrity/Images/logo2.png")no-repeat;
    background-size: 58%;
    width: 400px;
    height: 195px;
    margin-top: 4%;

}


@media (min-width:100px) {
   .cabecera-login{
         position:relative;
         margin-left:41%;
    margin-top: -51px !important;
     
    }
   }



/*logo pelota*/

@media (min-width: 1000px) {
   .cabecera-login2{
        
        right:60%;
     
    }
   }




@media (max-width: 1000px) {
   .cabecera-login2{
         
        left:36%;
     
    }
   }


@media (min-width: 1000px) {
   #divPwbyzambaCenter{
    display:block;
    height:50px !important;
   
}
   }

@media (max-width: 1000px) {
   #divPwbyzambaCenter{
    display:block;
    height:250px !important;
   
}
   }

#divPwbyzambaCenterProvincia{

    margin-top:5%;

}


#divPwbyzambaCenter{
    display:block;
    height:250px;
   
}

.pwbyzambaCenter
{
    display:none;
}

#loginBody{
    padding:2%;
}

/*footer
.LogIn {
position:fixed; bottom:0; width:100%; z-index: 99; text-align:center;font-size: 8pt; font-family: tahoma; vertical-align: middle;
}*/

/*Controles inicio sesion

.PanelIniciarSesion
{
    text-align:center;
}

#CeldaBotonIniciarSesion
{
    text-align:center;
    padding-top: 15px; 
    padding-right:100px;
}

#controlMensaje
{
    text-align:center;
    color:Black;
}

.text-box-inicio-sesion
{
    width:140px;
}

.label-inicio-sesion
{
    width:120px;
}

/*#Alinear-Div-Login
{
    width:100%;text-align:left;  
}*/

#Alinear-Div-Login table
{
    margin-left:auto;margin-right:auto;text-align:center;
}

.Line-horizontal
{
    color:#000000;
    background-color:#000000;
}

.CeldaTextoInicioSesion
{
    width:300px;
    text-align:left;
}



footer
.FooterLogIn {
position:fixed;left:4%; bottom:0; width:100%; z-index: 99; text-align:center;font-size: 8pt; font-family: tahoma; vertical-align: middle;
}


@media (min-width: 992px) {

.pnlZambaLogin {
    margin-top:5%;
        margin-left: 35%;
        width: 30%;
    }

    .nlZambaLogin {
        margin-left: 35%;
        width: 30%;
    }
}


.hidden-xs {
    margin-top: 5%;
}

.pull-right.btn.btn-primary.boton-iniciar-sesion2 {
    background-color: #00133f;
    border-color: #00133f;
}